@define-color black	rgba(29,29,29,0.8);
@define-color red	#ed5a56;
@define-color green	#aeb831;
@define-color yellow	#fbb957;
@define-color blue	#81a2a2;
@define-color purple	#cf8997;
@define-color aqua	#88b68d;
@define-color gray	#918072;
@define-color brgray	#bdaead;
@define-color brred	#ed5a56;
@define-color brgreen	#aeb831;
@define-color bryellow	#fbb957;
@define-color brblue	#81a2a2;
@define-color brpurple	#cf8997;
@define-color braqua	#88b68d;
@define-color white	#c4cbcf;
@define-color bg2	#282828;
