# COLOUR (base16)
@define-color black	rgba(15,11,5,0.8);
@define-color red	#a88c62;
@define-color green	#dec8a7;
@define-color yellow	#dec8a7;
@define-color blue	#c3a983;
@define-color purple	#a88c62;
@define-color aqua	#dec8a7;
@define-color gray	#57462c;
@define-color brgray	#a88c62;
@define-color brred	#a88c62;
@define-color brgreen	#dec8a7;
@define-color bryellow	#dec8a7;
@define-color brblue	#c3a983;
@define-color brpurple	#a88c62;
@define-color braqua	#dec8a7;
@define-color white	#c3a983;
@define-color bg2	#231b0e;
