@define-color black	rgba(46,42,49,0.8);
@define-color red	#d8137f;
@define-color green	#17ad98;
@define-color yellow	#dc8a0e;
@define-color blue	#796af5;
@define-color purple	#bb60ea;
@define-color aqua	#149bda;
@define-color gray	#838085;
@define-color brgray	#9f9da2;
@define-color brred	#d8137f;
@define-color brgreen	#17ad98;
@define-color bryellow	#dc8a0e;
@define-color brblue	#796af5;
@define-color brpurple	#bb60ea;
@define-color braqua	#149bda;
@define-color white	#bcbabe;
@define-color bg2	#4a464d;
