@define-color black	rgba(0,16,20,0.8);
@define-color red	#b12f2c;
@define-color green	#00a940;
@define-color yellow	#61d4b9;
@define-color blue	#449985;
@define-color purple	#00599c;
@define-color aqua	#5c7e19;
@define-color gray	#394751;
@define-color brgray	#3b4c52;
@define-color brred	#ff4242;
@define-color brgreen	#2aea5e;
@define-color bryellow	#61d4b9;
@define-color brblue	#61d4b9;
@define-color brpurple	#1298ff;
@define-color braqua	#98cf28;
@define-color white	#3d5053;
@define-color bg2	#012026;
@define-color brblack	#374350;
