@define-color black	rgba(59,50,40,0.8);
@define-color red	#cb6077;
@define-color green	#beb55b;
@define-color yellow	#f4bc87;
@define-color blue	#8ab3b5;
@define-color purple	#a89bb9;
@define-color aqua	#7bbda4;
@define-color gray	#7e705a;
@define-color brgray	#b8afad;
@define-color brred	#cb6077;
@define-color brgreen	#beb55b;
@define-color bryellow	#f4bc87;
@define-color brblue	#8ab3b5;
@define-color brpurple	#a89bb9;
@define-color braqua	#7bbda4;
@define-color white	#d0c8c6;
@define-color bg2	#534636;
