# COLOUR (base16)
@define-color black	rgba(0,17,0,0.8);
@define-color red	#007700;
@define-color green	#00bb00;
@define-color yellow	#007700;
@define-color blue	#009900;
@define-color purple	#00bb00;
@define-color aqua	#005500;
@define-color gray	#007700;
@define-color brgray	#009900;
@define-color brred	#007700;
@define-color brgreen	#00bb00;
@define-color bryellow	#007700;
@define-color brblue	#009900;
@define-color brpurple	#00bb00;
@define-color braqua	#005500;
@define-color white	#00bb00;
@define-color bg2	#003300;
