@define-color black	rgba(38,38,38,0.8);
@define-color red	#444444;
@define-color green	#ffffaf;
@define-color yellow	#87af87;
@define-color blue	#8787af;
@define-color purple	#5fafaf;
@define-color aqua	#87afd7;
@define-color gray	#87875f;
@define-color brgray	#5f87af;
@define-color brred	#444444;
@define-color brgreen	#ffffaf;
@define-color bryellow	#87af87;
@define-color brblue	#8787af;
@define-color brpurple	#5fafaf;
@define-color braqua	#87afd7;
@define-color white	#5f5f87;
@define-color bg2	#af5f5f;
@define-color brblack	#5f875f;
