@define-color black	rgba(0,38,53,0.8);
@define-color red	#ff5a67;
@define-color green	#7fc06e;
@define-color yellow	#ffcc1b;
@define-color blue	#14747e;
@define-color purple	#9a70a4;
@define-color aqua	#5dd7b9;
@define-color gray	#6c8b91;
@define-color brgray	#869696;
@define-color brred	#ff5a67;
@define-color brgreen	#7fc06e;
@define-color bryellow	#ffcc1b;
@define-color brblue	#14747e;
@define-color brpurple	#9a70a4;
@define-color braqua	#5dd7b9;
@define-color white	#a1a19a;
@define-color bg2	#00384d;
@define-color brblack	#517f8d;
