@define-color black	rgba(253,240,237,0.8);
@define-color red	#e95678;
@define-color green	#29d398;
@define-color yellow	#fadad1;
@define-color blue	#26bbd9;
@define-color purple	#ee64ac;
@define-color aqua	#59e1e3;
@define-color gray	#bdb3b1;
@define-color brgray	#948c8a;
@define-color brred	#e95678;
@define-color brgreen	#29d398;
@define-color bryellow	#fadad1;
@define-color brblue	#26bbd9;
@define-color brpurple	#ee64ac;
@define-color braqua	#59e1e3;
@define-color white	#403c3d;
@define-color bg2	#fadad1;
