# COLOUR (base16)
@define-color black	rgba(202,189,160,0.8);
@define-color red	#382e1b;
@define-color green	#110e06;
@define-color yellow	#110e06;
@define-color blue	#251e0f;
@define-color purple	#382e1b;
@define-color aqua	#110e06;
@define-color gray	#645538;
@define-color brgray	#110e06;
@define-color brred	#382e1b;
@define-color brgreen	#110e06;
@define-color bryellow	#110e06;
@define-color brblue	#251e0f;
@define-color brpurple	#382e1b;
@define-color braqua	#110e06;
@define-color white	#382e1b;
@define-color bg2	#bcad8c;
