# COLOUR (base24)
@define-color black	rgba(42,33,28,0.8);
@define-color red	#cc0000;
@define-color green	#1a921c;
@define-color yellow	#43a8ed;
@define-color blue	#0066ff;
@define-color purple	#c5656b;
@define-color aqua	#05989a;
@define-color gray	#737772;
@define-color brgray	#939791;
@define-color brred	#ef2828;
@define-color brgreen	#9aff87;
@define-color bryellow	#43a8ed;
@define-color brblue	#43a8ed;
@define-color brpurple	#ff8089;
@define-color braqua	#34e2e2;
@define-color white	#b3b7b0;
@define-color bg2	#000000;
