@define-color black	rgba(34,34,34,0.8);
@define-color red	#8c3432;
@define-color green	#728271;
@define-color yellow	#60827e;
@define-color blue	#69809e;
@define-color purple	#896492;
@define-color aqua	#5b8390;
@define-color gray	#7b7773;
@define-color brgray	#908880;
@define-color brred	#b55242;
@define-color brgreen	#869985;
@define-color bryellow	#60827e;
@define-color brblue	#60827e;
@define-color brpurple	#de4873;
@define-color braqua	#38add8;
@define-color white	#a4998c;
@define-color bg2	#201f1f;
