@define-color black	rgba(40,49,57,0.8);
@define-color red	#efa9a9;
@define-color green	#8cd4b0;
@define-color yellow	#e0b88a;
@define-color blue	#a2c5fd;
@define-color purple	#ccb7db;
@define-color aqua	#93dfec;
@define-color gray	#60778a;
@define-color brgray	#788ea1;
@define-color brred	#f6bfbf;
@define-color brgreen	#b5e090;
@define-color bryellow	#e0b88a;
@define-color brblue	#c3d9fd;
@define-color brpurple	#e3c3e6;
@define-color braqua	#b2f0fd;
@define-color white	#93a5b4;
@define-color bg2	#3b4954;
@define-color brblack	#4d606f;
