@define-color black	rgba(34,39,61,0.8);
@define-color red	#fa7883;
@define-color green	#98c379;
@define-color yellow	#ff9470;
@define-color blue	#6bb8ff;
@define-color purple	#e799ff;
@define-color aqua	#8af5ff;
@define-color gray	#878d96;
@define-color brgray	#c8c8c8;
@define-color brred	#fa7883;
@define-color brgreen	#98c379;
@define-color bryellow	#ff9470;
@define-color brblue	#6bb8ff;
@define-color brpurple	#e799ff;
@define-color braqua	#8af5ff;
@define-color white	#ffffff;
@define-color bg2	#374059;
@define-color brblack	#525866;
