# COLOUR (base16)
@define-color black	rgba(238,238,238,0.8);
@define-color red	#d70000;
@define-color green	#008700;
@define-color yellow	#d75f00;
@define-color blue	#005f87;
@define-color purple	#8700af;
@define-color aqua	#0087af;
@define-color gray	#858585;
@define-color brgray	#6b6b6b;
@define-color brred	#d70000;
@define-color brgreen	#008700;
@define-color bryellow	#d75f00;
@define-color brblue	#005f87;
@define-color brpurple	#8700af;
@define-color braqua	#0087af;
@define-color white	#5e5e5e;
@define-color bg2	#c4c4c4;
