@define-color black	rgba(254,255,255,0.8);
@define-color red	#ff0000;
@define-color green	#59d500;
@define-color yellow	#efca00;
@define-color blue	#00a1ff;
@define-color purple	#c17ecb;
@define-color aqua	#00d0d6;
@define-color gray	#cccccc;
@define-color brgray	#757575;
@define-color brred	#ff0012;
@define-color brgreen	#93fe00;
@define-color bryellow	#efca00;
@define-color brblue	#88c9ff;
@define-color brpurple	#e8a6e1;
@define-color braqua	#00fdff;
@define-color white	#4f4f4f;
@define-color bg2	#f1f1f1;
@define-color brblack	#dcdcdc;
