@define-color black	rgba(27,24,24,0.8);
@define-color red	#ca4949;
@define-color green	#4b8b8b;
@define-color yellow	#a06e3b;
@define-color blue	#7272ca;
@define-color purple	#8464c4;
@define-color aqua	#5485b6;
@define-color gray	#655d5d;
@define-color brgray	#7e7777;
@define-color brred	#ca4949;
@define-color brgreen	#4b8b8b;
@define-color bryellow	#a06e3b;
@define-color brblue	#7272ca;
@define-color brpurple	#8464c4;
@define-color braqua	#5485b6;
@define-color white	#8a8585;
@define-color bg2	#292424;
