@define-color black	rgba(16,8,20,0.8);
@define-color red	#90274b;
@define-color green	#23801c;
@define-color yellow	#8fb9f9;
@define-color blue	#6480af;
@define-color purple	#664d96;
@define-color aqua	#8aaabd;
@define-color gray	#393446;
@define-color brgray	#413b50;
@define-color brred	#d4346c;
@define-color brgreen	#2cd845;
@define-color bryellow	#8fb9f9;
@define-color brblue	#8fb9f9;
@define-color brpurple	#a479e2;
@define-color braqua	#abd3eb;
@define-color white	#49425a;
@define-color bg2	#241f2a;
