@define-color black	rgba(22,23,45,0.8);
@define-color red	#e33400;
@define-color green	#5ccc96;
@define-color yellow	#f2ce00;
@define-color blue	#7a5ccc;
@define-color purple	#b3a1e6;
@define-color aqua	#00a3cc;
@define-color gray	#686f9a;
@define-color brgray	#818596;
@define-color brred	#e33400;
@define-color brgreen	#5ccc96;
@define-color bryellow	#f2ce00;
@define-color brblue	#7a5ccc;
@define-color brpurple	#b3a1e6;
@define-color braqua	#00a3cc;
@define-color white	#ecf0c1;
@define-color bg2	#1b1c36;
