@define-color black	rgba(9,3,0,0.8);
@define-color red	#db2d20;
@define-color green	#01a252;
@define-color yellow	#fded02;
@define-color blue	#01a0e4;
@define-color purple	#a16a94;
@define-color aqua	#b5e4f4;
@define-color gray	#5c5855;
@define-color brgray	#807d7c;
@define-color brred	#db2d20;
@define-color brgreen	#01a252;
@define-color bryellow	#fded02;
@define-color brblue	#01a0e4;
@define-color brpurple	#a16a94;
@define-color braqua	#b5e4f4;
@define-color white	#a5a2a2;
@define-color bg2	#3a3432;
@define-color brblack	#4a4543;
