# COLOUR (base16)
@define-color black	rgba(34,34,34,0.8);
@define-color red	#e15d67;
@define-color green	#5db129;
@define-color yellow	#e1b31a;
@define-color blue	#00a3f2;
@define-color purple	#b46ee0;
@define-color aqua	#21c992;
@define-color gray	#898989;
@define-color brgray	#898989;
@define-color brred	#e15d67;
@define-color brgreen	#5db129;
@define-color bryellow	#e1b31a;
@define-color brblue	#00a3f2;
@define-color brpurple	#b46ee0;
@define-color braqua	#21c992;
@define-color white	#c0c0c0;
@define-color bg2	#303030;
