@define-color black	rgba(254,251,236,0.8);
@define-color red	#d73737;
@define-color green	#60ac39;
@define-color yellow	#ae9513;
@define-color blue	#6684e1;
@define-color purple	#b854d4;
@define-color aqua	#1fad83;
@define-color gray	#999580;
@define-color brgray	#7d7a68;
@define-color brred	#d73737;
@define-color brgreen	#60ac39;
@define-color bryellow	#ae9513;
@define-color brblue	#6684e1;
@define-color brpurple	#b854d4;
@define-color braqua	#1fad83;
@define-color white	#6e6b5e;
@define-color bg2	#e8e4cf;
@define-color brblack	#a6a28c;
