@define-color black	rgba(18,18,18,0.8);
@define-color red	#fa2834;
@define-color green	#97e123;
@define-color yellow	#fef20a;
@define-color blue	#0442fe;
@define-color purple	#f800f8;
@define-color aqua	#01b6ed;
@define-color gray	#525252;
@define-color brgray	#c0c0c0;
@define-color brred	#f5669c;
@define-color brgreen	#b0e05e;
@define-color bryellow	#fef20a;
@define-color brblue	#0442fe;
@define-color brpurple	#f200f5;
@define-color braqua	#50cdfe;
@define-color white	#dfdfdf;
@define-color bg2	#323232;
@define-color brblack	#424242;
