# COLOUR (base16)
@define-color black	rgba(35,38,43,0.8);
@define-color red	#ff8782;
@define-color green	#95b659;
@define-color yellow	#cfa546;
@define-color blue	#66b0ef;
@define-color purple	#b799ff;
@define-color aqua	#42bda7;
@define-color gray	#898989;
@define-color brgray	#abaaa8;
@define-color brred	#ff8782;
@define-color brgreen	#95b659;
@define-color bryellow	#cfa546;
@define-color brblue	#66b0ef;
@define-color brpurple	#b799ff;
@define-color braqua	#42bda7;
@define-color white	#bab9b6;
@define-color bg2	#303337;
