@define-color black	rgba(41,44,54,0.8);
@define-color red	#f84547;
@define-color green	#95c76f;
@define-color yellow	#efa16b;
@define-color blue	#8485ce;
@define-color purple	#b74989;
@define-color aqua	#64878f;
@define-color gray	#65568a;
@define-color brgray	#b8b8b8;
@define-color brred	#f84547;
@define-color brgreen	#95c76f;
@define-color bryellow	#efa16b;
@define-color brblue	#8485ce;
@define-color brpurple	#b74989;
@define-color braqua	#64878f;
@define-color white	#d8d8d8;
@define-color bg2	#333344;
