@define-color black	rgba(21,17,68,0.8);
@define-color red	#ff8272;
@define-color green	#00c172;
@define-color yellow	#c1e3fe;
@define-color blue	#0071cf;
@define-color purple	#ff8ffd;
@define-color aqua	#6bffdc;
@define-color gray	#5e5e5e;
@define-color brgray	#8f8f8f;
@define-color brred	#ffc4bd;
@define-color brgreen	#d6fcb9;
@define-color bryellow	#c1e3fe;
@define-color brblue	#c1e3fe;
@define-color brpurple	#ffb1fe;
@define-color braqua	#e5e6fe;
@define-color white	#c0c0c0;
@define-color bg2	#080808;
