@define-color black	rgba(232,240,234,0.8);
@define-color red	#c60c30;
@define-color green	#009b3a;
@define-color yellow	#968400;
@define-color blue	#522398;
@define-color purple	#e27ea6;
@define-color aqua	#00a1de;
@define-color gray	#8a9a91;
@define-color brgray	#4b5a51;
@define-color brred	#c60c30;
@define-color brgreen	#009b3a;
@define-color bryellow	#968400;
@define-color brblue	#522398;
@define-color brpurple	#e27ea6;
@define-color braqua	#00a1de;
@define-color white	#364c40;
@define-color bg2	#d1e0d7;
