@define-color black	rgba(34,34,27,0.8);
@define-color red	#ba6236;
@define-color green	#7d9726;
@define-color yellow	#a5980d;
@define-color blue	#36a166;
@define-color purple	#5f9182;
@define-color aqua	#5b9d48;
@define-color gray	#6c6b5a;
@define-color brgray	#878573;
@define-color brred	#ba6236;
@define-color brgreen	#7d9726;
@define-color bryellow	#a5980d;
@define-color brblue	#36a166;
@define-color brpurple	#5f9182;
@define-color braqua	#5b9d48;
@define-color white	#929181;
@define-color bg2	#302f27;
