# COLOUR (base24)
@define-color black	rgba(30,28,68,0.8);
@define-color red	#bc0013;
@define-color green	#49b117;
@define-color yellow	#1896c6;
@define-color blue	#0f49c6;
@define-color purple	#665992;
@define-color aqua	#6fa497;
@define-color gray	#7893bf;
@define-color brgray	#a3abbf;
@define-color brred	#fc5e59;
@define-color brgreen	#9dff6e;
@define-color bryellow	#1896c6;
@define-color brblue	#1896c6;
@define-color brpurple	#9a5952;
@define-color braqua	#c8f9f3;
@define-color white	#cdc3bf;
@define-color bg2	#050404;
