@define-color black	rgba(27,27,29,0.8);
@define-color red	#f8501a;
@define-color green	#565746;
@define-color yellow	#3393c9;
@define-color blue	#2c70b7;
@define-color purple	#f02d4e;
@define-color aqua	#3ba0a5;
@define-color gray	#71ac7c;
@define-color brgray	#85ac8c;
@define-color brred	#f64319;
@define-color brgreen	#74eb4c;
@define-color bryellow	#3393c9;
@define-color brblue	#3393c9;
@define-color brpurple	#e75e4e;
@define-color braqua	#4ebce5;
@define-color white	#98ac9c;
@define-color bg2	#242426;
