@define-color black	rgba(35,33,54,0.8);
@define-color red	#eb6f92;
@define-color green	#3e8fb0;
@define-color yellow	#ea9a97;
@define-color blue	#c4a7e7;
@define-color purple	#f6c177;
@define-color aqua	#9ccfd8;
@define-color gray	#6e6a86;
@define-color brgray	#908caa;
@define-color brred	#eb6f92;
@define-color brgreen	#3e8fb0;
@define-color bryellow	#ea9a97;
@define-color brblue	#c4a7e7;
@define-color brpurple	#f6c177;
@define-color braqua	#9ccfd8;
@define-color white	#e0def4;
@define-color bg2	#2a273f;
