# COLOUR (base16)
@define-color black	rgba(22,27,29,0.8);
@define-color red	#d22d72;
@define-color green	#568c3b;
@define-color yellow	#8a8a0f;
@define-color blue	#257fad;
@define-color purple	#6b6bb8;
@define-color aqua	#2d8f6f;
@define-color gray	#5a7b8c;
@define-color brgray	#7195a8;
@define-color brred	#d22d72;
@define-color brgreen	#568c3b;
@define-color bryellow	#8a8a0f;
@define-color brblue	#257fad;
@define-color brpurple	#6b6bb8;
@define-color braqua	#2d8f6f;
@define-color white	#7ea2b4;
@define-color bg2	#1f292e;
