@define-color black	rgba(60,76,85,0.8);
@define-color red	#83afe5;
@define-color green	#7fc1ca;
@define-color yellow	#a8ce93;
@define-color blue	#83afe5;
@define-color purple	#9a93e1;
@define-color aqua	#f2c38f;
@define-color gray	#899ba6;
@define-color brgray	#899ba6;
@define-color brred	#83afe5;
@define-color brgreen	#7fc1ca;
@define-color bryellow	#a8ce93;
@define-color brblue	#83afe5;
@define-color brpurple	#9a93e1;
@define-color braqua	#f2c38f;
@define-color white	#c5d4dd;
@define-color bg2	#556873;
@define-color brblack	#6a7d89;
