@define-color black	rgba(33,33,33,0.8);
@define-color red	#f07178;
@define-color green	#c3e88d;
@define-color yellow	#ffcb6b;
@define-color blue	#82aaff;
@define-color purple	#c792ea;
@define-color aqua	#89ddff;
@define-color gray	#4a4a4a;
@define-color brgray	#b2ccd6;
@define-color brred	#f07178;
@define-color brgreen	#c3e88d;
@define-color bryellow	#ffcb6b;
@define-color brblue	#82aaff;
@define-color brpurple	#c792ea;
@define-color braqua	#89ddff;
@define-color white	#eeffff;
@define-color bg2	#303030;
@define-color brblack	#353535;
