@define-color black	rgba(42,30,29,0.8);
@define-color red	#be2d26;
@define-color green	#6ba08a;
@define-color yellow	#b8d3ed;
@define-color blue	#5a86ac;
@define-color purple	#ab80a6;
@define-color aqua	#74a5ac;
@define-color gray	#ab8664;
@define-color brgray	#bca280;
@define-color brred	#e84526;
@define-color brgreen	#94d7ba;
@define-color bryellow	#b8d3ed;
@define-color brblue	#b8d3ed;
@define-color brpurple	#d09dca;
@define-color braqua	#92ced6;
@define-color white	#cdbe9b;
@define-color bg2	#573d25;
