@define-color black	rgba(248,248,242,0.8);
@define-color red	#b0151a;
@define-color green	#388e3c;
@define-color yellow	#ffb627;
@define-color blue	#0082c9;
@define-color purple	#700f98;
@define-color aqua	#008e8e;
@define-color gray	#c0c0bd;
@define-color brgray	#60615d;
@define-color brred	#b0151a;
@define-color brgreen	#388e3c;
@define-color bryellow	#ffb627;
@define-color brblue	#0082c9;
@define-color brpurple	#700f98;
@define-color braqua	#008e8e;
@define-color white	#232629;
@define-color bg2	#efefe9;
@define-color brblack	#deded8;
