@define-color black	rgba(40,40,40,0.8);
@define-color red	#c03900;
@define-color green	#b8bb26;
@define-color yellow	#ffcc1b;
@define-color blue	#458588;
@define-color purple	#fabd2f;
@define-color aqua	#8f3f71;
@define-color gray	#928374;
@define-color brgray	#bdae93;
@define-color brred	#c03900;
@define-color brgreen	#b8bb26;
@define-color bryellow	#ffcc1b;
@define-color brblue	#458588;
@define-color brpurple	#fabd2f;
@define-color braqua	#8f3f71;
@define-color white	#d5c7a1;
@define-color bg2	#212f3d;
@define-color brblack	#504945;
