@define-color black	rgba(19,29,66,0.8);
@define-color red	#ff4242;
@define-color green	#74af68;
@define-color yellow	#23d7d7;
@define-color blue	#338f86;
@define-color purple	#9413e5;
@define-color aqua	#23d7d7;
@define-color gray	#66786e;
@define-color brgray	#8f9b94;
@define-color brred	#ff3242;
@define-color brgreen	#74cd68;
@define-color bryellow	#23d7d7;
@define-color brblue	#23d7d7;
@define-color brpurple	#ff37ff;
@define-color braqua	#00ede1;
@define-color white	#b8beba;
@define-color bg2	#000000;
