@define-color black	rgba(255,255,255,0.8);
@define-color red	#f72729;
@define-color green	#32895c;
@define-color yellow	#156ffe;
@define-color blue	#125ccf;
@define-color purple	#9f00bc;
@define-color aqua	#32c2c0;
@define-color gray	#6b6d6a;
@define-color brgray	#838482;
@define-color brred	#fb0416;
@define-color brgreen	#2cc631;
@define-color bryellow	#156ffe;
@define-color brblue	#156ffe;
@define-color brpurple	#e800b0;
@define-color braqua	#39d5ce;
@define-color white	#9a9b9a;
@define-color bg2	#000000;
