@define-color black	rgba(27,27,27,0.8);
@define-color red	#b74131;
@define-color green	#7da900;
@define-color yellow	#8dcff0;
@define-color blue	#62a3c4;
@define-color purple	#b98acc;
@define-color aqua	#207383;
@define-color gray	#838383;
@define-color brgray	#8d8d8d;
@define-color brred	#d6837b;
@define-color brgreen	#c4f036;
@define-color bryellow	#8dcff0;
@define-color brblue	#8dcff0;
@define-color brpurple	#f799ff;
@define-color braqua	#69d9cf;
@define-color white	#969696;
@define-color bg2	#000000;
