# COLOUR (base16)
@define-color black	rgba(26,26,47,0.8);
@define-color red	#ff662a;
@define-color green	#8cd97c;
@define-color yellow	#ffd15e;
@define-color blue	#2b926f;
@define-color purple	#1b825f;
@define-color aqua	#4cad83;
@define-color gray	#313140;
@define-color brgray	#515155;
@define-color brred	#ff662a;
@define-color brgreen	#8cd97c;
@define-color bryellow	#ffd15e;
@define-color brblue	#2b926f;
@define-color brpurple	#1b825f;
@define-color braqua	#4cad83;
@define-color white	#818175;
@define-color bg2	#202030;
