# COLOUR (base24)
@define-color black	rgba(14,14,14,0.8);
@define-color red	#cd3131;
@define-color green	#0dbc79;
@define-color yellow	#3b8eea;
@define-color blue	#2472c8;
@define-color purple	#bc3fbc;
@define-color aqua	#11a8cd;
@define-color gray	#858585;
@define-color brgray	#a5a5a5;
@define-color brred	#f14c4c;
@define-color brgreen	#23d18b;
@define-color bryellow	#3b8eea;
@define-color brblue	#3b8eea;
@define-color brpurple	#d670d6;
@define-color braqua	#29b8db;
@define-color white	#c5c5c5;
@define-color bg2	#000000;
