# COLOUR (base24)
@define-color black	rgba(231,231,233,0.8);
@define-color red	#ca1243;
@define-color green	#50a14f;
@define-color yellow	#febb2a;
@define-color blue	#4078f2;
@define-color purple	#a626a4;
@define-color aqua	#0184bc;
@define-color gray	#a0a1a7;
@define-color brgray	#696c77;
@define-color brred	#ec2258;
@define-color brgreen	#6db76c;
@define-color bryellow	#febb2a;
@define-color brblue	#709af5;
@define-color brpurple	#d02fcd;
@define-color braqua	#01a7ef;
@define-color white	#383a42;
@define-color bg2	#dfdfe1;
