@define-color black	rgba(11,28,44,0.8);
@define-color red	#bf8b56;
@define-color green	#56bf8b;
@define-color yellow	#8bbf56;
@define-color blue	#8b56bf;
@define-color purple	#bf568b;
@define-color aqua	#568bbf;
@define-color gray	#627e99;
@define-color brgray	#aabcce;
@define-color brred	#bf8b56;
@define-color brgreen	#56bf8b;
@define-color bryellow	#8bbf56;
@define-color brblue	#8b56bf;
@define-color brpurple	#bf568b;
@define-color braqua	#568bbf;
@define-color white	#cbd6e2;
@define-color bg2	#223b54;
@define-color brblack	#405c79;
