@define-color black	rgba(0,0,0,0.8);
@define-color red	#990000;
@define-color green	#00a600;
@define-color yellow	#0000ff;
@define-color blue	#0000b2;
@define-color purple	#b200b2;
@define-color aqua	#00a6b2;
@define-color gray	#7c7c7c;
@define-color brgray	#929292;
@define-color brred	#e50000;
@define-color brgreen	#00d900;
@define-color bryellow	#0000ff;
@define-color brblue	#0000ff;
@define-color brpurple	#e500e5;
@define-color braqua	#00e5e5;
@define-color white	#a8a8a8;
@define-color bg2	#000000;
@define-color brblack	#666666;
