@define-color black	rgba(38,36,39,0.8);
@define-color red	#ff7272;
@define-color green	#bcdf59;
@define-color yellow	#ffca58;
@define-color blue	#49cae4;
@define-color purple	#a093e2;
@define-color aqua	#aee8f4;
@define-color gray	#676567;
@define-color brgray	#7c7b7d;
@define-color brred	#ff8787;
@define-color brgreen	#c6e472;
@define-color bryellow	#ffca58;
@define-color brblue	#64d2e8;
@define-color brpurple	#aea3e6;
@define-color braqua	#baebf6;
@define-color white	#fcfcfc;
@define-color bg2	#3b393c;
@define-color brblack	#514f52;
