@define-color black	rgba(209,214,219,0.8);
@define-color red	#576d82;
@define-color green	#6d8257;
@define-color yellow	#57826d;
@define-color blue	#82576d;
@define-color purple	#6d5782;
@define-color aqua	#826d57;
@define-color gray	#75808a;
@define-color brgray	#47505a;
@define-color brred	#576d82;
@define-color brgreen	#6d8257;
@define-color bryellow	#57826d;
@define-color brblue	#82576d;
@define-color brpurple	#6d5782;
@define-color braqua	#826d57;
@define-color white	#323b43;
@define-color bg2	#aeb6be;
@define-color brblack	#909aa3;
