@define-color black	rgba(213,214,219,0.8);
@define-color red	#8c4351;
@define-color green	#33635c;
@define-color yellow	#8f5e15;
@define-color blue	#34548a;
@define-color purple	#5a4a78;
@define-color aqua	#0f4b6e;
@define-color gray	#9699a3;
@define-color brgray	#4c505e;
@define-color brred	#8c4351;
@define-color brgreen	#33635c;
@define-color bryellow	#8f5e15;
@define-color brblue	#34548a;
@define-color brpurple	#5a4a78;
@define-color braqua	#0f4b6e;
@define-color white	#4c505e;
@define-color bg2	#cbccd1;
