# COLOUR (base24)
@define-color black	rgba(36,39,58,0.8);
@define-color red	#ed8796;
@define-color green	#a6da95;
@define-color yellow	#eed49f;
@define-color blue	#8aadf4;
@define-color purple	#c6a0f6;
@define-color aqua	#8bd5ca;
@define-color gray	#494d64;
@define-color brgray	#5b6078;
@define-color brred	#ee99a0;
@define-color brgreen	#a6da95;
@define-color bryellow	#eed49f;
@define-color brblue	#7dc4e4;
@define-color brpurple	#f5bde6;
@define-color braqua	#91d7e3;
@define-color white	#cad3f5;
@define-color bg2	#1e2030;
