@define-color black	rgba(23,25,30,0.8);
@define-color red	#ff29a8;
@define-color green	#0badff;
@define-color yellow	#f0ffaa;
@define-color blue	#00eaff;
@define-color purple	#00f6d9;
@define-color aqua	#8265ff;
@define-color gray	#383a47;
@define-color brgray	#555e70;
@define-color brred	#ff29a8;
@define-color brgreen	#0badff;
@define-color bryellow	#f0ffaa;
@define-color brblue	#00eaff;
@define-color brpurple	#00f6d9;
@define-color braqua	#8265ff;
@define-color white	#8b9cbe;
@define-color bg2	#22262d;
@define-color brblack	#3c3f4c;
