@define-color black	rgba(255,255,255,0.8);
@define-color red	#c04851;
@define-color green	#428675;
@define-color yellow	#d6a01d;
@define-color blue	#815c94;
@define-color purple	#c08eaf;
@define-color aqua	#2b73af;
@define-color gray	#80766e;
@define-color brgray	#918072;
@define-color brred	#c04851;
@define-color brgreen	#428675;
@define-color bryellow	#d6a01d;
@define-color brblue	#815c94;
@define-color brpurple	#c08eaf;
@define-color braqua	#2b73af;
@define-color white	#4a4035;
@define-color bg2	#e0e0e0;
