# COLOUR (base24)
@define-color black	rgba(33,33,33,0.8);
@define-color red	#b14956;
@define-color green	#91b377;
@define-color yellow	#5485c0;
@define-color blue	#7b8fa4;
@define-color purple	#a5779e;
@define-color aqua	#7fcccb;
@define-color gray	#6c6d70;
@define-color brgray	#83868b;
@define-color brred	#ec5f67;
@define-color brgreen	#88e985;
@define-color bryellow	#5485c0;
@define-color brblue	#5485c0;
@define-color brpurple	#bf83c0;
@define-color braqua	#58c2c0;
@define-color white	#9a9fa6;
@define-color bg2	#15171c;
