@define-color black	rgba(56,56,56,0.8);
@define-color red	#dca3a3;
@define-color green	#5f7f5f;
@define-color yellow	#e0cf9f;
@define-color blue	#7cb8bb;
@define-color purple	#dc8cc3;
@define-color aqua	#93e0e3;
@define-color gray	#6f6f6f;
@define-color brgray	#808080;
@define-color brred	#dca3a3;
@define-color brgreen	#5f7f5f;
@define-color bryellow	#e0cf9f;
@define-color brblue	#7cb8bb;
@define-color brpurple	#dc8cc3;
@define-color braqua	#93e0e3;
@define-color white	#dcdccc;
@define-color bg2	#404040;
@define-color brblack	#606060;
