@define-color black	rgba(23,29,35,0.8);
@define-color red	#d95468;
@define-color green	#8bd49c;
@define-color yellow	#ebbf83;
@define-color blue	#539afc;
@define-color purple	#b62d65;
@define-color aqua	#70e1e8;
@define-color gray	#526270;
@define-color brgray	#b7c5d3;
@define-color brred	#d95468;
@define-color brgreen	#8bd49c;
@define-color bryellow	#ebbf83;
@define-color brblue	#539afc;
@define-color brpurple	#b62d65;
@define-color braqua	#70e1e8;
@define-color white	#d8e2ec;
@define-color bg2	#1d252c;
