@define-color black	rgba(21,23,24,0.8);
@define-color red	#cd3f45;
@define-color green	#9fca56;
@define-color yellow	#e6cd69;
@define-color blue	#55b5db;
@define-color purple	#a074c4;
@define-color aqua	#55dbbe;
@define-color gray	#41535b;
@define-color brgray	#43a5d5;
@define-color brred	#cd3f45;
@define-color brgreen	#9fca56;
@define-color bryellow	#e6cd69;
@define-color brblue	#55b5db;
@define-color brpurple	#a074c4;
@define-color braqua	#55dbbe;
@define-color white	#d6d6d6;
@define-color bg2	#282a2b;
