# COLOUR (base24)
@define-color black	rgba(26,26,26,0.8);
@define-color red	#e9897c;
@define-color green	#b6377d;
@define-color yellow	#b6defb;
@define-color blue	#a9cdeb;
@define-color purple	#75507b;
@define-color aqua	#c9caec;
@define-color gray	#4b4b4b;
@define-color brgray	#838383;
@define-color brred	#f99286;
@define-color brgreen	#c3f786;
@define-color bryellow	#b6defb;
@define-color brblue	#b6defb;
@define-color brpurple	#ad7fa8;
@define-color braqua	#d7d9fc;
@define-color white	#bababa;
@define-color bg2	#050505;
