# COLOUR (base16)
@define-color black	rgba(33,35,55,0.8);
@define-color red	#f16c75;
@define-color green	#37f499;
@define-color yellow	#f1fc79;
@define-color blue	#39ddfd;
@define-color purple	#a48cf2;
@define-color aqua	#04d1f9;
@define-color gray	#7081d0;
@define-color brgray	#a1abe0;
@define-color brred	#f16c75;
@define-color brgreen	#37f499;
@define-color bryellow	#f1fc79;
@define-color brblue	#39ddfd;
@define-color brpurple	#a48cf2;
@define-color braqua	#04d1f9;
@define-color white	#ebfafa;
@define-color bg2	#323449;
