@define-color black	rgba(0,0,0,0.8);
@define-color red	#ff0000;
@define-color green	#79ff0f;
@define-color yellow	#709aed;
@define-color blue	#386bd7;
@define-color purple	#b349be;
@define-color aqua	#66ccff;
@define-color gray	#7b7b7b;
@define-color brgray	#909090;
@define-color brred	#ff0080;
@define-color brgreen	#66ff66;
@define-color bryellow	#709aed;
@define-color brblue	#709aed;
@define-color brpurple	#db67e6;
@define-color braqua	#79dff2;
@define-color white	#a5a5a5;
@define-color bg2	#2a2a2a;
