@define-color black	rgba(24,27,31,0.8);
@define-color red	#df7f78;
@define-color green	#50b584;
@define-color yellow	#9ca748;
@define-color blue	#61a3e6;
@define-color purple	#a48fe1;
@define-color aqua	#00b3c2;
@define-color gray	#636363;
@define-color brgray	#9e9e9e;
@define-color brred	#df7f78;
@define-color brgreen	#50b584;
@define-color bryellow	#9ca748;
@define-color brblue	#61a3e6;
@define-color brpurple	#a48fe1;
@define-color braqua	#00b3c2;
@define-color white	#cecece;
@define-color bg2	#24272b;
