@define-color black	rgba(255,255,255,0.8);
@define-color red	#cc342b;
@define-color green	#198844;
@define-color yellow	#fba922;
@define-color blue	#3971ed;
@define-color purple	#a36ac7;
@define-color aqua	#3971ed;
@define-color gray	#b4b7b4;
@define-color brgray	#969896;
@define-color brred	#cc342b;
@define-color brgreen	#198844;
@define-color bryellow	#fba922;
@define-color brblue	#3971ed;
@define-color brpurple	#a36ac7;
@define-color braqua	#3971ed;
@define-color white	#373b41;
@define-color bg2	#e0e0e0;
