# COLOUR (base16)
@define-color black	rgba(46,52,64,0.8);
@define-color red	#bf616a;
@define-color green	#a3be8c;
@define-color yellow	#ebcb8b;
@define-color blue	#81a1c1;
@define-color purple	#b48ead;
@define-color aqua	#88c0d0;
@define-color gray	#4c566a;
@define-color brgray	#d8dee9;
@define-color brred	#bf616a;
@define-color brgreen	#a3be8c;
@define-color bryellow	#ebcb8b;
@define-color brblue	#81a1c1;
@define-color brpurple	#b48ead;
@define-color braqua	#88c0d0;
@define-color white	#e5e9f0;
@define-color bg2	#3b4252;
