@define-color black	rgba(36,27,38,0.8);
@define-color red	#877bb6;
@define-color green	#c965bf;
@define-color yellow	#a84a73;
@define-color blue	#6a9eb5;
@define-color purple	#78a38f;
@define-color aqua	#9c5fce;
@define-color gray	#6c3cb2;
@define-color brgray	#7e5f83;
@define-color brred	#877bb6;
@define-color brgreen	#c965bf;
@define-color bryellow	#a84a73;
@define-color brblue	#6a9eb5;
@define-color brpurple	#78a38f;
@define-color braqua	#9c5fce;
@define-color white	#eed5d9;
@define-color bg2	#2f2a3f;
@define-color brblack	#46354a;
