@define-color black	rgba(20,6,7,0.8);
@define-color red	#90002a;
@define-color green	#579523;
@define-color yellow	#cfc9ff;
@define-color blue	#8b87af;
@define-color purple	#682e50;
@define-color aqua	#e8a766;
@define-color gray	#473438;
@define-color brgray	#523e43;
@define-color brred	#c5245c;
@define-color brgreen	#8dff56;
@define-color bryellow	#cfc9ff;
@define-color brblue	#cfc9ff;
@define-color brpurple	#fb6cb9;
@define-color braqua	#ffceae;
@define-color white	#5d484e;
@define-color bg2	#2a1a1c;
