@define-color black	rgba(241,239,238,0.8);
@define-color red	#f22c40;
@define-color green	#7b9726;
@define-color yellow	#c38418;
@define-color blue	#407ee7;
@define-color purple	#6666ea;
@define-color aqua	#3d97b8;
@define-color gray	#9c9491;
@define-color brgray	#766e6b;
@define-color brred	#f22c40;
@define-color brgreen	#7b9726;
@define-color bryellow	#c38418;
@define-color brblue	#407ee7;
@define-color brpurple	#6666ea;
@define-color braqua	#3d97b8;
@define-color white	#68615e;
@define-color bg2	#e6e2e0;
