# COLOUR (base16)
@define-color black	rgba(14,60,70,0.8);
@define-color red	#fb6953;
@define-color green	#73d8ad;
@define-color yellow	#fce380;
@define-color blue	#46bddd;
@define-color purple	#756b8a;
@define-color aqua	#3fb2b9;
@define-color gray	#587073;
@define-color brgray	#9dc8cd;
@define-color brred	#fb6953;
@define-color brgreen	#73d8ad;
@define-color bryellow	#fce380;
@define-color brblue	#46bddd;
@define-color brpurple	#756b8a;
@define-color braqua	#3fb2b9;
@define-color white	#c7dbdd;
@define-color bg2	#1d494e;
