@define-color black	rgba(253,249,245,0.8);
@define-color red	#ac1f35;
@define-color green	#0c680c;
@define-color yellow	#645a00;
@define-color blue	#0158ad;
@define-color purple	#6645c2;
@define-color aqua	#01716f;
@define-color gray	#5a5a5a;
@define-color brgray	#404040;
@define-color brred	#ac1f35;
@define-color brgreen	#0c680c;
@define-color bryellow	#645a00;
@define-color brblue	#0158ad;
@define-color brpurple	#6645c2;
@define-color braqua	#01716f;
@define-color white	#292929;
@define-color bg2	#f9f5f1;
