# COLOUR (base16)
@define-color black	rgba(255,245,229,0.8);
@define-color red	#b14745;
@define-color green	#557300;
@define-color yellow	#876500;
@define-color blue	#246da5;
@define-color purple	#7a50c6;
@define-color aqua	#0e7767;
@define-color gray	#7f8080;
@define-color brgray	#5d6065;
@define-color brred	#b14745;
@define-color brgreen	#557300;
@define-color bryellow	#876500;
@define-color brblue	#246da5;
@define-color brpurple	#7a50c6;
@define-color braqua	#0e7767;
@define-color white	#4e5359;
@define-color bg2	#ece4d6;
