# COLOUR (base24)
@define-color black	rgba(28,11,40,0.8);
@define-color red	#99236d;
@define-color green	#5bb0b2;
@define-color yellow	#38163d;
@define-color blue	#90a5bc;
@define-color purple	#9d53a7;
@define-color aqua	#7e82cc;
@define-color gray	#534a5e;
@define-color brgray	#877e86;
@define-color brred	#c77171;
@define-color brgreen	#0a6b7e;
@define-color bryellow	#38163d;
@define-color brblue	#38163d;
@define-color brpurple	#bc93b6;
@define-color braqua	#5d5f71;
@define-color white	#bbb2ad;
@define-color bg2	#0a4b61;
