@define-color black	rgba(245,247,255,0.8);
@define-color red	#c94922;
@define-color green	#ac9739;
@define-color yellow	#c08b30;
@define-color blue	#3d8fd1;
@define-color purple	#6679cc;
@define-color aqua	#22a2c9;
@define-color gray	#898ea4;
@define-color brgray	#6b7394;
@define-color brred	#c94922;
@define-color brgreen	#ac9739;
@define-color bryellow	#c08b30;
@define-color brblue	#3d8fd1;
@define-color brpurple	#6679cc;
@define-color braqua	#22a2c9;
@define-color white	#5e6687;
@define-color bg2	#dfe2f1;
