# COLOUR (base24)
@define-color black	rgba(254,255,255,0.8);
@define-color red	#ff0000;
@define-color green	#4cc300;
@define-color yellow	#e2bf00;
@define-color blue	#008df5;
@define-color purple	#a86bb2;
@define-color aqua	#00bdc3;
@define-color gray	#cccccc;
@define-color brgray	#757575;
@define-color brred	#ff0012;
@define-color brgreen	#8af600;
@define-color bryellow	#e2bf00;
@define-color brblue	#75beff;
@define-color brpurple	#d798d0;
@define-color braqua	#00f6fa;
@define-color white	#4f4f4f;
@define-color bg2	#f1f1f1;
