@define-color black	rgba(11,14,20,0.8);
@define-color red	#f07178;
@define-color green	#aad94c;
@define-color yellow	#ffb454;
@define-color blue	#59c2ff;
@define-color purple	#d2a6ff;
@define-color aqua	#95e6cb;
@define-color gray	#3e4b59;
@define-color brgray	#bfbdb6;
@define-color brred	#f07178;
@define-color brgreen	#aad94c;
@define-color bryellow	#ffb454;
@define-color brblue	#59c2ff;
@define-color brpurple	#d2a6ff;
@define-color braqua	#95e6cb;
@define-color white	#e6e1cf;
@define-color bg2	#131721;
@define-color brblack	#202229;
