# COLOUR (base24)
@define-color black	rgba(27,29,30,0.8);
@define-color red	#e6db43;
@define-color green	#c8be46;
@define-color yellow	#909495;
@define-color blue	#737074;
@define-color purple	#737271;
@define-color aqua	#615f5e;
@define-color gray	#6d6f6e;
@define-color brgray	#8a8c89;
@define-color brred	#fff68d;
@define-color brgreen	#fff27c;
@define-color bryellow	#909495;
@define-color brblue	#909495;
@define-color brpurple	#9a999d;
@define-color braqua	#a2a2a5;
@define-color white	#a7a8a3;
@define-color bg2	#1b1d1e;
