@define-color black	rgba(32,32,32,0.8);
@define-color red	#fb5255;
@define-color green	#98b61b;
@define-color yellow	#6c9bed;
@define-color blue	#437ee6;
@define-color purple	#9d73b0;
@define-color aqua	#248886;
@define-color gray	#c5c5c5;
@define-color brgray	#8b8b8b;
@define-color brred	#fc6f72;
@define-color brgreen	#98b61b;
@define-color bryellow	#6c9bed;
@define-color brblue	#6c9bed;
@define-color brpurple	#fc7efe;
@define-color braqua	#248886;
@define-color white	#515151;
@define-color bg2	#acacac;
@define-color brblack	#fffefe;
