@define-color black	rgba(28,30,32,0.8);
@define-color red	#f18238;
@define-color green	#9ed264;
@define-color yellow	#61b8d0;
@define-color blue	#4f96be;
@define-color purple	#695abb;
@define-color aqua	#d53864;
@define-color gray	#545552;
@define-color brgray	#8d8e8b;
@define-color brred	#d12a24;
@define-color brgreen	#a7d32c;
@define-color bryellow	#61b8d0;
@define-color brblue	#61b8d0;
@define-color brpurple	#695abb;
@define-color braqua	#d53864;
@define-color white	#c5c6c4;
@define-color bg2	#1c1d19;
@define-color brblack	#1c1d19;
