# COLOUR (base16)
@define-color black	rgba(16,22,0,0.8);
@define-color red	#ee2e00;
@define-color green	#63d932;
@define-color yellow	#eebb00;
@define-color blue	#5b4a9f;
@define-color purple	#883e9f;
@define-color aqua	#3d94a5;
@define-color gray	#2e2e05;
@define-color brgray	#ffd129;
@define-color brred	#ee2e00;
@define-color brgreen	#63d932;
@define-color bryellow	#eebb00;
@define-color brblue	#5b4a9f;
@define-color brpurple	#883e9f;
@define-color braqua	#3d94a5;
@define-color white	#ffda51;
@define-color bg2	#1a1e01;
