# COLOUR (base16)
@define-color black	rgba(45,45,45,0.8);
@define-color red	#d25252;
@define-color green	#a5c261;
@define-color yellow	#ffc66d;
@define-color blue	#6c99bb;
@define-color purple	#d197d9;
@define-color aqua	#bed6ff;
@define-color gray	#777777;
@define-color brgray	#b4b7b4;
@define-color brred	#d25252;
@define-color brgreen	#a5c261;
@define-color bryellow	#ffc66d;
@define-color brblue	#6c99bb;
@define-color brpurple	#d197d9;
@define-color braqua	#bed6ff;
@define-color white	#cccccc;
@define-color bg2	#393939;
