@define-color black	rgba(18,18,18,0.8);
@define-color red	#e27373;
@define-color green	#93b979;
@define-color yellow	#b1d8f6;
@define-color blue	#97bedc;
@define-color purple	#e1c0fa;
@define-color aqua	#00988e;
@define-color gray	#c5c5c5;
@define-color brgray	#cdcdcd;
@define-color brred	#ffa1a1;
@define-color brgreen	#bddeab;
@define-color bryellow	#b1d8f6;
@define-color brblue	#b1d8f6;
@define-color brpurple	#fbdaff;
@define-color braqua	#1ab2a8;
@define-color white	#d5d5d5;
@define-color bg2	#929292;
