# COLOUR (base16)
@define-color black	rgba(246,246,246,0.8);
@define-color red	#9c5a02;
@define-color green	#38781c;
@define-color yellow	#c48218;
@define-color blue	#48bac2;
@define-color purple	#a94598;
@define-color aqua	#2d6bb1;
@define-color gray	#898989;
@define-color brgray	#767676;
@define-color brred	#9c5a02;
@define-color brgreen	#38781c;
@define-color bryellow	#c48218;
@define-color brblue	#48bac2;
@define-color brpurple	#a94598;
@define-color braqua	#2d6bb1;
@define-color white	#181818;
@define-color bg2	#dedede;
