@define-color black	rgba(33,35,55,0.8);
@define-color red	#ff5370;
@define-color green	#2df4c0;
@define-color yellow	#ffc777;
@define-color blue	#40ffff;
@define-color purple	#b994f1;
@define-color aqua	#04d1f9;
@define-color gray	#748cd6;
@define-color brgray	#a1abe0;
@define-color brred	#ff5370;
@define-color brgreen	#2df4c0;
@define-color bryellow	#ffc777;
@define-color brblue	#40ffff;
@define-color brpurple	#b994f1;
@define-color braqua	#04d1f9;
@define-color white	#a3ace1;
@define-color bg2	#403c64;
@define-color brblack	#596399;
