# COLOUR (base24)
@define-color black	rgba(9,3,0,0.8);
@define-color red	#db2d20;
@define-color green	#01a252;
@define-color yellow	#807d7c;
@define-color blue	#01a0e4;
@define-color purple	#a16a94;
@define-color aqua	#b5e4f4;
@define-color gray	#6e6a68;
@define-color brgray	#807d7b;
@define-color brred	#e8bbd0;
@define-color brgreen	#3a3432;
@define-color bryellow	#807d7c;
@define-color brblue	#807d7c;
@define-color brpurple	#d6d5d4;
@define-color braqua	#cdab53;
@define-color white	#928f8e;
@define-color bg2	#090300;
