@define-color black	rgba(24,36,48,0.8);
@define-color red	#4ce587;
@define-color green	#c3e88d;
@define-color yellow	#f6cd5c;
@define-color blue	#82aaff;
@define-color purple	#ff84dd;
@define-color aqua	#5fd1ff;
@define-color gray	#616d78;
@define-color brgray	#74afe7;
@define-color brred	#4ce587;
@define-color brgreen	#c3e88d;
@define-color bryellow	#f6cd5c;
@define-color brblue	#82aaff;
@define-color brpurple	#ff84dd;
@define-color braqua	#5fd1ff;
@define-color white	#c8e1f8;
@define-color bg2	#243c54;
@define-color brblack	#46290a;
