# COLOUR (base24)
@define-color black	rgba(15,17,21,0.8);
@define-color red	#ff567f;
@define-color green	#00ff9b;
@define-color yellow	#6871ff;
@define-color blue	#00b0fe;
@define-color purple	#d47bfe;
@define-color aqua	#75c1fe;
@define-color gray	#7f7f7f;
@define-color brgray	#979797;
@define-color brred	#ff6d67;
@define-color brgreen	#5ff967;
@define-color bryellow	#6871ff;
@define-color brblue	#6871ff;
@define-color brpurple	#d582eb;
@define-color braqua	#5ffdff;
@define-color white	#afafaf;
@define-color bg2	#101116;
