# COLOUR (base24)
@define-color black	rgba(21,21,21,0.8);
@define-color red	#fa859c;
@define-color green	#a1bb54;
@define-color yellow	#ddb26f;
@define-color blue	#5ab9ed;
@define-color purple	#db8fea;
@define-color aqua	#10bcad;
@define-color gray	#505050;
@define-color brgray	#b0b0b0;
@define-color brred	#fb9fb1;
@define-color brgreen	#acc267;
@define-color bryellow	#ddb26f;
@define-color brblue	#6fc2ef;
@define-color brpurple	#e1a3ee;
@define-color braqua	#12cfc0;
@define-color white	#d0d0d0;
@define-color bg2	#202020;
