@define-color black	rgba(12,16,20,0.8);
@define-color red	#c23127;
@define-color green	#33859e;
@define-color yellow	#edb443;
@define-color blue	#195466;
@define-color purple	#888ca6;
@define-color aqua	#2aa889;
@define-color gray	#0a3749;
@define-color brgray	#245361;
@define-color brred	#c23127;
@define-color brgreen	#33859e;
@define-color bryellow	#edb443;
@define-color brblue	#195466;
@define-color brpurple	#888ca6;
@define-color braqua	#2aa889;
@define-color white	#599cab;
@define-color bg2	#11151c;
@define-color brblack	#091f2e;
