# COLOUR (base16)
@define-color black	rgba(25,25,25,0.8);
@define-color red	#dc657d;
@define-color green	#84b97c;
@define-color yellow	#c3ba63;
@define-color blue	#639ee4;
@define-color purple	#b888e2;
@define-color aqua	#4bb1a7;
@define-color gray	#5f5a60;
@define-color brgray	#505050;
@define-color brred	#dc657d;
@define-color brgreen	#84b97c;
@define-color bryellow	#c3ba63;
@define-color brblue	#639ee4;
@define-color brpurple	#b888e2;
@define-color braqua	#4bb1a7;
@define-color white	#a7a7a7;
@define-color bg2	#202020;
