# COLOUR (base24)
@define-color black	rgba(238,238,238,0.8);
@define-color red	#af0000;
@define-color green	#008700;
@define-color yellow	#5f8700;
@define-color blue	#0087af;
@define-color purple	#8700af;
@define-color aqua	#d75f00;
@define-color gray	#878787;
@define-color brgray	#b2b2b2;
@define-color brred	#d70000;
@define-color brgreen	#87af00;
@define-color bryellow	#5f8700;
@define-color brblue	#ff8700;
@define-color brpurple	#5fafff;
@define-color braqua	#00af00;
@define-color white	#444444;
@define-color bg2	#e4e4e4;
