@define-color black	rgba(250,240,220,0.8);
@define-color red	#de5d6e;
@define-color green	#76a85d;
@define-color yellow	#b3684f;
@define-color blue	#5890f8;
@define-color purple	#c173d1;
@define-color aqua	#64b5a7;
@define-color gray	#585858;
@define-color brgray	#282828;
@define-color brred	#de5d6e;
@define-color brgreen	#76a85d;
@define-color bryellow	#b3684f;
@define-color brblue	#5890f8;
@define-color brpurple	#c173d1;
@define-color braqua	#64b5a7;
@define-color white	#181818;
@define-color bg2	#c8c8c8;
@define-color brblack	#888888;
