@define-color black	rgba(37,42,47,0.8);
@define-color red	#ed5d86;
@define-color green	#20c290;
@define-color yellow	#eb824d;
@define-color blue	#4080d0;
@define-color purple	#a070d0;
@define-color aqua	#02efef;
@define-color gray	#7f8285;
@define-color brgray	#9ea0a2;
@define-color brred	#f57d9a;
@define-color brgreen	#a0d0a0;
@define-color bryellow	#eb824d;
@define-color brblue	#80b0f0;
@define-color brpurple	#c090f0;
@define-color braqua	#40c0c0;
@define-color white	#bcbdc0;
@define-color bg2	#43474c;
