@define-color black	rgba(30,5,40,0.8);
@define-color red	#00d9e9;
@define-color green	#05cb0d;
@define-color yellow	#955ae7;
@define-color blue	#550068;
@define-color purple	#8991bb;
@define-color aqua	#b900b1;
@define-color gray	#320f55;
@define-color brgray	#873582;
@define-color brred	#00d9e9;
@define-color brgreen	#05cb0d;
@define-color bryellow	#955ae7;
@define-color brblue	#550068;
@define-color brpurple	#8991bb;
@define-color braqua	#b900b1;
@define-color white	#ffeeff;
@define-color bg2	#1a092d;
