@define-color black	rgba(0,0,0,0.8);
@define-color red	#ff0000;
@define-color green	#61ce3c;
@define-color yellow	#ffff00;
@define-color blue	#4c83ff;
@define-color purple	#ff1493;
@define-color aqua	#93e0e3;
@define-color gray	#4f4f4f;
@define-color brgray	#8b8989;
@define-color brred	#ff0000;
@define-color brgreen	#61ce3c;
@define-color bryellow	#ffff00;
@define-color brblue	#4c83ff;
@define-color brpurple	#ff1493;
@define-color braqua	#93e0e3;
@define-color white	#dcdccc;
@define-color bg2	#2b2b2b;
@define-color brblack	#383838;
