@define-color black	rgba(251,243,219,0.8);
@define-color red	#cc1729;
@define-color green	#428b00;
@define-color yellow	#a78300;
@define-color blue	#006dce;
@define-color purple	#825dc0;
@define-color aqua	#00978a;
@define-color gray	#909995;
@define-color brgray	#909995;
@define-color brred	#cc1729;
@define-color brgreen	#428b00;
@define-color bryellow	#a78300;
@define-color brblue	#006dce;
@define-color brpurple	#825dc0;
@define-color braqua	#00978a;
@define-color white	#53676d;
@define-color bg2	#ece3cc;
@define-color brblack	#d5cdb6;
