@define-color black	rgba(32,33,38,0.8);
@define-color red	#ff661a;
@define-color green	#f2e6a9;
@define-color yellow	#ffdc2d;
@define-color blue	#40bfff;
@define-color purple	#ae94f9;
@define-color aqua	#fb6acb;
@define-color gray	#a1d2e6;
@define-color brgray	#cad3ff;
@define-color brred	#ff661a;
@define-color brgreen	#f2e6a9;
@define-color bryellow	#ffdc2d;
@define-color brblue	#40bfff;
@define-color brpurple	#ae94f9;
@define-color braqua	#fb6acb;
@define-color white	#e9e7e1;
@define-color bg2	#2d303d;
