@define-color black	rgba(41,42,68,0.8);
@define-color red	#a0a0c5;
@define-color green	#6dfedf;
@define-color yellow	#ae81ff;
@define-color blue	#2de0a7;
@define-color purple	#7aa5ff;
@define-color aqua	#8eaee0;
@define-color gray	#666699;
@define-color brgray	#a0a0c5;
@define-color brred	#a0a0c5;
@define-color brgreen	#6dfedf;
@define-color bryellow	#ae81ff;
@define-color brblue	#2de0a7;
@define-color brpurple	#7aa5ff;
@define-color braqua	#8eaee0;
@define-color white	#f1eff8;
@define-color bg2	#663399;
@define-color brblack	#383a62;
