@define-color black	rgba(8,40,69,0.8);
@define-color red	#a82320;
@define-color green	#2d9440;
@define-color yellow	#3c7dd2;
@define-color blue	#3167ac;
@define-color purple	#781aa0;
@define-color aqua	#2c9370;
@define-color gray	#444e5b;
@define-color brgray	#68717b;
@define-color brred	#d4312e;
@define-color brgreen	#32a548;
@define-color bryellow	#3c7dd2;
@define-color brblue	#3c7dd2;
@define-color brpurple	#8230a7;
@define-color braqua	#35b387;
@define-color white	#8c939a;
@define-color bg2	#1d2845;
@define-color brblack	#2e2e45;
