# COLOUR (base16)
@define-color black	rgba(40,44,52,0.8);
@define-color red	#e06c75;
@define-color green	#98c379;
@define-color yellow	#e5c07b;
@define-color blue	#61afef;
@define-color purple	#c678dd;
@define-color aqua	#56b6c2;
@define-color gray	#545862;
@define-color brgray	#565c64;
@define-color brred	#e06c75;
@define-color brgreen	#98c379;
@define-color bryellow	#e5c07b;
@define-color brblue	#61afef;
@define-color brpurple	#c678dd;
@define-color braqua	#56b6c2;
@define-color white	#abb2bf;
@define-color bg2	#353b45;
