@define-color black	rgba(25,25,25,0.8);
@define-color red	#ca372d;
@define-color green	#4d7b3a;
@define-color yellow	#89d3f6;
@define-color blue	#4387cf;
@define-color purple	#b86cb4;
@define-color aqua	#72d4c6;
@define-color gray	#a6a8a6;
@define-color brgray	#b3b6b3;
@define-color brred	#c37d62;
@define-color brgreen	#83d0a2;
@define-color bryellow	#89d3f6;
@define-color brblue	#89d3f6;
@define-color brpurple	#fe2c79;
@define-color braqua	#82e9da;
@define-color white	#c0c4c0;
@define-color bg2	#5a5a5a;
@define-color brblack	#9a9a99;
