# COLOUR (base16)
@define-color black	rgba(72,88,103,0.8);
@define-color red	#b38686;
@define-color green	#87b386;
@define-color yellow	#aab386;
@define-color blue	#868cb3;
@define-color purple	#b386b2;
@define-color aqua	#86b3b3;
@define-color gray	#8299a1;
@define-color brgray	#98afb5;
@define-color brred	#b38686;
@define-color brgreen	#87b386;
@define-color bryellow	#aab386;
@define-color brblue	#868cb3;
@define-color brpurple	#b386b2;
@define-color braqua	#86b3b3;
@define-color white	#b0c5c8;
@define-color bg2	#5a6d7a;
