# COLOUR (base16)
@define-color black	rgba(40,33,28,0.8);
@define-color red	#cf6a4c;
@define-color green	#54be0d;
@define-color yellow	#f9ee98;
@define-color blue	#5ea6ea;
@define-color purple	#9b859d;
@define-color aqua	#afc4db;
@define-color gray	#666666;
@define-color brgray	#797977;
@define-color brred	#cf6a4c;
@define-color brgreen	#54be0d;
@define-color bryellow	#f9ee98;
@define-color brblue	#5ea6ea;
@define-color brpurple	#9b859d;
@define-color braqua	#afc4db;
@define-color white	#8a8986;
@define-color bg2	#36312e;
