# COLOUR (base16)
@define-color black	rgba(29,31,33,0.8);
@define-color red	#cc342b;
@define-color green	#198844;
@define-color yellow	#fba922;
@define-color blue	#3971ed;
@define-color purple	#a36ac7;
@define-color aqua	#3971ed;
@define-color gray	#969896;
@define-color brgray	#b4b7b4;
@define-color brred	#cc342b;
@define-color brgreen	#198844;
@define-color bryellow	#fba922;
@define-color brblue	#3971ed;
@define-color brpurple	#a36ac7;
@define-color braqua	#3971ed;
@define-color white	#c5c8c6;
@define-color bg2	#282a2e;
