@define-color black	rgba(255,122,211,0.8);
@define-color red	#a80f20;
@define-color green	#bafc8b;
@define-color yellow	#eedf4b;
@define-color blue	#145fcd;
@define-color purple	#ff36a2;
@define-color aqua	#6bd0bc;
@define-color gray	#696769;
@define-color brgray	#918c91;
@define-color brred	#d81329;
@define-color brgreen	#d2ffaf;
@define-color bryellow	#eedf4b;
@define-color brblue	#0074ea;
@define-color brpurple	#fdd5e5;
@define-color braqua	#79ebd5;
@define-color white	#b9b1b8;
@define-color bg2	#0c0c0c;
@define-color brblack	#424242;
