# COLOUR (base24)
@define-color black	rgba(0,0,0,0.8);
@define-color red	#9f0000;
@define-color green	#008b00;
@define-color yellow	#0000ff;
@define-color blue	#0081ff;
@define-color purple	#bc00ca;
@define-color aqua	#008b8b;
@define-color gray	#6e6e6e;
@define-color brgray	#888888;
@define-color brred	#ff0000;
@define-color brgreen	#00ee00;
@define-color bryellow	#0000ff;
@define-color brblue	#0000ff;
@define-color brpurple	#ff00ff;
@define-color braqua	#00cdcd;
@define-color white	#a1a1a1;
@define-color bg2	#000000;
