# COLOUR (base24)
@define-color black	rgba(32,32,32,0.8);
@define-color red	#fa5355;
@define-color green	#126e00;
@define-color yellow	#6d9df1;
@define-color blue	#4581eb;
@define-color purple	#fa54ff;
@define-color aqua	#33c2c1;
@define-color gray	#6b6b6b;
@define-color brgray	#818181;
@define-color brred	#fb7172;
@define-color brgreen	#67ff4f;
@define-color bryellow	#6d9df1;
@define-color brblue	#6d9df1;
@define-color brpurple	#fb82ff;
@define-color braqua	#60d3d1;
@define-color white	#979797;
@define-color bg2	#000000;
