@define-color black	rgba(29,31,33,0.8);
@define-color red	#cc6666;
@define-color green	#b5bd68;
@define-color yellow	#f0c674;
@define-color blue	#81a2be;
@define-color purple	#b294bb;
@define-color aqua	#8abeb7;
@define-color gray	#969896;
@define-color brgray	#b4b7b4;
@define-color brred	#e74c3c;
@define-color brgreen	#b8d4b3;
@define-color bryellow	#f0c674;
@define-color brblue	#85c1e9;
@define-color brpurple	#d7a3ca;
@define-color braqua	#95d3ce;
@define-color white	#c5c8c6;
@define-color bg2	#282a2e;
