# COLOUR (base24)
@define-color black	rgba(42,26,74,0.8);
@define-color red	#ff786c;
@define-color green	#98b481;
@define-color yellow	#79daed;
@define-color blue	#66d9ef;
@define-color purple	#e68ecd;
@define-color aqua	#b98cff;
@define-color gray	#4b3639;
@define-color brgray	#876251;
@define-color brred	#f89f92;
@define-color brgreen	#b4bd8e;
@define-color bryellow	#79daed;
@define-color brblue	#79daed;
@define-color brpurple	#b991d4;
@define-color braqua	#a0a0d6;
@define-color white	#c38e69;
@define-color bg2	#0a041f;
