@define-color black	rgba(29,31,33,0.8);
@define-color red	#c82829;
@define-color green	#718c00;
@define-color yellow	#eab700;
@define-color blue	#4271ae;
@define-color purple	#8959a8;
@define-color aqua	#3e999f;
@define-color gray	#969896;
@define-color brgray	#8e908c;
@define-color brred	#c82829;
@define-color brgreen	#718c00;
@define-color bryellow	#eab700;
@define-color brblue	#4271ae;
@define-color brpurple	#8959a8;
@define-color braqua	#3e999f;
@define-color white	#d6d6d6;
@define-color bg2	#282a2e;
@define-color brblack	#4d4d4c;
