@define-color black	rgba(28,28,28,0.8);
@define-color red	#ff5faf;
@define-color green	#5faf5f;
@define-color yellow	#ffaf00;
@define-color blue	#5fafd7;
@define-color purple	#af87d7;
@define-color aqua	#00afaf;
@define-color gray	#585858;
@define-color brgray	#808080;
@define-color brred	#ff5faf;
@define-color brgreen	#5faf5f;
@define-color bryellow	#ffaf00;
@define-color brblue	#5fafd7;
@define-color brpurple	#af87d7;
@define-color braqua	#00afaf;
@define-color white	#9e9e9e;
@define-color bg2	#363636;
@define-color brblack	#424242;
