@define-color black	rgba(23,23,23,0.8);
@define-color red	#ff605a;
@define-color green	#b1e869;
@define-color yellow	#a5c7ff;
@define-color blue	#5da9f6;
@define-color purple	#e86aff;
@define-color aqua	#82fff6;
@define-color gray	#5c5b58;
@define-color brgray	#87857f;
@define-color brred	#f58b7f;
@define-color brgreen	#dcf88f;
@define-color bryellow	#a5c7ff;
@define-color brblue	#a5c7ff;
@define-color brpurple	#ddaaff;
@define-color braqua	#b6fff9;
@define-color white	#b2afa6;
@define-color bg2	#000000;
