# COLOUR (base16)
@define-color black	rgba(234,238,242,0.8);
@define-color red	#fa4549;
@define-color green	#2da44e;
@define-color yellow	#bf8700;
@define-color blue	#218bff;
@define-color purple	#a475f9;
@define-color aqua	#339d9b;
@define-color gray	#8c959f;
@define-color brgray	#6e7781;
@define-color brred	#fa4549;
@define-color brgreen	#2da44e;
@define-color bryellow	#bf8700;
@define-color brblue	#218bff;
@define-color brpurple	#a475f9;
@define-color braqua	#339d9b;
@define-color white	#424a53;
@define-color bg2	#d0d7de;
