# COLOUR (base24)
@define-color black	rgba(29,31,40,0.8);
@define-color red	#f37f97;
@define-color green	#5adecd;
@define-color yellow	#556fff;
@define-color blue	#8897f4;
@define-color purple	#c574dd;
@define-color aqua	#79e6f3;
@define-color gray	#707281;
@define-color brgray	#9fa0aa;
@define-color brred	#ff4971;
@define-color brgreen	#18e3c8;
@define-color bryellow	#556fff;
@define-color brblue	#556fff;
@define-color brpurple	#b043d1;
@define-color braqua	#3fdcee;
@define-color white	#ceced3;
@define-color bg2	#282a36;
