# COLOUR (base24)
@define-color black	rgba(0,0,0,0.8);
@define-color red	#e52222;
@define-color green	#a6e32d;
@define-color yellow	#5555ff;
@define-color blue	#c48dff;
@define-color purple	#fa2573;
@define-color aqua	#67d9f0;
@define-color gray	#7c7c7c;
@define-color brgray	#a3a3a3;
@define-color brred	#ff5555;
@define-color brgreen	#55ff55;
@define-color bryellow	#5555ff;
@define-color brblue	#5555ff;
@define-color brpurple	#ff55ff;
@define-color braqua	#55ffff;
@define-color white	#cacaca;
@define-color bg2	#000000;
