@define-color black	rgba(18,18,18,0.8);
@define-color red	#fa2573;
@define-color green	#97e123;
@define-color yellow	#00afff;
@define-color blue	#0f7fcf;
@define-color purple	#8700ff;
@define-color aqua	#42a7cf;
@define-color gray	#6e6e6e;
@define-color brgray	#888888;
@define-color brred	#f5669c;
@define-color brgreen	#b0e05e;
@define-color bryellow	#00afff;
@define-color brblue	#00afff;
@define-color brpurple	#af87ff;
@define-color braqua	#50cdfe;
@define-color white	#a1a1a1;
@define-color bg2	#121212;
