@define-color black	rgba(34,36,54,0.8);
@define-color red	#ff757f;
@define-color green	#c3e88d;
@define-color yellow	#ffdf77;
@define-color blue	#82aaff;
@define-color purple	#fca7ea;
@define-color aqua	#86e1fc;
@define-color gray	#3b4261;
@define-color brgray	#636da6;
@define-color brred	#ff757f;
@define-color brgreen	#c3e88d;
@define-color bryellow	#ffdf77;
@define-color brblue	#82aaff;
@define-color brpurple	#fca7ea;
@define-color braqua	#86e1fc;
@define-color white	#828bb8;
@define-color bg2	#1e2030;
@define-color brblack	#2d3f76;
