@define-color black	rgba(23,21,23,0.8);
@define-color red	#ffa600;
@define-color green	#ff0066;
@define-color yellow	#20df6c;
@define-color blue	#00ffff;
@define-color purple	#007fff;
@define-color aqua	#6600ff;
@define-color gray	#383338;
@define-color brgray	#e7dbdb;
@define-color brred	#ffa600;
@define-color brgreen	#ff0066;
@define-color bryellow	#20df6c;
@define-color brblue	#00ffff;
@define-color brpurple	#007fff;
@define-color braqua	#6600ff;
@define-color white	#f5f5f5;
@define-color bg2	#1b181b;
@define-color brblack	#1d1b1d;
