@define-color black	rgba(251,241,199,0.8);
@define-color red	#cc241d;
@define-color green	#98971a;
@define-color yellow	#d79921;
@define-color blue	#458588;
@define-color purple	#b16286;
@define-color aqua	#689d6a;
@define-color gray	#bdae93;
@define-color brgray	#7c6f64;
@define-color brred	#9d0006;
@define-color brgreen	#79740e;
@define-color bryellow	#d79921;
@define-color brblue	#076678;
@define-color brpurple	#8f3f71;
@define-color braqua	#427b58;
@define-color white	#3c3836;
@define-color bg2	#ebdbb2;
