@define-color black	rgba(17,18,29,0.8);
@define-color red	#ee6d85;
@define-color green	#95c561;
@define-color yellow	#d7a65f;
@define-color blue	#7199ee;
@define-color purple	#a485dd;
@define-color aqua	#38a89d;
@define-color gray	#282c34;
@define-color brgray	#4a5057;
@define-color brred	#ee6d85;
@define-color brgreen	#95c561;
@define-color bryellow	#d7a65f;
@define-color brblue	#7199ee;
@define-color brpurple	#a485dd;
@define-color braqua	#38a89d;
@define-color white	#a0a8cd;
@define-color bg2	#1a1b2a;
