@define-color black	rgba(63,63,63,0.8);
@define-color red	#705050;
@define-color green	#60b48a;
@define-color yellow	#94bff3;
@define-color blue	#506070;
@define-color purple	#dc8cc3;
@define-color aqua	#8cd0d3;
@define-color gray	#8ba393;
@define-color brgray	#a6b6a6;
@define-color brred	#dca3a3;
@define-color brgreen	#c3bf9f;
@define-color bryellow	#94bff3;
@define-color brblue	#94bff3;
@define-color brpurple	#ec93d3;
@define-color braqua	#93e0e3;
@define-color white	#c1c9b9;
@define-color bg2	#4d4d4d;
