# COLOUR (base24)
@define-color black	rgba(20,20,20,0.8);
@define-color red	#b34538;
@define-color green	#587744;
@define-color yellow	#5389c5;
@define-color blue	#206ec5;
@define-color purple	#864651;
@define-color aqua	#ac9166;
@define-color gray	#5d5b59;
@define-color brgray	#8e8c88;
@define-color brred	#b33323;
@define-color brgreen	#42824a;
@define-color bryellow	#5389c5;
@define-color brblue	#5389c5;
@define-color brpurple	#e795a5;
@define-color braqua	#ebc587;
@define-color white	#bfbdb7;
@define-color bg2	#191918;
