@define-color black	rgba(47,30,46,0.8);
@define-color red	#ef6155;
@define-color green	#48b685;
@define-color yellow	#fec418;
@define-color blue	#06b6ef;
@define-color purple	#815ba4;
@define-color aqua	#5bc4bf;
@define-color gray	#776e71;
@define-color brgray	#8d8687;
@define-color brred	#ef6155;
@define-color brgreen	#48b685;
@define-color bryellow	#fec418;
@define-color brblue	#06b6ef;
@define-color brpurple	#815ba4;
@define-color braqua	#5bc4bf;
@define-color white	#a39e9b;
@define-color bg2	#41323f;
@define-color brblack	#4f424c;
