@define-color black	rgba(239,239,239,0.8);
@define-color red	#f43979;
@define-color green	#0073a8;
@define-color yellow	#ff669b;
@define-color blue	#471397;
@define-color purple	#6916b6;
@define-color aqua	#2155d6;
@define-color gray	#7c7c98;
@define-color brgray	#505063;
@define-color brred	#f43979;
@define-color brgreen	#0073a8;
@define-color bryellow	#ff669b;
@define-color brblue	#471397;
@define-color brpurple	#6916b6;
@define-color braqua	#2155d6;
@define-color white	#313145;
@define-color bg2	#bebed2;
