@define-color black	rgba(28,38,43,0.8);
@define-color red	#ee2a29;
@define-color green	#3fa33f;
@define-color yellow	#53a4f3;
@define-color blue	#1d80ef;
@define-color purple	#8800a0;
@define-color aqua	#16aec9;
@define-color gray	#818181;
@define-color brgray	#8d8d8d;
@define-color brred	#dc5b60;
@define-color brgreen	#70be71;
@define-color bryellow	#53a4f3;
@define-color brblue	#53a4f3;
@define-color brpurple	#a94dbb;
@define-color braqua	#42c6d9;
@define-color white	#989898;
@define-color bg2	#000000;
@define-color brblack	#767676;
