# COLOUR (base16)
@define-color black	rgba(24,24,24,0.8);
@define-color red	#fd886b;
@define-color green	#32ccdc;
@define-color yellow	#fecb6e;
@define-color blue	#20bcfc;
@define-color purple	#ba8cfc;
@define-color aqua	#acddfd;
@define-color gray	#747474;
@define-color brgray	#b9b9b9;
@define-color brred	#fd886b;
@define-color brgreen	#32ccdc;
@define-color bryellow	#fecb6e;
@define-color brblue	#20bcfc;
@define-color brpurple	#ba8cfc;
@define-color braqua	#acddfd;
@define-color white	#d0d0d0;
@define-color bg2	#151515;
