# COLOUR (base24)
@define-color black	rgba(3,13,24,0.8);
@define-color red	#ff8272;
@define-color green	#b4fa72;
@define-color yellow	#f92883;
@define-color blue	#fed300;
@define-color purple	#ff8ffd;
@define-color aqua	#d0d1fe;
@define-color gray	#a6a6a6;
@define-color brgray	#bfbfbf;
@define-color brred	#ffc4bd;
@define-color brgreen	#d6fcb9;
@define-color bryellow	#f92883;
@define-color brblue	#f92883;
@define-color brpurple	#ffb1fe;
@define-color braqua	#e5e6fe;
@define-color white	#d8d8d8;
@define-color bg2	#616161;
