@define-color black	rgba(16,16,16,0.8);
@define-color red	#efa6a2;
@define-color green	#80c990;
@define-color yellow	#e6a3dc;
@define-color blue	#50cacd;
@define-color purple	#e0af85;
@define-color aqua	#c8c874;
@define-color gray	#454545;
@define-color brgray	#808080;
@define-color brred	#efa6a2;
@define-color brgreen	#80c990;
@define-color bryellow	#e6a3dc;
@define-color brblue	#50cacd;
@define-color brpurple	#e0af85;
@define-color braqua	#c8c874;
@define-color white	#c0c0c0;
@define-color bg2	#454545;
@define-color brblack	#454545;
