@define-color black	rgba(44,44,44,0.8);
@define-color red	#fe2635;
@define-color green	#41a638;
@define-color yellow	#2efaeb;
@define-color blue	#2ec3b9;
@define-color purple	#50a096;
@define-color aqua	#3ca078;
@define-color gray	#3b843e;
@define-color brgray	#74ad7a;
@define-color brred	#b4fa5c;
@define-color brgreen	#aefa86;
@define-color bryellow	#2efaeb;
@define-color brblue	#2efaeb;
@define-color brpurple	#50fafa;
@define-color braqua	#3cfac8;
@define-color white	#add5b6;
@define-color bg2	#014401;
