@define-color black	rgba(27,43,52,0.8);
@define-color red	#ec5f67;
@define-color green	#99c794;
@define-color yellow	#fac863;
@define-color blue	#6699cc;
@define-color purple	#c594c5;
@define-color aqua	#5fb3b3;
@define-color gray	#65737e;
@define-color brgray	#a7adba;
@define-color brred	#ec5f67;
@define-color brgreen	#99c794;
@define-color bryellow	#fac863;
@define-color brblue	#6699cc;
@define-color brpurple	#c594c5;
@define-color braqua	#5fb3b3;
@define-color white	#c0c5ce;
@define-color bg2	#343d46;
@define-color brblack	#4f5b66;
