@define-color black	rgba(45,45,45,0.8);
@define-color red	#f2777a;
@define-color green	#99cc99;
@define-color yellow	#ffcc66;
@define-color blue	#6699cc;
@define-color purple	#cc99cc;
@define-color aqua	#66cccc;
@define-color gray	#747369;
@define-color brgray	#a09f93;
@define-color brred	#f2777a;
@define-color brgreen	#99cc99;
@define-color bryellow	#ffcc66;
@define-color brblue	#6699cc;
@define-color brpurple	#cc99cc;
@define-color braqua	#66cccc;
@define-color white	#d3d0c8;
@define-color bg2	#393939;
@define-color brblack	#515151;
