# COLOUR (base24)
@define-color black	rgba(29,24,8,0.8);
@define-color red	#b54c00;
@define-color green	#7c8a16;
@define-color yellow	#abb8ff;
@define-color blue	#606baf;
@define-color purple	#8b5990;
@define-color aqua	#906b25;
@define-color gray	#786d38;
@define-color brgray	#938958;
@define-color brred	#ff9148;
@define-color brgreen	#b1c93a;
@define-color bryellow	#abb8ff;
@define-color brblue	#abb8ff;
@define-color brpurple	#fe9fff;
@define-color braqua	#ffbb51;
@define-color white	#aea578;
@define-color bg2	#000000;
