@define-color black	rgba(0,0,0,0.8);
@define-color red	#ff6c60;
@define-color green	#a8ff60;
@define-color yellow	#ffffb6;
@define-color blue	#96cbfe;
@define-color purple	#ff73fd;
@define-color aqua	#c6c5fe;
@define-color gray	#6c6c66;
@define-color brgray	#918f88;
@define-color brred	#ff6c60;
@define-color brgreen	#a8ff60;
@define-color bryellow	#ffffb6;
@define-color brblue	#96cbfe;
@define-color brpurple	#ff73fd;
@define-color braqua	#c6c5fe;
@define-color white	#b5b3aa;
@define-color bg2	#242422;
@define-color brblack	#484844;
