@define-color black	rgba(23,28,25,0.8);
@define-color red	#b16139;
@define-color green	#489963;
@define-color yellow	#a07e3b;
@define-color blue	#478c90;
@define-color purple	#55859b;
@define-color aqua	#1c9aa0;
@define-color gray	#5f6d64;
@define-color brgray	#78877d;
@define-color brred	#b16139;
@define-color brgreen	#489963;
@define-color bryellow	#a07e3b;
@define-color brblue	#478c90;
@define-color brpurple	#55859b;
@define-color braqua	#1c9aa0;
@define-color white	#87928a;
@define-color bg2	#232a25;
@define-color brblack	#526057;
