@define-color black	rgba(0,0,0,0.8);
@define-color red	#ff1b00;
@define-color green	#a5df55;
@define-color yellow	#89bdff;
@define-color blue	#486387;
@define-color purple	#fc5ef0;
@define-color aqua	#85e9fe;
@define-color gray	#4e4e4e;
@define-color brgray	#787878;
@define-color brred	#d41c00;
@define-color brgreen	#a5df55;
@define-color bryellow	#89bdff;
@define-color brblue	#89bdff;
@define-color brpurple	#bf00c0;
@define-color braqua	#85e9fe;
@define-color white	#a1a1a1;
@define-color bg2	#575757;
