@define-color black	rgba(252,244,220,0.8);
@define-color red	#c94c22;
@define-color green	#85981c;
@define-color yellow	#2075c7;
@define-color blue	#2e8bce;
@define-color purple	#d13a82;
@define-color aqua	#32a198;
@define-color gray	#686a6a;
@define-color brgray	#8c8c8a;
@define-color brred	#bd3612;
@define-color brgreen	#728903;
@define-color bryellow	#2075c7;
@define-color brblue	#2075c7;
@define-color brpurple	#c61b6e;
@define-color braqua	#259185;
@define-color white	#afaea9;
@define-color bg2	#56595c;
