# COLOUR (base24)
@define-color black	rgba(49,54,59,0.8);
@define-color red	#ed1515;
@define-color green	#11d116;
@define-color yellow	#3daee9;
@define-color blue	#1d99f3;
@define-color purple	#9b59b6;
@define-color aqua	#1abc9c;
@define-color gray	#9ba5a6;
@define-color brgray	#b7bebf;
@define-color brred	#c0392b;
@define-color brgreen	#1cdc9a;
@define-color bryellow	#3daee9;
@define-color brblue	#3daee9;
@define-color brpurple	#8e44ad;
@define-color braqua	#16a085;
@define-color white	#d3d7d8;
@define-color bg2	#31363b;
