# COLOUR (base16)
@define-color black	rgba(50,41,49,0.8);
@define-color red	#dd464c;
@define-color green	#8fc13e;
@define-color yellow	#fdcc59;
@define-color blue	#1290bf;
@define-color purple	#c85e7c;
@define-color aqua	#149b93;
@define-color gray	#797379;
@define-color brgray	#989498;
@define-color brred	#dd464c;
@define-color brgreen	#8fc13e;
@define-color bryellow	#fdcc59;
@define-color brblue	#1290bf;
@define-color brpurple	#c85e7c;
@define-color braqua	#149b93;
@define-color white	#b9b5b8;
@define-color bg2	#433b42;
