# COLOUR (base16)
@define-color black	rgba(25,25,25,0.8);
@define-color red	#3d3839;
@define-color green	#d68c67;
@define-color yellow	#8bae68;
@define-color blue	#cf86c1;
@define-color purple	#65b8c1;
@define-color aqua	#61abda;
@define-color gray	#b77e64;
@define-color brgray	#6099c0;
@define-color brred	#3d3839;
@define-color brgreen	#d68c67;
@define-color bryellow	#8bae68;
@define-color brblue	#cf86c1;
@define-color brpurple	#65b8c1;
@define-color braqua	#61abda;
@define-color white	#b279a7;
@define-color bg2	#de6e7c;
