@define-color black	rgba(6,18,41,0.8);
@define-color red	#d07346;
@define-color green	#99bf52;
@define-color yellow	#fbd461;
@define-color blue	#5299bf;
@define-color purple	#9989cc;
@define-color aqua	#72b9bf;
@define-color gray	#717885;
@define-color brgray	#9a99a3;
@define-color brred	#d07346;
@define-color brgreen	#99bf52;
@define-color bryellow	#fbd461;
@define-color brblue	#5299bf;
@define-color brpurple	#9989cc;
@define-color braqua	#72b9bf;
@define-color white	#b8bbc2;
@define-color bg2	#2a3448;
@define-color brblack	#4d5666;
