# COLOUR (base16)
@define-color black	rgba(46,52,54,0.8);
@define-color red	#cc0000;
@define-color green	#4e9a06;
@define-color yellow	#c4a000;
@define-color blue	#3465a4;
@define-color purple	#75507b;
@define-color aqua	#06989a;
@define-color gray	#555753;
@define-color brgray	#729fcf;
@define-color brred	#cc0000;
@define-color brgreen	#4e9a06;
@define-color bryellow	#c4a000;
@define-color brblue	#3465a4;
@define-color brpurple	#75507b;
@define-color braqua	#06989a;
@define-color white	#d3d7cf;
@define-color bg2	#8ae234;
