# COLOUR (base16)
@define-color black	rgba(233,241,239,0.8);
@define-color red	#cf432e;
@define-color green	#6ca38c;
@define-color yellow	#cfad25;
@define-color blue	#39aac9;
@define-color purple	#6e6582;
@define-color aqua	#329ca2;
@define-color gray	#5c787b;
@define-color brgray	#4b5b5f;
@define-color brred	#cf432e;
@define-color brgreen	#6ca38c;
@define-color bryellow	#cfad25;
@define-color brblue	#39aac9;
@define-color brpurple	#6e6582;
@define-color braqua	#329ca2;
@define-color white	#385156;
@define-color bg2	#ccd4d3;
