# COLOUR (base16)
@define-color black	rgba(28,33,40,0.8);
@define-color red	#f47067;
@define-color green	#57ab5a;
@define-color yellow	#c69026;
@define-color blue	#539bf5;
@define-color purple	#e275ad;
@define-color aqua	#96d0ff;
@define-color gray	#545d68;
@define-color brgray	#768390;
@define-color brred	#f47067;
@define-color brgreen	#57ab5a;
@define-color bryellow	#c69026;
@define-color brblue	#539bf5;
@define-color brpurple	#e275ad;
@define-color braqua	#96d0ff;
@define-color white	#909dab;
@define-color bg2	#373e47;
