@define-color black	rgba(5,21,25,0.8);
@define-color red	#f8818e;
@define-color green	#92d3a2;
@define-color yellow	#39a7a2;
@define-color blue	#8ed0ce;
@define-color purple	#5e468c;
@define-color aqua	#31658c;
@define-color gray	#666361;
@define-color brgray	#8f8a85;
@define-color brred	#fb3d66;
@define-color brgreen	#6bb48d;
@define-color bryellow	#39a7a2;
@define-color brblue	#39a7a2;
@define-color brpurple	#7e62b3;
@define-color braqua	#6096bf;
@define-color white	#b8b1a9;
@define-color bg2	#333333;
