@define-color black	rgba(16,60,72,0.8);
@define-color red	#fa5750;
@define-color green	#75b938;
@define-color yellow	#dbb32d;
@define-color blue	#4695f7;
@define-color purple	#af88eb;
@define-color aqua	#41c7b9;
@define-color gray	#72898f;
@define-color brgray	#72898f;
@define-color brred	#fa5750;
@define-color brgreen	#75b938;
@define-color bryellow	#dbb32d;
@define-color brblue	#4695f7;
@define-color brpurple	#af88eb;
@define-color braqua	#41c7b9;
@define-color white	#adbcbc;
@define-color bg2	#184956;
