@define-color black	rgba(14,16,17,0.8);
@define-color red	#e63853;
@define-color green	#5eb83c;
@define-color yellow	#006fc0;
@define-color blue	#359ddf;
@define-color purple	#d75cff;
@define-color aqua	#4b73a2;
@define-color gray	#374d53;
@define-color brgray	#6e7d81;
@define-color brred	#e1003f;
@define-color brgreen	#1d9000;
@define-color bryellow	#006fc0;
@define-color brblue	#006fc0;
@define-color brpurple	#a200da;
@define-color braqua	#005794;
@define-color white	#a5acae;
@define-color bg2	#002731;
@define-color brblack	#001e26;
