# COLOUR (base24)
@define-color black	rgba(39,48,50,0.8);
@define-color red	#a50001;
@define-color green	#00bb00;
@define-color yellow	#a0d6ff;
@define-color blue	#399bda;
@define-color purple	#bb00bb;
@define-color aqua	#00bbbb;
@define-color gray	#6e6e6e;
@define-color brgray	#888888;
@define-color brred	#ff0003;
@define-color brgreen	#92c763;
@define-color bryellow	#a0d6ff;
@define-color brblue	#a0d6ff;
@define-color brpurple	#ff55ff;
@define-color braqua	#55ffff;
@define-color white	#a1a1a1;
@define-color bg2	#000000;
