@define-color black	rgba(46,46,46,0.8);
@define-color red	#fc6d26;
@define-color green	#3eb383;
@define-color yellow	#db501f;
@define-color blue	#db3b21;
@define-color purple	#380d75;
@define-color aqua	#6e49cb;
@define-color gray	#737373;
@define-color brgray	#a1a2a2;
@define-color brred	#ff6517;
@define-color brgreen	#52e9a8;
@define-color bryellow	#db501f;
@define-color brblue	#db501f;
@define-color brpurple	#441090;
@define-color braqua	#7d53e7;
@define-color white	#cfd0d0;
@define-color bg2	#2e2e2e;
@define-color brblack	#454545;
