@define-color black	rgba(22,22,30,0.8);
@define-color red	#f7768e;
@define-color green	#41a6b5;
@define-color yellow	#e0af68;
@define-color blue	#7aa2f7;
@define-color purple	#bb9af7;
@define-color aqua	#7dcfff;
@define-color gray	#444b6a;
@define-color brgray	#787c99;
@define-color brred	#f7768e;
@define-color brgreen	#41a6b5;
@define-color bryellow	#e0af68;
@define-color brblue	#7aa2f7;
@define-color brpurple	#bb9af7;
@define-color braqua	#7dcfff;
@define-color white	#787c99;
@define-color bg2	#1a1b26;
