# COLOUR (base16)
@define-color black	rgba(26,26,26,0.8);
@define-color red	#d88568;
@define-color green	#83a471;
@define-color yellow	#b99353;
@define-color blue	#8eccdd;
@define-color purple	#b98eb2;
@define-color aqua	#7c9cae;
@define-color gray	#767676;
@define-color brgray	#b8b8b8;
@define-color brred	#d88568;
@define-color brgreen	#83a471;
@define-color bryellow	#b99353;
@define-color brblue	#8eccdd;
@define-color brpurple	#b98eb2;
@define-color braqua	#7c9cae;
@define-color white	#cccccc;
@define-color bg2	#222222;
