# COLOUR (base16)
@define-color black	rgba(252,252,252,0.8);
@define-color red	#a80000;
@define-color green	#00a800;
@define-color yellow	#a85400;
@define-color blue	#0000a8;
@define-color purple	#a800a8;
@define-color aqua	#00a8a8;
@define-color gray	#a8a8a8;
@define-color brgray	#7e7e7e;
@define-color brred	#a80000;
@define-color brgreen	#00a800;
@define-color bryellow	#a85400;
@define-color brblue	#0000a8;
@define-color brpurple	#a800a8;
@define-color braqua	#00a8a8;
@define-color white	#545454;
@define-color bg2	#e0e0e0;
