# COLOUR (base16)
@define-color black	rgba(253,240,237,0.8);
@define-color red	#f7939b;
@define-color green	#94e1b0;
@define-color yellow	#fbe0d9;
@define-color blue	#da103f;
@define-color purple	#1d8991;
@define-color aqua	#dc3318;
@define-color gray	#bdb3b1;
@define-color brgray	#948c8a;
@define-color brred	#f7939b;
@define-color brgreen	#94e1b0;
@define-color bryellow	#fbe0d9;
@define-color brblue	#da103f;
@define-color brpurple	#1d8991;
@define-color braqua	#dc3318;
@define-color white	#403c3d;
@define-color bg2	#fadad1;
