@define-color black	rgba(22,22,22,0.8);
@define-color red	#ee5396;
@define-color green	#42be65;
@define-color yellow	#ff6f00;
@define-color blue	#33b1ff;
@define-color purple	#be95ff;
@define-color aqua	#3ddbd9;
@define-color gray	#525252;
@define-color brgray	#dde1e6;
@define-color brred	#ee5396;
@define-color brgreen	#42be65;
@define-color bryellow	#ff6f00;
@define-color brblue	#33b1ff;
@define-color brpurple	#be95ff;
@define-color braqua	#3ddbd9;
@define-color white	#f2f4f8;
@define-color bg2	#262626;
