@define-color black	rgba(44,62,80,0.8);
@define-color red	#e74c3c;
@define-color green	#2ecc71;
@define-color yellow	#f1c40f;
@define-color blue	#3498db;
@define-color purple	#9b59b6;
@define-color aqua	#1abc9c;
@define-color gray	#95a5a6;
@define-color brgray	#bdc3c7;
@define-color brred	#e74c3c;
@define-color brgreen	#2ecc71;
@define-color bryellow	#f1c40f;
@define-color brblue	#3498db;
@define-color brpurple	#9b59b6;
@define-color braqua	#1abc9c;
@define-color white	#e0e0e0;
@define-color bg2	#34495e;
