# COLOUR (base24)
@define-color black	rgba(41,42,68,0.8);
@define-color red	#dd7655;
@define-color green	#04dbb4;
@define-color yellow	#69bffa;
@define-color blue	#7aa5ff;
@define-color purple	#be9bf8;
@define-color aqua	#56d3c1;
@define-color gray	#8585ac;
@define-color brgray	#a4a4c0;
@define-color brred	#ff91cd;
@define-color brgreen	#00e9c0;
@define-color bryellow	#69bffa;
@define-color brblue	#69bffa;
@define-color brpurple	#c07ff8;
@define-color braqua	#8bfce1;
@define-color white	#c3c3d4;
@define-color bg2	#12131d;
