@define-color black	rgba(33,33,33,0.8);
@define-color red	#ec5f67;
@define-color green	#80a763;
@define-color yellow	#4d83d0;
@define-color blue	#5485c0;
@define-color purple	#bf83c0;
@define-color aqua	#57c2c0;
@define-color gray	#7b7a79;
@define-color brgray	#a1a09e;
@define-color brred	#ff6973;
@define-color brgreen	#93d393;
@define-color bryellow	#4d83d0;
@define-color brblue	#4d83d0;
@define-color brpurple	#ff55ff;
@define-color braqua	#83e8e4;
@define-color white	#c7c6c2;
@define-color bg2	#15171c;
@define-color brblack	#555555;
