# COLOUR (base16)
@define-color black	rgba(39,28,58,0.8);
@define-color red	#a92258;
@define-color green	#c6914b;
@define-color yellow	#804ead;
@define-color blue	#8e7dc6;
@define-color purple	#953b9d;
@define-color aqua	#7263aa;
@define-color gray	#5d5766;
@define-color brgray	#bebcbf;
@define-color brred	#a92258;
@define-color brgreen	#c6914b;
@define-color bryellow	#804ead;
@define-color brblue	#8e7dc6;
@define-color brpurple	#953b9d;
@define-color braqua	#7263aa;
@define-color white	#dedcdf;
@define-color bg2	#100323;
