# COLOUR (base16)
@define-color black	rgba(221,223,224,0.8);
@define-color red	#b53b50;
@define-color green	#06ea61;
@define-color yellow	#c9d364;
@define-color blue	#03aeff;
@define-color purple	#ea5ce2;
@define-color aqua	#42fff9;
@define-color gray	#a3a5a6;
@define-color brgray	#474849;
@define-color brred	#b53b50;
@define-color brgreen	#06ea61;
@define-color bryellow	#c9d364;
@define-color brblue	#03aeff;
@define-color brpurple	#ea5ce2;
@define-color braqua	#42fff9;
@define-color white	#28292a;
@define-color bg2	#cfd1d2;
