# COLOUR (base16)
@define-color black	rgba(250,250,250,0.8);
@define-color red	#ff5370;
@define-color green	#91b859;
@define-color yellow	#ffb62c;
@define-color blue	#6182b8;
@define-color purple	#7c4dff;
@define-color aqua	#39adb5;
@define-color gray	#ccd7da;
@define-color brgray	#8796b0;
@define-color brred	#ff5370;
@define-color brgreen	#91b859;
@define-color bryellow	#ffb62c;
@define-color brblue	#6182b8;
@define-color brpurple	#7c4dff;
@define-color braqua	#39adb5;
@define-color white	#80cbc4;
@define-color bg2	#e7eaec;
