@define-color black	rgba(40,40,40,0.8);
@define-color red	#fb4934;
@define-color green	#b8bb26;
@define-color yellow	#fabd2f;
@define-color blue	#83a598;
@define-color purple	#d3869b;
@define-color aqua	#8ec07c;
@define-color gray	#665c54;
@define-color brgray	#bdae93;
@define-color brred	#fb4934;
@define-color brgreen	#b8bb26;
@define-color bryellow	#fabd2f;
@define-color brblue	#83a598;
@define-color brpurple	#d3869b;
@define-color braqua	#8ec07c;
@define-color white	#d5c4a1;
@define-color bg2	#3c3836;
