@define-color black	rgba(250,251,252,0.8);
@define-color red	#d73a49;
@define-color green	#28a745;
@define-color yellow	#ffd33d;
@define-color blue	#0366d6;
@define-color purple	#ea4aaa;
@define-color aqua	#79b8ff;
@define-color gray	#959da5;
@define-color brgray	#444d56;
@define-color brred	#d73a49;
@define-color brgreen	#28a745;
@define-color bryellow	#ffd33d;
@define-color brblue	#0366d6;
@define-color brpurple	#ea4aaa;
@define-color braqua	#79b8ff;
@define-color white	#2f363d;
@define-color bg2	#e1e4e8;
@define-color brblack	#d1d5da;
