# COLOUR (base16)
@define-color black	rgba(250,244,237,0.8);
@define-color red	#b4637a;
@define-color green	#286983;
@define-color yellow	#d7827e;
@define-color blue	#907aa9;
@define-color purple	#ea9d34;
@define-color aqua	#56949f;
@define-color gray	#9893a5;
@define-color brgray	#797593;
@define-color brred	#b4637a;
@define-color brgreen	#286983;
@define-color bryellow	#d7827e;
@define-color brblue	#907aa9;
@define-color brpurple	#ea9d34;
@define-color braqua	#56949f;
@define-color white	#575279;
@define-color bg2	#fffaf3;
