@define-color black	rgba(0,0,0,0.8);
@define-color red	#ef596f;
@define-color green	#89ca78;
@define-color yellow	#e5c07b;
@define-color blue	#61afef;
@define-color purple	#d55fde;
@define-color aqua	#2bbac5;
@define-color gray	#434852;
@define-color brgray	#565c64;
@define-color brred	#ef596f;
@define-color brgreen	#89ca78;
@define-color bryellow	#e5c07b;
@define-color brblue	#61afef;
@define-color brpurple	#d55fde;
@define-color braqua	#2bbac5;
@define-color white	#abb2bf;
@define-color bg2	#1c1f24;
