@define-color black	rgba(16,15,15,0.8);
@define-color red	#d14d41;
@define-color green	#879a39;
@define-color yellow	#d0a215;
@define-color blue	#4385be;
@define-color purple	#8b7ec8;
@define-color aqua	#3aa99f;
@define-color gray	#575653;
@define-color brgray	#878580;
@define-color brred	#af3029;
@define-color brgreen	#ad8301;
@define-color bryellow	#d0a215;
@define-color brblue	#24837b;
@define-color brpurple	#205ea6;
@define-color braqua	#66800b;
@define-color white	#cecdc3;
@define-color bg2	#1c1b1a;
