@define-color black	rgba(31,22,38,0.8);
@define-color red	#d94085;
@define-color green	#2ab250;
@define-color yellow	#2f8bb9;
@define-color blue	#883cdc;
@define-color purple	#ececec;
@define-color aqua	#c1b8b7;
@define-color gray	#3fb3ce;
@define-color brgray	#7fcad3;
@define-color brred	#da6bab;
@define-color brgreen	#f4dba5;
@define-color bryellow	#2f8bb9;
@define-color brblue	#2f8bb9;
@define-color brpurple	#ae636b;
@define-color braqua	#ff919d;
@define-color white	#bfe1d8;
@define-color bg2	#000506;
