# COLOUR (base16)
@define-color black	rgba(40,40,40,0.8);
@define-color red	#f43753;
@define-color green	#c9d05c;
@define-color yellow	#ffc24b;
@define-color blue	#b3deef;
@define-color purple	#d3b987;
@define-color aqua	#73cef4;
@define-color gray	#4c4c4c;
@define-color brgray	#b8b8b8;
@define-color brred	#f43753;
@define-color brgreen	#c9d05c;
@define-color bryellow	#ffc24b;
@define-color brblue	#b3deef;
@define-color brpurple	#d3b987;
@define-color braqua	#73cef4;
@define-color white	#eeeeee;
@define-color bg2	#383838;
