@define-color black	rgba(34,39,59,0.8);
@define-color red	#777abc;
@define-color green	#6562a8;
@define-color yellow	#4f9062;
@define-color blue	#4d6bb6;
@define-color purple	#716cae;
@define-color aqua	#226f68;
@define-color gray	#6e6f72;
@define-color brgray	#87888b;
@define-color brred	#777abc;
@define-color brgreen	#6562a8;
@define-color bryellow	#4f9062;
@define-color brblue	#4d6bb6;
@define-color brpurple	#716cae;
@define-color braqua	#226f68;
@define-color white	#a4a6a9;
@define-color bg2	#414f60;
