@define-color black	rgba(13,13,23,0.8);
@define-color red	#f12d52;
@define-color green	#08cd7d;
@define-color yellow	#6095fe;
@define-color blue	#3081df;
@define-color purple	#fe2a6c;
@define-color aqua	#09c87a;
@define-color gray	#9e9e9e;
@define-color brgray	#bdbdbd;
@define-color brred	#f16c85;
@define-color brgreen	#0ae78d;
@define-color bryellow	#6095fe;
@define-color brblue	#6095fe;
@define-color brpurple	#ff78a2;
@define-color braqua	#0ae78d;
@define-color white	#dcdcdc;
@define-color bg2	#4c4c4c;
@define-color brblack	#7f7f7f;
