@define-color black	rgba(255,253,251,0.8);
@define-color red	#ca736c;
@define-color green	#47a477;
@define-color yellow	#8d9741;
@define-color blue	#5794d0;
@define-color purple	#9481cc;
@define-color aqua	#00a2af;
@define-color gray	#bebebe;
@define-color brgray	#8f8f8f;
@define-color brred	#ca736c;
@define-color brgreen	#47a477;
@define-color bryellow	#8d9741;
@define-color brblue	#5794d0;
@define-color brpurple	#9481cc;
@define-color braqua	#00a2af;
@define-color white	#636363;
@define-color bg2	#fff7ed;
