@define-color black	rgba(26,24,24,0.8);
@define-color red	#a6463d;
@define-color green	#577644;
@define-color yellow	#7898f7;
@define-color blue	#485a98;
@define-color purple	#854551;
@define-color aqua	#9c814e;
@define-color gray	#6b6b67;
@define-color brgray	#8a8a87;
@define-color brred	#aa000c;
@define-color brgreen	#128c20;
@define-color bryellow	#7898f7;
@define-color brblue	#7898f7;
@define-color brpurple	#fc89a0;
@define-color braqua	#fad384;
@define-color white	#a9a9a7;
@define-color bg2	#302b2a;
