# COLOUR (base16)
@define-color black	rgba(43,33,60,0.8);
@define-color red	#c79987;
@define-color green	#acc79b;
@define-color yellow	#c7c691;
@define-color blue	#a5aad4;
@define-color purple	#c594ff;
@define-color aqua	#9bc7bf;
@define-color gray	#655978;
@define-color brgray	#7f7192;
@define-color brred	#c79987;
@define-color brgreen	#acc79b;
@define-color bryellow	#c7c691;
@define-color brblue	#a5aad4;
@define-color brpurple	#c594ff;
@define-color braqua	#9bc7bf;
@define-color white	#998bad;
@define-color bg2	#362b48;
