# COLOUR (base24)
@define-color black	rgba(255,255,255,0.8);
@define-color red	#cc0000;
@define-color green	#4e9a05;
@define-color yellow	#719ecf;
@define-color blue	#3464a4;
@define-color purple	#74507a;
@define-color aqua	#05989a;
@define-color gray	#737772;
@define-color brgray	#939791;
@define-color brred	#ef2828;
@define-color brgreen	#8ae234;
@define-color bryellow	#719ecf;
@define-color brblue	#719ecf;
@define-color brpurple	#ad7ea7;
@define-color braqua	#34e2e2;
@define-color white	#b3b7b0;
@define-color bg2	#000000;
