# COLOUR (base24)
@define-color black	rgba(30,30,30,0.8);
@define-color red	#be3e48;
@define-color green	#869a3a;
@define-color yellow	#176ce3;
@define-color blue	#4e76a1;
@define-color purple	#855b8d;
@define-color aqua	#568ea3;
@define-color gray	#949593;
@define-color brgray	#a0a2a0;
@define-color brred	#fb001e;
@define-color brgreen	#0e712e;
@define-color bryellow	#176ce3;
@define-color brblue	#176ce3;
@define-color brpurple	#fb0067;
@define-color braqua	#2d6f6c;
@define-color white	#acafac;
@define-color bg2	#3a3c43;
