@define-color black	rgba(0,0,0,0.8);
@define-color red	#dd0907;
@define-color green	#1fb714;
@define-color yellow	#fbf305;
@define-color blue	#0000d3;
@define-color purple	#4700a5;
@define-color aqua	#02abea;
@define-color gray	#808080;
@define-color brgray	#808080;
@define-color brred	#dd0907;
@define-color brgreen	#1fb714;
@define-color bryellow	#fbf305;
@define-color brblue	#0000d3;
@define-color brpurple	#4700a5;
@define-color braqua	#02abea;
@define-color white	#c0c0c0;
@define-color bg2	#404040;
@define-color brblack	#404040;
