# COLOUR (base24)
@define-color black	rgba(43,43,43,0.8);
@define-color red	#da4939;
@define-color green	#519f50;
@define-color yellow	#9fcef0;
@define-color blue	#6d9cbe;
@define-color purple	#d0d0ff;
@define-color aqua	#6e9cbe;
@define-color gray	#656565;
@define-color brgray	#989898;
@define-color brred	#ff7b6b;
@define-color brgreen	#83d182;
@define-color bryellow	#9fcef0;
@define-color brblue	#9fcef0;
@define-color brpurple	#ffffff;
@define-color braqua	#a0cef0;
@define-color white	#cbcbcb;
@define-color bg2	#000000;
