@define-color black	rgba(247,243,247,0.8);
@define-color red	#ca402b;
@define-color green	#918b3b;
@define-color yellow	#bb8a35;
@define-color blue	#516aec;
@define-color purple	#7b59c0;
@define-color aqua	#159393;
@define-color gray	#9e8f9e;
@define-color brgray	#776977;
@define-color brred	#ca402b;
@define-color brgreen	#918b3b;
@define-color bryellow	#bb8a35;
@define-color brblue	#516aec;
@define-color brpurple	#7b59c0;
@define-color braqua	#159393;
@define-color white	#695d69;
@define-color bg2	#d8cad8;
