# COLOUR (base24)
@define-color black	rgba(48,10,36,0.8);
@define-color red	#cc0000;
@define-color green	#4e9a06;
@define-color yellow	#729fcf;
@define-color blue	#3465a4;
@define-color purple	#75507b;
@define-color aqua	#06989a;
@define-color gray	#747772;
@define-color brgray	#949791;
@define-color brred	#ef2929;
@define-color brgreen	#8ae234;
@define-color bryellow	#729fcf;
@define-color brblue	#729fcf;
@define-color brpurple	#ad7fa8;
@define-color braqua	#34e2e2;
@define-color white	#b3b7b0;
@define-color bg2	#2e3436;
