@define-color black	rgba(219,219,219,0.8);
@define-color red	#cc5450;
@define-color green	#71983b;
@define-color yellow	#307878;
@define-color blue	#376388;
@define-color purple	#d7ab54;
@define-color aqua	#c57d42;
@define-color gray	#4e4e4e;
@define-color brgray	#1c1c1c;
@define-color brred	#cc5450;
@define-color brgreen	#71983b;
@define-color bryellow	#307878;
@define-color brblue	#376388;
@define-color brpurple	#d7ab54;
@define-color braqua	#c57d42;
@define-color white	#232323;
@define-color bg2	#e4e4e4;
@define-color brblack	#c0c0c0;
