@define-color black	rgba(18,18,19,0.8);
@define-color red	#b93934;
@define-color green	#90773e;
@define-color yellow	#8085ef;
@define-color blue	#5e62b4;
@define-color purple	#a07c7b;
@define-color aqua	#8eaea9;
@define-color gray	#665e6c;
@define-color brgray	#7e7278;
@define-color brred	#d9443e;
@define-color brgreen	#d6b04e;
@define-color bryellow	#8085ef;
@define-color brblue	#8085ef;
@define-color brpurple	#e1c2ba;
@define-color braqua	#a4dbe7;
@define-color white	#968684;
@define-color bg2	#572000;
@define-color brblack	#4e4b60;
