@define-color black	rgba(28,28,28,0.8);
@define-color red	#cd5c5c;
@define-color green	#86af80;
@define-color yellow	#87ceeb;
@define-color blue	#6495ed;
@define-color purple	#deb887;
@define-color aqua	#b0c4de;
@define-color gray	#6e5d59;
@define-color brgray	#88776e;
@define-color brred	#cc5533;
@define-color brgreen	#88aa22;
@define-color bryellow	#87ceeb;
@define-color brblue	#87ceeb;
@define-color brpurple	#996600;
@define-color braqua	#b0c4de;
@define-color white	#a19083;
@define-color bg2	#3d352a;
@define-color brblack	#554444;
