# COLOUR (base16)
@define-color black	rgba(239,236,244,0.8);
@define-color red	#be4678;
@define-color green	#2a9292;
@define-color yellow	#a06e3b;
@define-color blue	#576ddb;
@define-color purple	#955ae7;
@define-color aqua	#398bc6;
@define-color gray	#7e7887;
@define-color brgray	#655f6d;
@define-color brred	#be4678;
@define-color brgreen	#2a9292;
@define-color bryellow	#a06e3b;
@define-color brblue	#576ddb;
@define-color brpurple	#955ae7;
@define-color braqua	#398bc6;
@define-color white	#585260;
@define-color bg2	#e2dfe7;
