@define-color black	rgba(35,38,41,0.8);
@define-color red	#f11235;
@define-color green	#02d849;
@define-color yellow	#ffb627;
@define-color blue	#00a6fb;
@define-color purple	#f15ee3;
@define-color aqua	#0dd9d6;
@define-color gray	#60615d;
@define-color brgray	#c0c0bd;
@define-color brred	#f11235;
@define-color brgreen	#02d849;
@define-color bryellow	#ffb627;
@define-color brblue	#00a6fb;
@define-color brpurple	#f15ee3;
@define-color braqua	#0dd9d6;
@define-color white	#f8f8f2;
@define-color bg2	#333b3d;
@define-color brblack	#484e54;
