@define-color black	rgba(13,25,38,0.8);
@define-color red	#b87a7a;
@define-color green	#7ab87a;
@define-color yellow	#bdbddb;
@define-color blue	#7a7ab8;
@define-color purple	#b87ab8;
@define-color aqua	#7ab8b8;
@define-color gray	#525252;
@define-color brgray	#7f7f7f;
@define-color brred	#dbbdbd;
@define-color brgreen	#bddbbd;
@define-color bryellow	#bdbddb;
@define-color brblue	#bdbddb;
@define-color brpurple	#dbbddb;
@define-color braqua	#bddbdb;
@define-color white	#acacac;
@define-color bg2	#000000;
@define-color brblack	#262626;
