@define-color black	rgba(242,229,188,0.8);
@define-color red	#c14a4a;
@define-color green	#6c782e;
@define-color yellow	#b47109;
@define-color blue	#45707a;
@define-color purple	#945e80;
@define-color aqua	#4c7a5d;
@define-color gray	#a89984;
@define-color brgray	#665c54;
@define-color brred	#c14a4a;
@define-color brgreen	#6c782e;
@define-color bryellow	#b47109;
@define-color brblue	#45707a;
@define-color brpurple	#945e80;
@define-color braqua	#4c7a5d;
@define-color white	#654735;
@define-color bg2	#ebdbb2;
@define-color brblack	#c9b99a;
