@define-color black	rgba(25,25,25,0.8);
@define-color red	#b1270e;
@define-color green	#44a900;
@define-color yellow	#85cfec;
@define-color blue	#578499;
@define-color purple	#96363c;
@define-color aqua	#b2591d;
@define-color gray	#4f4330;
@define-color brgray	#5c503c;
@define-color brred	#ed5c20;
@define-color brgreen	#55f237;
@define-color bryellow	#85cfec;
@define-color brblue	#85cfec;
@define-color brpurple	#e04b5a;
@define-color braqua	#f07d14;
@define-color white	#695d47;
@define-color bg2	#321200;
@define-color brblack	#423625;
