# COLOUR (base16)
@define-color black	rgba(29,29,29,0.8);
@define-color red	#f07c82;
@define-color green	#b2cf87;
@define-color yellow	#f4ce69;
@define-color blue	#8fb2c9;
@define-color purple	#be9db9;
@define-color aqua	#b0d5df;
@define-color gray	#918072;
@define-color brgray	#bdaead;
@define-color brred	#f07c82;
@define-color brgreen	#b2cf87;
@define-color bryellow	#f4ce69;
@define-color brblue	#8fb2c9;
@define-color brpurple	#be9db9;
@define-color braqua	#b0d5df;
@define-color white	#c4cbcf;
@define-color bg2	#282828;
