@define-color black	rgba(28,40,54,0.8);
@define-color red	#f9555f;
@define-color green	#20af89;
@define-color yellow	#fdf029;
@define-color blue	#589cf5;
@define-color purple	#934d95;
@define-color aqua	#1e9ee6;
@define-color gray	#6e6e6e;
@define-color brgray	#888888;
@define-color brred	#fa8b8e;
@define-color brgreen	#34bb99;
@define-color bryellow	#fdf029;
@define-color brblue	#589cf5;
@define-color brpurple	#e75598;
@define-color braqua	#3978bb;
@define-color white	#a1a1a1;
@define-color bg2	#000000;
@define-color brblack	#555555;
