@define-color black	rgba(19,19,19,0.8);
@define-color red	#f71118;
@define-color green	#2cc55d;
@define-color yellow	#0f80d5;
@define-color blue	#2a84d2;
@define-color purple	#4e59b7;
@define-color aqua	#0f80d5;
@define-color gray	#343d50;
@define-color brgray	#d6dae4;
@define-color brred	#de342e;
@define-color brgreen	#1dd260;
@define-color bryellow	#0f80d5;
@define-color brblue	#509bdc;
@define-color brpurple	#524fb9;
@define-color braqua	#289af0;
@define-color white	#c1c8d7;
@define-color bg2	#1f1f1f;
