# COLOUR (base24)
@define-color black	rgba(239,241,245,0.8);
@define-color red	#d20f39;
@define-color green	#40a02b;
@define-color yellow	#df8e1d;
@define-color blue	#1e66f5;
@define-color purple	#8839ef;
@define-color aqua	#179299;
@define-color gray	#bcc0cc;
@define-color brgray	#acb0be;
@define-color brred	#e64553;
@define-color brgreen	#40a02b;
@define-color bryellow	#df8e1d;
@define-color brblue	#209fb5;
@define-color brpurple	#ea76cb;
@define-color braqua	#04a5e5;
@define-color white	#4c4f69;
@define-color bg2	#e6e9ef;
