# COLOUR (base24)
@define-color black	rgba(17,17,17,0.8);
@define-color red	#ff5555;
@define-color green	#98ec65;
@define-color yellow	#33bbff;
@define-color blue	#00aaff;
@define-color purple	#aa88ff;
@define-color aqua	#88ddff;
@define-color gray	#636363;
@define-color brgray	#868686;
@define-color brred	#ff8888;
@define-color brgreen	#b6f292;
@define-color bryellow	#33bbff;
@define-color brblue	#33bbff;
@define-color brpurple	#cebbff;
@define-color braqua	#bbecff;
@define-color white	#a9a9a9;
@define-color bg2	#141414;
