@define-color black	rgba(35,31,32,0.8);
@define-color red	#ee2e24;
@define-color green	#00853e;
@define-color yellow	#ffd204;
@define-color blue	#009ddc;
@define-color purple	#98005d;
@define-color aqua	#85cebc;
@define-color gray	#737171;
@define-color brgray	#959ca1;
@define-color brred	#ee2e24;
@define-color brgreen	#00853e;
@define-color bryellow	#ffd204;
@define-color brblue	#009ddc;
@define-color brpurple	#98005d;
@define-color braqua	#85cebc;
@define-color white	#d9d8d8;
@define-color bg2	#1c3f95;
@define-color brblack	#5a5758;
