# COLOUR (base16)
@define-color black	rgba(22,27,34,0.8);
@define-color red	#f85149;
@define-color green	#2ea043;
@define-color yellow	#bb8009;
@define-color blue	#388bfd;
@define-color purple	#a371f7;
@define-color aqua	#2a9d9a;
@define-color gray	#6e7681;
@define-color brgray	#8b949e;
@define-color brred	#f85149;
@define-color brgreen	#2ea043;
@define-color bryellow	#bb8009;
@define-color brblue	#388bfd;
@define-color brpurple	#a371f7;
@define-color braqua	#2a9d9a;
@define-color white	#c9d1d9;
@define-color bg2	#30363d;
