# COLOUR (base16)
@define-color black	rgba(35,30,24,0.8);
@define-color red	#d35c5c;
@define-color green	#b7ba53;
@define-color yellow	#e0ac16;
@define-color blue	#88a4d3;
@define-color purple	#bb90e2;
@define-color aqua	#6eb958;
@define-color gray	#9d8b70;
@define-color brgray	#b4a490;
@define-color brred	#d35c5c;
@define-color brgreen	#b7ba53;
@define-color bryellow	#e0ac16;
@define-color brblue	#88a4d3;
@define-color brpurple	#bb90e2;
@define-color braqua	#6eb958;
@define-color white	#cabcb1;
@define-color bg2	#302b25;
