# COLOUR (base16)
@define-color black	rgba(39,40,34,0.8);
@define-color red	#f92672;
@define-color green	#a6e22e;
@define-color yellow	#f4bf75;
@define-color blue	#66d9ef;
@define-color purple	#ae81ff;
@define-color aqua	#a1efe4;
@define-color gray	#75715e;
@define-color brgray	#a59f85;
@define-color brred	#f92672;
@define-color brgreen	#a6e22e;
@define-color bryellow	#f4bf75;
@define-color brblue	#66d9ef;
@define-color brpurple	#ae81ff;
@define-color braqua	#a1efe4;
@define-color white	#f8f8f2;
@define-color bg2	#383830;
