@define-color black	rgba(255,255,255,0.8);
@define-color red	#af4947;
@define-color green	#557301;
@define-color yellow	#876500;
@define-color blue	#186daa;
@define-color purple	#7b4ecb;
@define-color aqua	#087767;
@define-color gray	#848484;
@define-color brgray	#636363;
@define-color brred	#af4947;
@define-color brgreen	#557301;
@define-color bryellow	#876500;
@define-color brblue	#186daa;
@define-color brpurple	#7b4ecb;
@define-color braqua	#087767;
@define-color white	#555555;
@define-color bg2	#ededed;
