# COLOUR (base16)
@define-color black	rgba(248,248,248,0.8);
@define-color red	#fa8480;
@define-color green	#a0d2c8;
@define-color yellow	#ffdc61;
@define-color blue	#a0a7d2;
@define-color purple	#c8a0d2;
@define-color aqua	#a2d6f5;
@define-color gray	#b8b8b8;
@define-color brgray	#585858;
@define-color brred	#fa8480;
@define-color brgreen	#a0d2c8;
@define-color bryellow	#ffdc61;
@define-color brblue	#a0a7d2;
@define-color brpurple	#c8a0d2;
@define-color braqua	#a2d6f5;
@define-color white	#383838;
@define-color bg2	#e8e8e8;
