@define-color black	rgba(247,249,251,0.8);
@define-color red	#bf8b56;
@define-color green	#56bf8b;
@define-color yellow	#8bbf56;
@define-color blue	#8b56bf;
@define-color purple	#bf568b;
@define-color aqua	#568bbf;
@define-color gray	#aabcce;
@define-color brgray	#627e99;
@define-color brred	#bf8b56;
@define-color brgreen	#56bf8b;
@define-color bryellow	#8bbf56;
@define-color brblue	#8b56bf;
@define-color brpurple	#bf568b;
@define-color braqua	#568bbf;
@define-color white	#405c79;
@define-color bg2	#e5ebf1;
