@define-color black	rgba(50,50,50,0.8);
@define-color red	#d25252;
@define-color green	#7fe173;
@define-color yellow	#5eb7f7;
@define-color blue	#4098ff;
@define-color purple	#f57fff;
@define-color aqua	#bed6ff;
@define-color gray	#797979;
@define-color brgray	#a0a09f;
@define-color brred	#f07070;
@define-color brgreen	#9dff90;
@define-color bryellow	#5eb7f7;
@define-color brblue	#5eb7f7;
@define-color brpurple	#ff9dff;
@define-color braqua	#dcf4ff;
@define-color white	#c7c7c5;
@define-color bg2	#323232;
