# COLOUR (base24)
@define-color black	rgba(0,30,38,0.8);
@define-color red	#d01b24;
@define-color green	#6bbe6c;
@define-color yellow	#178dc7;
@define-color blue	#2075c7;
@define-color purple	#c61b6e;
@define-color aqua	#259185;
@define-color gray	#3a8298;
@define-color brgray	#74a2a9;
@define-color brred	#f4153b;
@define-color brgreen	#50ee84;
@define-color bryellow	#178dc7;
@define-color brblue	#178dc7;
@define-color brpurple	#e14d8e;
@define-color braqua	#00b29e;
@define-color white	#aec2ba;
@define-color bg2	#002731;
