# COLOUR (base24)
@define-color black	rgba(248,249,250,0.8);
@define-color red	#f07171;
@define-color green	#6cbf49;
@define-color yellow	#f2ae49;
@define-color blue	#399ee6;
@define-color purple	#a37acc;
@define-color aqua	#4cbf99;
@define-color gray	#a0a6ac;
@define-color brgray	#8a9199;
@define-color brred	#ff7383;
@define-color brgreen	#86b300;
@define-color bryellow	#f2ae49;
@define-color brblue	#478acc;
@define-color brpurple	#b595d6;
@define-color braqua	#55b4d4;
@define-color white	#5c6166;
@define-color bg2	#edeff1;
