@define-color black	rgba(15,22,15,0.8);
@define-color red	#7f2b26;
@define-color green	#2f7e25;
@define-color yellow	#00a9df;
@define-color blue	#2f697f;
@define-color purple	#47577e;
@define-color aqua	#317f76;
@define-color gray	#46542a;
@define-color brgray	#506243;
@define-color brred	#df8008;
@define-color brgreen	#18e000;
@define-color bryellow	#00a9df;
@define-color brblue	#00a9df;
@define-color brpurple	#0058df;
@define-color braqua	#00dfc3;
@define-color white	#5a6f5c;
@define-color bg2	#112615;
@define-color brblack	#3c4711;
