@define-color black	rgba(0,0,0,0.8);
@define-color red	#eb008a;
@define-color green	#37b349;
@define-color yellow	#f8ca12;
@define-color blue	#0e5a94;
@define-color purple	#b31e8d;
@define-color aqua	#00aabb;
@define-color gray	#505050;
@define-color brgray	#b0b0b0;
@define-color brred	#eb008a;
@define-color brgreen	#37b349;
@define-color bryellow	#f8ca12;
@define-color brblue	#0e5a94;
@define-color brpurple	#b31e8d;
@define-color braqua	#00aabb;
@define-color white	#d0d0d0;
@define-color bg2	#202020;
