@define-color black	rgba(51,51,51,0.8);
@define-color red	#ff2b2b;
@define-color green	#98fb98;
@define-color yellow	#87ceff;
@define-color blue	#cd853f;
@define-color purple	#ffdead;
@define-color aqua	#ffa0a0;
@define-color gray	#7d776c;
@define-color brgray	#a59984;
@define-color brred	#ff5555;
@define-color brgreen	#55ff55;
@define-color bryellow	#87ceff;
@define-color brblue	#87ceff;
@define-color brpurple	#ff55ff;
@define-color braqua	#ffd700;
@define-color white	#cdbb9b;
@define-color bg2	#4d4d4d;
