@define-color black	rgba(23,23,23,0.8);
@define-color red	#bb0000;
@define-color green	#03f622;
@define-color yellow	#62cae7;
@define-color blue	#63d0f0;
@define-color purple	#ce6fda;
@define-color aqua	#00d9df;
@define-color gray	#6e6e6e;
@define-color brgray	#888888;
@define-color brred	#ff5555;
@define-color brgreen	#7df61c;
@define-color bryellow	#62cae7;
@define-color brblue	#62cae7;
@define-color brpurple	#ff9af5;
@define-color braqua	#00ccd7;
@define-color white	#a1a1a1;
@define-color bg2	#4c4c4c;
