# COLOUR (base16)
@define-color black	rgba(31,31,31,0.8);
@define-color red	#d6dbe5;
@define-color green	#f3bd09;
@define-color yellow	#1dd361;
@define-color blue	#5350b9;
@define-color purple	#0f7ddb;
@define-color aqua	#1081d6;
@define-color gray	#ecba0f;
@define-color brgray	#2a84d2;
@define-color brred	#d6dbe5;
@define-color brgreen	#f3bd09;
@define-color bryellow	#1dd361;
@define-color brblue	#5350b9;
@define-color brpurple	#0f7ddb;
@define-color braqua	#1081d6;
@define-color white	#4e5ab7;
@define-color bg2	#f81118;
