@define-color black	rgba(18,38,55,0.8);
@define-color red	#ff0000;
@define-color green	#37dd21;
@define-color yellow	#5555ff;
@define-color blue	#1460d2;
@define-color purple	#ff005d;
@define-color aqua	#00bbbb;
@define-color gray	#6e6e6e;
@define-color brgray	#888888;
@define-color brred	#f40d17;
@define-color brgreen	#3bcf1d;
@define-color bryellow	#5555ff;
@define-color brblue	#5555ff;
@define-color brpurple	#ff55ff;
@define-color braqua	#6ae3f9;
@define-color white	#a1a1a1;
@define-color bg2	#000000;
@define-color brblack	#555555;
