# COLOUR (base16)
@define-color black	rgba(16,16,16,0.8);
@define-color red	#7c7c7c;
@define-color green	#8e8e8e;
@define-color yellow	#a0a0a0;
@define-color blue	#686868;
@define-color purple	#747474;
@define-color aqua	#868686;
@define-color gray	#525252;
@define-color brgray	#ababab;
@define-color brred	#7c7c7c;
@define-color brgreen	#8e8e8e;
@define-color bryellow	#a0a0a0;
@define-color brblue	#686868;
@define-color brpurple	#747474;
@define-color braqua	#868686;
@define-color white	#b9b9b9;
@define-color bg2	#252525;
