@define-color black	rgba(2,16,18,0.8);
@define-color red	#16c1d9;
@define-color green	#4dd0e1;
@define-color yellow	#80deea;
@define-color blue	#00bcd4;
@define-color purple	#00acc1;
@define-color aqua	#26c6da;
@define-color gray	#052e34;
@define-color brgray	#064048;
@define-color brred	#16c1d9;
@define-color brgreen	#4dd0e1;
@define-color bryellow	#80deea;
@define-color brblue	#00bcd4;
@define-color brpurple	#00acc1;
@define-color braqua	#26c6da;
@define-color white	#095b67;
@define-color bg2	#031619;
