# COLOUR (base16)
@define-color black	rgba(25,1,52,0.8);
@define-color red	#27d9d5;
@define-color green	#c33678;
@define-color yellow	#8f6c97;
@define-color blue	#bd0152;
@define-color purple	#82034c;
@define-color aqua	#f80059;
@define-color gray	#7b6d8b;
@define-color brgray	#9c92a8;
@define-color brred	#27d9d5;
@define-color brgreen	#c33678;
@define-color bryellow	#8f6c97;
@define-color brblue	#bd0152;
@define-color brpurple	#82034c;
@define-color braqua	#f80059;
@define-color white	#bdb6c5;
@define-color bg2	#392551;
