@define-color black	rgba(41,38,47,0.8);
@define-color red	#c37372;
@define-color green	#72c373;
@define-color yellow	#aaaadb;
@define-color blue	#7372c3;
@define-color purple	#c372c2;
@define-color aqua	#72c2c3;
@define-color gray	#5b5b5b;
@define-color brgray	#858585;
@define-color brred	#dbaaaa;
@define-color brgreen	#aadbaa;
@define-color bryellow	#aaaadb;
@define-color brblue	#aaaadb;
@define-color brpurple	#dbaada;
@define-color braqua	#aadadb;
@define-color white	#afafaf;
@define-color bg2	#000000;
@define-color brblack	#323232;
