# COLOUR (base16)
@define-color black	rgba(33,30,42,0.8);
@define-color red	#e965a5;
@define-color green	#b1f2a7;
@define-color yellow	#ebde76;
@define-color blue	#95a6f4;
@define-color purple	#ff79c6;
@define-color aqua	#b3f4f3;
@define-color gray	#6e6780;
@define-color brgray	#8a829e;
@define-color brred	#e965a5;
@define-color brgreen	#b1f2a7;
@define-color bryellow	#ebde76;
@define-color brblue	#95a6f4;
@define-color brpurple	#ff79c6;
@define-color braqua	#b3f4f3;
@define-color white	#e4dee9;
@define-color bg2	#2c2737;
