@define-color black	rgba(28,30,38,0.8);
@define-color red	#e95678;
@define-color green	#29d398;
@define-color yellow	#fac29a;
@define-color blue	#26bbd9;
@define-color purple	#ee64ac;
@define-color aqua	#59e1e3;
@define-color gray	#6f6f70;
@define-color brgray	#9da0a2;
@define-color brred	#e95678;
@define-color brgreen	#29d398;
@define-color bryellow	#fac29a;
@define-color brblue	#26bbd9;
@define-color brpurple	#ee64ac;
@define-color braqua	#59e1e3;
@define-color white	#cbced0;
@define-color bg2	#232530;
