# COLOUR (base24)
@define-color black	rgba(32,39,70,0.8);
@define-color red	#c94922;
@define-color green	#ac9739;
@define-color yellow	#898ea4;
@define-color blue	#3d8fd1;
@define-color purple	#6679cc;
@define-color aqua	#22a2c9;
@define-color gray	#767d9c;
@define-color brgray	#8188a4;
@define-color brred	#c76b29;
@define-color brgreen	#293256;
@define-color bryellow	#898ea4;
@define-color brblue	#898ea4;
@define-color brpurple	#dfe2f1;
@define-color braqua	#9c637a;
@define-color white	#8c92ac;
@define-color bg2	#202746;
