@define-color black	rgba(242,242,242,0.8);
@define-color red	#c50f1f;
@define-color green	#13a10e;
@define-color yellow	#c19c00;
@define-color blue	#0037da;
@define-color purple	#881798;
@define-color aqua	#3a96dd;
@define-color gray	#cccccc;
@define-color brgray	#ababab;
@define-color brred	#c50f1f;
@define-color brgreen	#13a10e;
@define-color bryellow	#c19c00;
@define-color brblue	#0037da;
@define-color brpurple	#881798;
@define-color braqua	#3a96dd;
@define-color white	#767676;
@define-color bg2	#e5e5e5;
@define-color brblack	#d9d9d9;
