@define-color black	rgba(30,29,64,0.8);
@define-color red	#d90429;
@define-color green	#3ad900;
@define-color yellow	#6871ff;
@define-color blue	#6943ff;
@define-color purple	#ff2b70;
@define-color aqua	#00c5c7;
@define-color gray	#7f7f7f;
@define-color brgray	#979797;
@define-color brred	#f9291b;
@define-color brgreen	#42d425;
@define-color bryellow	#6871ff;
@define-color brblue	#6871ff;
@define-color brpurple	#ff76ff;
@define-color braqua	#79e7fa;
@define-color white	#afafaf;
@define-color bg2	#000000;
