@define-color black	rgba(245,240,231,0.8);
@define-color red	#d02023;
@define-color green	#637200;
@define-color yellow	#9d6f00;
@define-color blue	#0073b5;
@define-color purple	#4e66b6;
@define-color aqua	#007a72;
@define-color gray	#73777f;
@define-color brgray	#5a5f66;
@define-color brred	#d02023;
@define-color brgreen	#637200;
@define-color bryellow	#9d6f00;
@define-color brblue	#0073b5;
@define-color brpurple	#4e66b6;
@define-color braqua	#007a72;
@define-color white	#43474e;
@define-color bg2	#e7e2d9;
