# COLOUR (base16)
@define-color black	rgba(16,5,16,0.8);
@define-color red	#ff1d0d;
@define-color green	#14cc64;
@define-color yellow	#f000a0;
@define-color blue	#00a0f0;
@define-color purple	#b000d0;
@define-color aqua	#0075b0;
@define-color gray	#605060;
@define-color brgray	#bbb0bb;
@define-color brred	#ff1d0d;
@define-color brgreen	#14cc64;
@define-color bryellow	#f000a0;
@define-color brblue	#00a0f0;
@define-color brpurple	#b000d0;
@define-color braqua	#0075b0;
@define-color white	#ddd0dd;
@define-color bg2	#302030;
