# COLOUR (base24)
@define-color black	rgba(34,36,54,0.8);
@define-color red	#c60049;
@define-color green	#abf157;
@define-color yellow	#b1bdf9;
@define-color blue	#525fb8;
@define-color purple	#976f81;
@define-color aqua	#968662;
@define-color gray	#8c7f63;
@define-color brgray	#aca496;
@define-color brred	#d94a8a;
@define-color brgreen	#daffa8;
@define-color bryellow	#b1bdf9;
@define-color brblue	#b1bdf9;
@define-color brpurple	#fda4cc;
@define-color braqua	#a4bc86;
@define-color white	#ccc9c9;
@define-color bg2	#03063c;
