# COLOUR (base24)
@define-color black	rgba(27,29,30,0.8);
@define-color red	#259d1a;
@define-color green	#13ce2f;
@define-color yellow	#4f6a95;
@define-color blue	#2424f4;
@define-color purple	#641e73;
@define-color aqua	#378ca9;
@define-color gray	#727473;
@define-color brgray	#949592;
@define-color brred	#8dff2a;
@define-color brgreen	#48ff76;
@define-color bryellow	#4f6a95;
@define-color brblue	#4f6a95;
@define-color brpurple	#72579d;
@define-color braqua	#3f85a5;
@define-color white	#b6b6b1;
@define-color bg2	#1b1d1e;
