@define-color black	rgba(32,22,2,0.8);
@define-color red	#c35359;
@define-color green	#18974e;
@define-color yellow	#a88339;
@define-color blue	#477ca1;
@define-color purple	#8868b3;
@define-color aqua	#75a738;
@define-color gray	#6c6823;
@define-color brgray	#86813b;
@define-color brred	#c35359;
@define-color brgreen	#18974e;
@define-color bryellow	#a88339;
@define-color brblue	#477ca1;
@define-color brpurple	#8868b3;
@define-color braqua	#75a738;
@define-color white	#948e48;
@define-color bg2	#302e00;
@define-color brblack	#5f5b17;
