@define-color black	rgba(0,0,0,0.8);
@define-color red	#e05561;
@define-color green	#8cc265;
@define-color yellow	#e6b965;
@define-color blue	#4aa5f0;
@define-color purple	#c162de;
@define-color aqua	#42b3c2;
@define-color gray	#545862;
@define-color brgray	#9196a1;
@define-color brred	#ff616e;
@define-color brgreen	#a5e075;
@define-color bryellow	#e6b965;
@define-color brblue	#4dc4ff;
@define-color brpurple	#de73ff;
@define-color braqua	#4cd1e0;
@define-color white	#abb2bf;
@define-color bg2	#000000;
