@define-color black	rgba(46,42,49,0.8);
@define-color red	#d8137f;
@define-color green	#17ad98;
@define-color yellow	#dc8a0e;
@define-color blue	#7864fa;
@define-color purple	#b33ce8;
@define-color aqua	#149bda;
@define-color gray	#878589;
@define-color brgray	#a5a3a6;
@define-color brred	#d8137f;
@define-color brgreen	#17ad98;
@define-color bryellow	#dc8a0e;
@define-color brblue	#7864fa;
@define-color brpurple	#b33ce8;
@define-color braqua	#149bda;
@define-color white	#c3c2c4;
@define-color bg2	#4b484e;
