@define-color black	rgba(255,255,255,0.8);
@define-color red	#b23771;
@define-color green	#66781e;
@define-color yellow	#cda434;
@define-color blue	#3c5ea8;
@define-color purple	#a454b2;
@define-color aqua	#1e7878;
@define-color gray	#c1c1c1;
@define-color brgray	#717171;
@define-color brred	#db3365;
@define-color brgreen	#829429;
@define-color bryellow	#cda434;
@define-color brblue	#3c5ea8;
@define-color brpurple	#a454b2;
@define-color braqua	#175e5e;
@define-color white	#515151;
@define-color bg2	#f1f1f1;
