@define-color black	rgba(41,45,62,0.8);
@define-color red	#6e98e1;
@define-color green	#78c06e;
@define-color yellow	#e0a557;
@define-color blue	#82aaff;
@define-color purple	#c792ea;
@define-color aqua	#83b7e5;
@define-color gray	#676e95;
@define-color brgray	#8796b0;
@define-color brred	#6e98e1;
@define-color brgreen	#78c06e;
@define-color bryellow	#e0a557;
@define-color brblue	#82aaff;
@define-color brpurple	#c792ea;
@define-color braqua	#83b7e5;
@define-color white	#959dcb;
@define-color bg2	#444267;
@define-color brblack	#5c598b;
