# COLOUR (base16)
@define-color black	rgba(0,0,42,0.8);
@define-color red	#ff4242;
@define-color green	#59f176;
@define-color yellow	#f3e877;
@define-color blue	#66b0ff;
@define-color purple	#f10596;
@define-color aqua	#0ef0f0;
@define-color gray	#50507a;
@define-color brgray	#b0b0da;
@define-color brred	#ff4242;
@define-color brgreen	#59f176;
@define-color bryellow	#f3e877;
@define-color brblue	#66b0ff;
@define-color brpurple	#f10596;
@define-color braqua	#0ef0f0;
@define-color white	#d0d0fa;
@define-color bg2	#20204a;
