@define-color black	rgba(28,24,16,0.8);
@define-color red	#e35142;
@define-color green	#5ceb5a;
@define-color yellow	#f2ff27;
@define-color blue	#489bf0;
@define-color purple	#ff8080;
@define-color aqua	#5aebbc;
@define-color gray	#504b38;
@define-color brgray	#5f5b45;
@define-color brred	#e35142;
@define-color brgreen	#5ceb5a;
@define-color bryellow	#f2ff27;
@define-color brblue	#489bf0;
@define-color brpurple	#ff8080;
@define-color braqua	#5aebbc;
@define-color white	#736e55;
@define-color bg2	#2a261c;
