@define-color black	rgba(20,31,46,0.8);
@define-color red	#fffab1;
@define-color green	#80ff80;
@define-color yellow	#91ccff;
@define-color blue	#a2cff5;
@define-color purple	#0099ff;
@define-color aqua	#80ff80;
@define-color gray	#a0ffa0;
@define-color brgray	#1e5c1e;
@define-color brred	#fffab1;
@define-color brgreen	#80ff80;
@define-color bryellow	#91ccff;
@define-color brblue	#a2cff5;
@define-color brpurple	#0099ff;
@define-color braqua	#80ff80;
@define-color white	#ffcc33;
@define-color bg2	#1e5c1e;
