@define-color black	rgba(253,246,227,0.8);
@define-color red	#dc322f;
@define-color green	#859900;
@define-color yellow	#b58900;
@define-color blue	#268bd2;
@define-color purple	#6c71c4;
@define-color aqua	#2aa198;
@define-color gray	#839496;
@define-color brgray	#657b83;
@define-color brred	#dc322f;
@define-color brgreen	#859900;
@define-color bryellow	#b58900;
@define-color brblue	#268bd2;
@define-color brpurple	#6c71c4;
@define-color braqua	#2aa198;
@define-color white	#586e75;
@define-color bg2	#eee8d5;
