@define-color black	rgba(16,16,16,0.8);
@define-color red	#8c4665;
@define-color green	#287373;
@define-color yellow	#477ab3;
@define-color blue	#395573;
@define-color purple	#5e468c;
@define-color aqua	#31658c;
@define-color gray	#505456;
@define-color brgray	#636c6f;
@define-color brred	#bf4d80;
@define-color brgreen	#53a6a6;
@define-color bryellow	#477ab3;
@define-color brblue	#477ab3;
@define-color brpurple	#7e62b3;
@define-color braqua	#6096bf;
@define-color white	#768488;
@define-color bg2	#333333;
