@define-color black	rgba(29,29,29,0.8);
@define-color red	#c06061;
@define-color green	#8ca07b;
@define-color yellow	#e5bc84;
@define-color blue	#839ec9;
@define-color purple	#98a1d8;
@define-color aqua	#5e8c9b;
@define-color gray	#918072;
@define-color brgray	#bdaead;
@define-color brred	#c06061;
@define-color brgreen	#8ca07b;
@define-color bryellow	#e5bc84;
@define-color brblue	#839ec9;
@define-color brpurple	#98a1d8;
@define-color braqua	#5e8c9b;
@define-color white	#c4cbcf;
@define-color bg2	#282828;
