@define-color black	rgba(19,21,19,0.8);
@define-color red	#e6193c;
@define-color green	#29a329;
@define-color yellow	#98981b;
@define-color blue	#3d62f5;
@define-color purple	#ad2bee;
@define-color aqua	#1999b3;
@define-color gray	#687d68;
@define-color brgray	#809980;
@define-color brred	#e6193c;
@define-color brgreen	#29a329;
@define-color bryellow	#98981b;
@define-color brblue	#3d62f5;
@define-color brpurple	#ad2bee;
@define-color braqua	#1999b3;
@define-color white	#8ca68c;
@define-color bg2	#242924;
