@define-color black	rgba(16,16,16,0.8);
@define-color red	#de6e6e;
@define-color green	#5f8787;
@define-color yellow	#ffc799;
@define-color blue	#8eaaaa;
@define-color purple	#d69094;
@define-color aqua	#60a592;
@define-color gray	#333333;
@define-color brgray	#999999;
@define-color brred	#de6e6e;
@define-color brgreen	#5f8787;
@define-color bryellow	#ffc799;
@define-color brblue	#8eaaaa;
@define-color brpurple	#d69094;
@define-color braqua	#60a592;
@define-color white	#b7b7b7;
@define-color bg2	#232323;
