@define-color black	rgba(28,28,28,0.8);
@define-color red	#af005f;
@define-color green	#5faf00;
@define-color yellow	#d7af5f;
@define-color blue	#5fafd7;
@define-color purple	#af87d7;
@define-color aqua	#ffaf00;
@define-color gray	#808080;
@define-color brgray	#585858;
@define-color brred	#d7005f;
@define-color brgreen	#ffd75f;
@define-color bryellow	#d7af5f;
@define-color brblue	#ffd700;
@define-color brpurple	#87d7ff;
@define-color braqua	#87d700;
@define-color white	#d0d0d0;
@define-color bg2	#303030;
