@define-color black	rgba(22,23,24,0.8);
@define-color red	#b74d50;
@define-color green	#b3be5a;
@define-color yellow	#4b6b88;
@define-color blue	#6d90b0;
@define-color purple	#a07eab;
@define-color aqua	#7fbeb3;
@define-color gray	#434446;
@define-color brgray	#696b6b;
@define-color brred	#8c2d32;
@define-color brgreen	#788331;
@define-color bryellow	#4b6b88;
@define-color brblue	#4b6b88;
@define-color brpurple	#6e4f79;
@define-color braqua	#4d7b73;
@define-color white	#8f9190;
@define-color bg2	#2a2e33;
