# COLOUR (base16)
@define-color black	rgba(224,224,224,0.8);
@define-color red	#840000;
@define-color green	#730073;
@define-color yellow	#755b00;
@define-color blue	#007300;
@define-color purple	#000090;
@define-color aqua	#755b00;
@define-color gray	#707070;
@define-color brgray	#202020;
@define-color brred	#840000;
@define-color brgreen	#730073;
@define-color bryellow	#755b00;
@define-color brblue	#007300;
@define-color brpurple	#000090;
@define-color braqua	#755b00;
@define-color white	#000000;
@define-color bg2	#d0dad0;
