@define-color black	rgba(255,255,255,0.8);
@define-color red	#ff0086;
@define-color green	#00c918;
@define-color yellow	#aba800;
@define-color blue	#3777e6;
@define-color purple	#ad00a1;
@define-color aqua	#1faaaa;
@define-color gray	#b0b0b0;
@define-color brgray	#000000;
@define-color brred	#ff0086;
@define-color brgreen	#00c918;
@define-color bryellow	#aba800;
@define-color brblue	#3777e6;
@define-color brpurple	#ad00a1;
@define-color braqua	#1faaaa;
@define-color white	#101010;
@define-color bg2	#e0e0e0;
