# COLOUR (base16)
@define-color black	rgba(17,17,17,0.8);
@define-color red	#ff4136;
@define-color green	#2ecc40;
@define-color yellow	#ffdc00;
@define-color blue	#0074d9;
@define-color purple	#b10dc9;
@define-color aqua	#7fdbff;
@define-color gray	#777777;
@define-color brgray	#999999;
@define-color brred	#ff4136;
@define-color brgreen	#2ecc40;
@define-color bryellow	#ffdc00;
@define-color brblue	#0074d9;
@define-color brpurple	#b10dc9;
@define-color braqua	#7fdbff;
@define-color white	#bbbbbb;
@define-color bg2	#333333;
