@define-color black	rgba(254,255,255,0.8);
@define-color red	#e4492b;
@define-color green	#50d048;
@define-color yellow	#c5c340;
@define-color blue	#3a75ff;
@define-color purple	#ec65e7;
@define-color aqua	#4ed1dd;
@define-color gray	#cccccc;
@define-color brgray	#757575;
@define-color brred	#ff6640;
@define-color brgreen	#61ee56;
@define-color bryellow	#c5c340;
@define-color brblue	#0081ff;
@define-color brpurple	#ff7dfe;
@define-color braqua	#60f6f8;
@define-color white	#4f4f4f;
@define-color bg2	#f1f1f1;
@define-color brblack	#dcdcdc;
