@define-color black	rgba(24,28,39,0.8);
@define-color red	#800009;
@define-color green	#48513b;
@define-color yellow	#2f97c6;
@define-color blue	#566d8c;
@define-color purple	#724c7c;
@define-color aqua	#5b4f4a;
@define-color gray	#6b685f;
@define-color brgray	#817c69;
@define-color brred	#ab3834;
@define-color brgreen	#a6a65d;
@define-color bryellow	#2f97c6;
@define-color brblue	#2f97c6;
@define-color brpurple	#d33060;
@define-color braqua	#f3dab1;
@define-color white	#978f73;
@define-color bg2	#181818;
