@define-color black	rgba(250,250,250,0.8);
@define-color red	#db7070;
@define-color green	#7c9f4b;
@define-color yellow	#ebcc1a;
@define-color blue	#6587bf;
@define-color purple	#b870ce;
@define-color aqua	#509c93;
@define-color gray	#9197a1;
@define-color brgray	#5e646f;
@define-color brred	#db7070;
@define-color brgreen	#7c9f4b;
@define-color bryellow	#ebcc1a;
@define-color brblue	#6587bf;
@define-color brpurple	#b870ce;
@define-color braqua	#509c93;
@define-color white	#474752;
@define-color bg2	#e3e5e8;
@define-color brblack	#acb1b9;
