# COLOUR (base16)
@define-color black	rgba(41,42,55,0.8);
@define-color red	#ec6a88;
@define-color green	#3fdaa4;
@define-color yellow	#e1c697;
@define-color blue	#3fc6de;
@define-color purple	#be95ff;
@define-color aqua	#ff7eb6;
@define-color gray	#45475d;
@define-color brgray	#50526b;
@define-color brred	#ec6a88;
@define-color brgreen	#3fdaa4;
@define-color bryellow	#e1c697;
@define-color brblue	#3fc6de;
@define-color brpurple	#be95ff;
@define-color braqua	#ff7eb6;
@define-color white	#c0cbe3;
@define-color bg2	#343545;
