# COLOUR (base16)
@define-color black	rgba(30,30,30,0.8);
@define-color red	#cf6a4c;
@define-color green	#8f9d6a;
@define-color yellow	#f9ee98;
@define-color blue	#7587a6;
@define-color purple	#9b859d;
@define-color aqua	#afc4db;
@define-color gray	#5f5a60;
@define-color brgray	#838184;
@define-color brred	#cf6a4c;
@define-color brgreen	#8f9d6a;
@define-color bryellow	#f9ee98;
@define-color brblue	#7587a6;
@define-color brpurple	#9b859d;
@define-color braqua	#afc4db;
@define-color white	#a7a7a7;
@define-color bg2	#323537;
