@define-color black	rgba(241,236,241,0.8);
@define-color red	#fe3e31;
@define-color green	#47f74c;
@define-color yellow	#f7e203;
@define-color blue	#2931df;
@define-color purple	#611fce;
@define-color aqua	#0f9cfd;
@define-color gray	#b5b4b6;
@define-color brgray	#979598;
@define-color brred	#fe3e31;
@define-color brgreen	#47f74c;
@define-color bryellow	#f7e203;
@define-color brblue	#2931df;
@define-color brpurple	#611fce;
@define-color braqua	#0f9cfd;
@define-color white	#515151;
@define-color bg2	#e0dee0;
@define-color brblack	#d8d5d5;
