# COLOUR (base16)
@define-color black	rgba(43,43,43,0.8);
@define-color red	#da4939;
@define-color green	#a5c261;
@define-color yellow	#ffc66d;
@define-color blue	#6d9cbe;
@define-color purple	#b6b3eb;
@define-color aqua	#519f50;
@define-color gray	#5a647e;
@define-color brgray	#d4cfc9;
@define-color brred	#da4939;
@define-color brgreen	#a5c261;
@define-color bryellow	#ffc66d;
@define-color brblue	#6d9cbe;
@define-color brpurple	#b6b3eb;
@define-color braqua	#519f50;
@define-color white	#e6e1dc;
@define-color bg2	#272935;
