# COLOUR (base16)
@define-color black	rgba(28,18,19,0.8);
@define-color red	#c24f57;
@define-color green	#806c61;
@define-color yellow	#f28171;
@define-color blue	#684c59;
@define-color purple	#a63650;
@define-color aqua	#6b6566;
@define-color gray	#6d4745;
@define-color brgray	#8b5d57;
@define-color brred	#c24f57;
@define-color brgreen	#806c61;
@define-color bryellow	#f28171;
@define-color brblue	#684c59;
@define-color brpurple	#a63650;
@define-color braqua	#6b6566;
@define-color white	#a87569;
@define-color bg2	#3a2425;
