@define-color black	rgba(38,39,41,0.8);
@define-color red	#e77171;
@define-color green	#a1bf78;
@define-color yellow	#dbb774;
@define-color blue	#73b3e7;
@define-color purple	#d390e7;
@define-color aqua	#5ebaa5;
@define-color gray	#4a4c4f;
@define-color brgray	#95989d;
@define-color brred	#e77171;
@define-color brgreen	#a1bf78;
@define-color bryellow	#dbb774;
@define-color brblue	#73b3e7;
@define-color brpurple	#d390e7;
@define-color braqua	#5ebaa5;
@define-color white	#afb2b5;
@define-color bg2	#313235;
@define-color brblack	#3d3f42;
