@define-color black	rgba(28,28,28,0.8);
@define-color red	#a36666;
@define-color green	#90a57d;
@define-color yellow	#a1bdce;
@define-color blue	#7fa5bd;
@define-color purple	#c79ec4;
@define-color aqua	#8adbb4;
@define-color gray	#6b6a67;
@define-color brgray	#8d8c8a;
@define-color brred	#d78787;
@define-color brgreen	#afbea2;
@define-color bryellow	#a1bdce;
@define-color brblue	#a1bdce;
@define-color brpurple	#d7beda;
@define-color braqua	#b1e7dd;
@define-color white	#aeaead;
@define-color bg2	#2f2e2d;
