@define-color black	rgba(27,29,30,0.8);
@define-color red	#f92672;
@define-color green	#4df740;
@define-color yellow	#3f78ff;
@define-color blue	#2656d6;
@define-color purple	#8c54fe;
@define-color aqua	#37c8b4;
@define-color gray	#6f7170;
@define-color brgray	#8e8f8d;
@define-color brred	#ff5995;
@define-color brgreen	#b6e354;
@define-color bryellow	#3f78ff;
@define-color brblue	#3f78ff;
@define-color brpurple	#9e6ffe;
@define-color braqua	#23ced4;
@define-color white	#adada9;
@define-color bg2	#1b1d1e;
