@define-color black	rgba(36,52,52,0.8);
@define-color red	#825d4d;
@define-color green	#718c61;
@define-color yellow	#79c3cf;
@define-color blue	#4d7b82;
@define-color purple	#8a7167;
@define-color aqua	#719393;
@define-color gray	#9f9f9f;
@define-color brgray	#b5b5b5;
@define-color brred	#cf9379;
@define-color brgreen	#98d9aa;
@define-color bryellow	#79c3cf;
@define-color brblue	#79c3cf;
@define-color brpurple	#d6b2a1;
@define-color braqua	#ade0e0;
@define-color white	#cacaca;
@define-color bg2	#757575;
@define-color brblack	#8a8a8a;
