@define-color black	rgba(121,36,30,0.8);
@define-color red	#ff3f00;
@define-color green	#00bb00;
@define-color yellow	#0071ae;
@define-color blue	#0071ff;
@define-color purple	#bb00bb;
@define-color aqua	#00bbbb;
@define-color gray	#6e6e6e;
@define-color brgray	#888888;
@define-color brred	#bb0000;
@define-color brgreen	#00bb00;
@define-color bryellow	#0071ae;
@define-color brblue	#0071ae;
@define-color brpurple	#ff55ff;
@define-color braqua	#55ffff;
@define-color white	#a1a1a1;
@define-color bg2	#000000;
