@define-color black	rgba(32,32,32,0.8);
@define-color red	#ea6962;
@define-color green	#a9b665;
@define-color yellow	#d8a657;
@define-color blue	#7daea3;
@define-color purple	#d3869b;
@define-color aqua	#89b482;
@define-color gray	#5a524c;
@define-color brgray	#bdae93;
@define-color brred	#ea6962;
@define-color brgreen	#a9b665;
@define-color bryellow	#d8a657;
@define-color brblue	#7daea3;
@define-color brpurple	#d3869b;
@define-color braqua	#89b482;
@define-color white	#ddc7a1;
@define-color bg2	#2a2827;
@define-color brblack	#504945;
