@define-color black	rgba(249,249,249,0.8);
@define-color red	#e92f2f;
@define-color green	#0ed839;
@define-color yellow	#dddd13;
@define-color blue	#3b48e3;
@define-color purple	#f996e2;
@define-color aqua	#23edda;
@define-color gray	#555555;
@define-color brgray	#343434;
@define-color brred	#e92f2f;
@define-color brgreen	#0ed839;
@define-color bryellow	#dddd13;
@define-color brblue	#3b48e3;
@define-color brpurple	#f996e2;
@define-color braqua	#23edda;
@define-color white	#102015;
@define-color bg2	#e0e0e0;
@define-color brblack	#ababab;
