@define-color black	rgba(255,255,255,0.8);
@define-color red	#d8137f;
@define-color green	#17ad98;
@define-color yellow	#dc8a0e;
@define-color blue	#775dff;
@define-color purple	#aa17e6;
@define-color aqua	#149bda;
@define-color gray	#a7a5a8;
@define-color brgray	#89878b;
@define-color brred	#d8137f;
@define-color brgreen	#17ad98;
@define-color bryellow	#dc8a0e;
@define-color brblue	#775dff;
@define-color brpurple	#aa17e6;
@define-color braqua	#149bda;
@define-color white	#6c696e;
@define-color bg2	#e1e1e2;
