# COLOUR (base16)
@define-color black	rgba(21,21,21,0.8);
@define-color red	#ac4142;
@define-color green	#90a959;
@define-color yellow	#f4bf75;
@define-color blue	#6a9fb5;
@define-color purple	#aa759f;
@define-color aqua	#75b5aa;
@define-color gray	#505050;
@define-color brgray	#b0b0b0;
@define-color brred	#ac4142;
@define-color brgreen	#90a959;
@define-color bryellow	#f4bf75;
@define-color brblue	#6a9fb5;
@define-color brpurple	#aa759f;
@define-color braqua	#75b5aa;
@define-color white	#d0d0d0;
@define-color bg2	#202020;
