# COLOUR (base24)
@define-color black	rgba(0,0,0,0.8);
@define-color red	#cc5555;
@define-color green	#55cc55;
@define-color yellow	#5555ff;
@define-color blue	#5455cb;
@define-color purple	#cc55cc;
@define-color aqua	#7acaca;
@define-color gray	#727272;
@define-color brgray	#909090;
@define-color brred	#ff5555;
@define-color brgreen	#55ff55;
@define-color bryellow	#5555ff;
@define-color brblue	#5555ff;
@define-color brpurple	#ff55ff;
@define-color braqua	#55ffff;
@define-color white	#aeaeae;
@define-color bg2	#000000;
