@define-color black	rgba(0,0,0,0.8);
@define-color red	#ff6600;
@define-color green	#ccff04;
@define-color yellow	#0000ff;
@define-color blue	#44b3cc;
@define-color purple	#9933cc;
@define-color aqua	#44b3cc;
@define-color gray	#7d7d7d;
@define-color brgray	#a5a5a5;
@define-color brred	#ff0000;
@define-color brgreen	#00ff00;
@define-color bryellow	#0000ff;
@define-color brblue	#0000ff;
@define-color brpurple	#ff00ff;
@define-color braqua	#00ffff;
@define-color white	#cdcdcd;
@define-color bg2	#878787;
@define-color brblack	#555555;
