@define-color black	rgba(45,53,59,0.8);
@define-color red	#e67e80;
@define-color green	#a7c080;
@define-color yellow	#dbbc7f;
@define-color blue	#7fbbb3;
@define-color purple	#d699b6;
@define-color aqua	#83c092;
@define-color gray	#475258;
@define-color brgray	#7a8478;
@define-color brred	#e67e80;
@define-color brgreen	#a7c080;
@define-color bryellow	#dbbc7f;
@define-color brblue	#7fbbb3;
@define-color brpurple	#d699b6;
@define-color braqua	#83c092;
@define-color white	#859289;
@define-color bg2	#343f44;
@define-color brblack	#3d484d;
