# COLOUR (base24)
@define-color black	rgba(22,20,35,0.8);
@define-color red	#ec2160;
@define-color green	#1fa91b;
@define-color yellow	#a9bbeb;
@define-color blue	#487cf4;
@define-color purple	#8c35c8;
@define-color aqua	#3added;
@define-color gray	#696377;
@define-color brgray	#7b7785;
@define-color brred	#f0719a;
@define-color brgreen	#52a95d;
@define-color bryellow	#a9bbeb;
@define-color brblue	#a9bbeb;
@define-color brpurple	#ac81c1;
@define-color braqua	#9ce3ea;
@define-color white	#8c8a92;
@define-color bg2	#2d283e;
