# COLOUR (base24)
@define-color black	rgba(8,19,26,0.8);
@define-color red	#d15023;
@define-color green	#027c9b;
@define-color yellow	#1bbcdd;
@define-color blue	#1e4950;
@define-color purple	#68d3f1;
@define-color aqua	#50a3b5;
@define-color gray	#696660;
@define-color brgray	#90816f;
@define-color brred	#d38677;
@define-color brgreen	#618c98;
@define-color bryellow	#1bbcdd;
@define-color brblue	#1bbcdd;
@define-color brpurple	#bbe3ee;
@define-color braqua	#86abb3;
@define-color white	#b79c7e;
@define-color bg2	#17384c;
