@define-color black	rgba(255,255,255,0.8);
@define-color red	#d03e3e;
@define-color green	#31861f;
@define-color yellow	#ad8200;
@define-color blue	#3173c5;
@define-color purple	#9e57c2;
@define-color aqua	#00998f;
@define-color gray	#767676;
@define-color brgray	#767676;
@define-color brred	#d03e3e;
@define-color brgreen	#31861f;
@define-color bryellow	#ad8200;
@define-color brblue	#3173c5;
@define-color brpurple	#9e57c2;
@define-color braqua	#00998f;
@define-color white	#444444;
@define-color bg2	#eeeeee;
@define-color brblack	#cccccc;
