@define-color black	rgba(234,238,242,0.8);
@define-color red	#fa4549;
@define-color green	#2da44e;
@define-color yellow	#bf8700;
@define-color blue	#218bff;
@define-color purple	#a475f9;
@define-color aqua	#339d9b;
@define-color gray	#8c959f;
@define-color brgray	#6e7781;
@define-color brred	#ff8182;
@define-color brgreen	#4ac26b;
@define-color bryellow	#bf8700;
@define-color brblue	#54aeff;
@define-color brpurple	#c297ff;
@define-color braqua	#49bcb7;
@define-color white	#424a53;
@define-color bg2	#d0d7de;
@define-color brblack	#afb8c1;
