@define-color black	rgba(0,0,0,0.8);
@define-color red	#aa0000;
@define-color green	#00aa00;
@define-color yellow	#ffff55;
@define-color blue	#5555ff;
@define-color purple	#ff55ff;
@define-color aqua	#00aaaa;
@define-color gray	#555555;
@define-color brgray	#888888;
@define-color brred	#aa0000;
@define-color brgreen	#00aa00;
@define-color bryellow	#ffff55;
@define-color brblue	#5555ff;
@define-color brpurple	#ff55ff;
@define-color braqua	#00aaaa;
@define-color white	#aaaaaa;
@define-color bg2	#333333;
@define-color brblack	#444444;
