@define-color black	rgba(52,61,70,0.8);
@define-color red	#d54e53;
@define-color green	#b9ca4a;
@define-color yellow	#e7c547;
@define-color blue	#7aa6da;
@define-color purple	#c397d8;
@define-color aqua	#70c0b1;
@define-color gray	#a7adba;
@define-color brgray	#c0c5ce;
@define-color brred	#d54e53;
@define-color brgreen	#b9ca4a;
@define-color bryellow	#e7c547;
@define-color brblue	#7aa6da;
@define-color brpurple	#c397d8;
@define-color braqua	#70c0b1;
@define-color white	#dfe1e8;
@define-color bg2	#4f5b66;
@define-color brblack	#65737e;
