@define-color black	rgba(0,0,0,0.8);
@define-color red	#ff0000;
@define-color green	#33ff00;
@define-color yellow	#ff0099;
@define-color blue	#0066ff;
@define-color purple	#cc00ff;
@define-color aqua	#00ffff;
@define-color gray	#808080;
@define-color brgray	#c0c0c0;
@define-color brred	#ff0000;
@define-color brgreen	#33ff00;
@define-color bryellow	#ff0099;
@define-color brblue	#0066ff;
@define-color brpurple	#cc00ff;
@define-color braqua	#00ffff;
@define-color white	#d0d0d0;
@define-color bg2	#404040;
