@define-color black	rgba(20,40,56,0.8);
@define-color red	#ff2320;
@define-color green	#3aa5ff;
@define-color yellow	#3c7dd2;
@define-color blue	#8ff586;
@define-color purple	#781aa0;
@define-color aqua	#8ff586;
@define-color gray	#eeca92;
@define-color brgray	#dd9e9c;
@define-color brred	#d4312e;
@define-color brgreen	#8ff586;
@define-color bryellow	#3c7dd2;
@define-color brblue	#3c7dd2;
@define-color brpurple	#8230a7;
@define-color braqua	#6cbc67;
@define-color white	#cc72a6;
@define-color bg2	#142630;
@define-color brblack	#fff688;
