@define-color black	rgba(24,24,24,0.8);
@define-color red	#d61b15;
@define-color green	#59a413;
@define-color yellow	#0855fe;
@define-color blue	#053a8c;
@define-color purple	#e40038;
@define-color aqua	#2594e0;
@define-color gray	#737373;
@define-color brgray	#9c9c9c;
@define-color brred	#fb1b18;
@define-color brgreen	#6ac118;
@define-color bryellow	#0855fe;
@define-color brblue	#0855fe;
@define-color brpurple	#fb004f;
@define-color braqua	#3ea7fc;
@define-color white	#c5c5c5;
@define-color bg2	#242424;
