# COLOUR (base24)
@define-color black	rgba(8,8,8,0.8);
@define-color red	#d60005;
@define-color green	#1cd815;
@define-color yellow	#9fa8fe;
@define-color blue	#5665fe;
@define-color purple	#af51d9;
@define-color aqua	#4fd2d9;
@define-color gray	#767676;
@define-color brgray	#999999;
@define-color brred	#fb0006;
@define-color brgreen	#21fe17;
@define-color bryellow	#9fa8fe;
@define-color brblue	#9fa8fe;
@define-color brpurple	#e099fe;
@define-color braqua	#8cf9fe;
@define-color white	#bcbcbc;
@define-color bg2	#000000;
