# COLOUR (base16)
@define-color black	rgba(7,43,49,0.8);
@define-color red	#ff585d;
@define-color green	#78d64b;
@define-color yellow	#fbdd40;
@define-color blue	#4698cb;
@define-color purple	#d59ed7;
@define-color aqua	#2dccd3;
@define-color gray	#003b49;
@define-color brgray	#00778b;
@define-color brred	#ff585d;
@define-color brgreen	#78d64b;
@define-color bryellow	#fbdd40;
@define-color brblue	#4698cb;
@define-color brpurple	#d59ed7;
@define-color braqua	#2dccd3;
@define-color white	#f4f5f0;
@define-color bg2	#00313c;
