@define-color black	rgba(26,27,38,0.8);
@define-color red	#c0caf5;
@define-color green	#9ece6a;
@define-color yellow	#0db9d7;
@define-color blue	#2ac3de;
@define-color purple	#bb9af7;
@define-color aqua	#b4f9f8;
@define-color gray	#444b6a;
@define-color brgray	#787c99;
@define-color brred	#ff7a93;
@define-color brgreen	#73daca;
@define-color bryellow	#0db9d7;
@define-color brblue	#89ddff;
@define-color brpurple	#bb9af7;
@define-color braqua	#7dcfff;
@define-color white	#a9b1d6;
@define-color bg2	#16161e;
@define-color brblack	#2f3549;
