@define-color black	rgba(45,45,45,0.8);
@define-color red	#ff7f7b;
@define-color green	#beda78;
@define-color yellow	#ffd67c;
@define-color blue	#90bee1;
@define-color purple	#efb3f7;
@define-color aqua	#bed6ff;
@define-color gray	#777777;
@define-color brgray	#b4b7b4;
@define-color brred	#ff7f7b;
@define-color brgreen	#beda78;
@define-color bryellow	#ffd67c;
@define-color brblue	#90bee1;
@define-color brpurple	#efb3f7;
@define-color braqua	#bed6ff;
@define-color white	#cccccc;
@define-color bg2	#393939;
