# COLOUR (base16)
@define-color black	rgba(0,0,0,0.8);
@define-color red	#ff0000;
@define-color green	#00ff00;
@define-color yellow	#ffff00;
@define-color blue	#0000ff;
@define-color purple	#ff00ff;
@define-color aqua	#00ffff;
@define-color gray	#808080;
@define-color brgray	#a1a1a1;
@define-color brred	#ff0000;
@define-color brgreen	#00ff00;
@define-color bryellow	#ffff00;
@define-color brblue	#0000ff;
@define-color brpurple	#ff00ff;
@define-color braqua	#00ffff;
@define-color white	#c0c0c0;
@define-color bg2	#2a2a2a;
