@define-color black	rgba(255,255,255,0.8);
@define-color red	#bb0000;
@define-color green	#00bb00;
@define-color yellow	#5555ff;
@define-color blue	#0000bb;
@define-color purple	#bb00bb;
@define-color aqua	#00bbbb;
@define-color gray	#6e6e6e;
@define-color brgray	#888888;
@define-color brred	#ff5555;
@define-color brgreen	#55ff55;
@define-color bryellow	#5555ff;
@define-color brblue	#5555ff;
@define-color brpurple	#ff55ff;
@define-color braqua	#55ffff;
@define-color white	#a1a1a1;
@define-color bg2	#000000;
