# COLOUR (base16)
@define-color black	rgba(23,29,35,0.8);
@define-color red	#f7768e;
@define-color green	#9ece6a;
@define-color yellow	#b7c5d3;
@define-color blue	#7aa2f7;
@define-color purple	#bb9af7;
@define-color aqua	#89ddff;
@define-color gray	#526270;
@define-color brgray	#b7c5d3;
@define-color brred	#f7768e;
@define-color brgreen	#9ece6a;
@define-color bryellow	#b7c5d3;
@define-color brblue	#7aa2f7;
@define-color brpurple	#bb9af7;
@define-color braqua	#89ddff;
@define-color white	#d8e2ec;
@define-color bg2	#1d252c;
