@define-color black	rgba(14,9,29,0.8);
@define-color red	#c53253;
@define-color green	#a68e5a;
@define-color yellow	#ff6565;
@define-color blue	#6e6080;
@define-color purple	#a45782;
@define-color aqua	#8c9785;
@define-color gray	#74316b;
@define-color brgray	#8c406f;
@define-color brred	#c53253;
@define-color brgreen	#a68e5a;
@define-color bryellow	#ff6565;
@define-color brblue	#6e6080;
@define-color brpurple	#a45782;
@define-color braqua	#8c9785;
@define-color white	#aa556f;
@define-color bg2	#2a153c;
