# COLOUR (base16)
@define-color black	rgba(19,31,31,0.8);
@define-color red	#d7586e;
@define-color green	#59d678;
@define-color yellow	#dfe754;
@define-color blue	#4ed2d2;
@define-color purple	#a874e0;
@define-color aqua	#76dbd2;
@define-color gray	#3e5c53;
@define-color brgray	#6d9877;
@define-color brred	#d7586e;
@define-color brgreen	#59d678;
@define-color bryellow	#dfe754;
@define-color brblue	#4ed2d2;
@define-color brpurple	#a874e0;
@define-color braqua	#76dbd2;
@define-color white	#98c1a3;
@define-color bg2	#213132;
