@define-color black	rgba(0,0,0,0.8);
@define-color red	#fb0120;
@define-color green	#a1c659;
@define-color yellow	#fda331;
@define-color blue	#6fb3d2;
@define-color purple	#d381c3;
@define-color aqua	#76c7b7;
@define-color gray	#b0b0b0;
@define-color brgray	#d0d0d0;
@define-color brred	#fb0120;
@define-color brgreen	#a1c659;
@define-color bryellow	#fda331;
@define-color brblue	#6fb3d2;
@define-color brpurple	#d381c3;
@define-color braqua	#76c7b7;
@define-color white	#e0e0e0;
@define-color bg2	#303030;
