@define-color black	rgba(5,8,10,0.8);
@define-color red	#ffd4e9;
@define-color green	#f7ddff;
@define-color yellow	#fbebc8;
@define-color blue	#c9fff7;
@define-color purple	#dcc3f9;
@define-color aqua	#c5edc1;
@define-color gray	#141f27;
@define-color brgray	#192630;
@define-color brred	#ffd4e9;
@define-color brgreen	#f7ddff;
@define-color bryellow	#fbebc8;
@define-color brblue	#c9fff7;
@define-color brpurple	#dcc3f9;
@define-color braqua	#c5edc1;
@define-color white	#dce2f7;
@define-color bg2	#0a1014;
@define-color brblack	#0f181e;
