# COLOUR (base16)
@define-color black	rgba(13,12,12,0.8);
@define-color red	#c4746e;
@define-color green	#87a987;
@define-color yellow	#c4b28a;
@define-color blue	#8ba4b0;
@define-color purple	#8992a7;
@define-color aqua	#8ea4a2;
@define-color gray	#737c73;
@define-color brgray	#a6a69c;
@define-color brred	#c4746e;
@define-color brgreen	#87a987;
@define-color bryellow	#c4b28a;
@define-color brblue	#8ba4b0;
@define-color brpurple	#8992a7;
@define-color braqua	#8ea4a2;
@define-color white	#c5c9c5;
@define-color bg2	#1d1c19;
