# COLOUR (base16)
@define-color black	rgba(30,30,63,0.8);
@define-color red	#d90429;
@define-color green	#3ad900;
@define-color yellow	#ffe700;
@define-color blue	#6943ff;
@define-color purple	#ff2c70;
@define-color aqua	#00c5c7;
@define-color gray	#808080;
@define-color brgray	#6871ff;
@define-color brred	#d90429;
@define-color brgreen	#3ad900;
@define-color bryellow	#ffe700;
@define-color brblue	#6943ff;
@define-color brpurple	#ff2c70;
@define-color braqua	#00c5c7;
@define-color white	#c7c7c7;
@define-color bg2	#43d426;
