@define-color black	rgba(248,248,248,0.8);
@define-color red	#ab4642;
@define-color green	#a1b56c;
@define-color yellow	#f7ca88;
@define-color blue	#7cafc2;
@define-color purple	#ba8baf;
@define-color aqua	#86c1b9;
@define-color gray	#b8b8b8;
@define-color brgray	#585858;
@define-color brred	#ab4642;
@define-color brgreen	#a1b56c;
@define-color bryellow	#f7ca88;
@define-color brblue	#7cafc2;
@define-color brpurple	#ba8baf;
@define-color braqua	#86c1b9;
@define-color white	#383838;
@define-color bg2	#e8e8e8;
@define-color brblack	#d8d8d8;
