@define-color black	rgba(30,30,46,0.8);
@define-color red	#f38ba8;
@define-color green	#a6e3a1;
@define-color yellow	#f9e2af;
@define-color blue	#89b4fa;
@define-color purple	#cba6f7;
@define-color aqua	#94e2d5;
@define-color gray	#45475a;
@define-color brgray	#585b70;
@define-color brred	#f38ba8;
@define-color brgreen	#a6e3a1;
@define-color bryellow	#f9e2af;
@define-color brblue	#89b4fa;
@define-color brpurple	#cba6f7;
@define-color braqua	#94e2d5;
@define-color white	#cdd6f4;
@define-color bg2	#181825;
