@define-color black	rgba(33,33,33,0.8);
@define-color red	#e1a7bf;
@define-color green	#80d778;
@define-color yellow	#79afd2;
@define-color blue	#254a49;
@define-color purple	#a380d3;
@define-color aqua	#14ab9c;
@define-color gray	#c0f1f8;
@define-color brgray	#81e2f0;
@define-color brred	#ffccd8;
@define-color brgreen	#bdffa8;
@define-color bryellow	#79afd2;
@define-color brblue	#79afd2;
@define-color brpurple	#c4a7d8;
@define-color braqua	#8bdee0;
@define-color white	#42d3e8;
@define-color bg2	#212121;
