@define-color black	rgba(40,36,32,0.8);
@define-color red	#c84134;
@define-color green	#84c44b;
@define-color yellow	#5ed9ff;
@define-color blue	#1397b9;
@define-color purple	#d0623c;
@define-color aqua	#4f9452;
@define-color gray	#857769;
@define-color brgray	#a5917e;
@define-color brred	#ff6459;
@define-color brgreen	#97e035;
@define-color bryellow	#5ed9ff;
@define-color brblue	#5ed9ff;
@define-color brpurple	#ff9168;
@define-color braqua	#83ef88;
@define-color white	#c5ab93;
@define-color bg2	#111417;
@define-color brblack	#665e54;
