@define-color black	rgba(33,33,33,0.8);
@define-color red	#d35a5f;
@define-color green	#afba66;
@define-color yellow	#e5d289;
@define-color blue	#a0b9d5;
@define-color purple	#bf92d5;
@define-color aqua	#91beb6;
@define-color gray	#6f6f6f;
@define-color brgray	#8c8c8c;
@define-color brred	#d3222e;
@define-color brgreen	#aabb39;
@define-color bryellow	#e5d289;
@define-color brblue	#6599d5;
@define-color brpurple	#aa52d5;
@define-color braqua	#5fbfad;
@define-color white	#a6a6a6;
@define-color bg2	#313131;
