@define-color black	rgba(63,63,63,0.8);
@define-color red	#e24345;
@define-color green	#38b139;
@define-color yellow	#7a90d5;
@define-color blue	#4260c5;
@define-color purple	#f81ffb;
@define-color aqua	#29bad3;
@define-color gray	#f2ebe6;
@define-color brgray	#e7dad0;
@define-color brred	#e86f71;
@define-color brgreen	#9bc08f;
@define-color bryellow	#7a90d5;
@define-color brblue	#7a90d5;
@define-color brpurple	#f674b9;
@define-color braqua	#5ed1e4;
@define-color white	#dcc9ba;
@define-color bg2	#000000;
