@define-color black	rgba(13,15,24,0.8);
@define-color red	#ff000f;
@define-color green	#8ce00a;
@define-color yellow	#0092ff;
@define-color blue	#008df8;
@define-color purple	#6c43a5;
@define-color aqua	#00d7eb;
@define-color gray	#727272;
@define-color brgray	#a1a1a1;
@define-color brred	#ff273f;
@define-color brgreen	#abe05a;
@define-color bryellow	#0092ff;
@define-color brblue	#0092ff;
@define-color brpurple	#9a5feb;
@define-color braqua	#67ffef;
@define-color white	#d0d0d0;
@define-color bg2	#222222;
