# COLOUR (base16)
@define-color black	rgba(252,254,253,0.8);
@define-color red	#f9906f;
@define-color green	#8ab361;
@define-color yellow	#f0c239;
@define-color blue	#b0a4e3;
@define-color purple	#cca4e3;
@define-color aqua	#30dff3;
@define-color gray	#cad8d2;
@define-color brgray	#9da8a3;
@define-color brred	#f9906f;
@define-color brgreen	#8ab361;
@define-color bryellow	#f0c239;
@define-color brblue	#b0a4e3;
@define-color brpurple	#cca4e3;
@define-color braqua	#30dff3;
@define-color white	#5a605d;
@define-color bg2	#ecf6f2;
