# COLOUR (base16)
@define-color black	rgba(13,15,19,0.8);
@define-color red	#f58c81;
@define-color green	#54c794;
@define-color yellow	#a9b852;
@define-color blue	#6eb2fd;
@define-color purple	#b69cf6;
@define-color aqua	#00c4d7;
@define-color gray	#636363;
@define-color brgray	#aeaeae;
@define-color brred	#f58c81;
@define-color brgreen	#54c794;
@define-color bryellow	#a9b852;
@define-color brblue	#6eb2fd;
@define-color brpurple	#b69cf6;
@define-color braqua	#00c4d7;
@define-color white	#dedede;
@define-color bg2	#181b1f;
