@define-color black	rgba(251,241,199,0.8);
@define-color red	#cc241d;
@define-color green	#98971a;
@define-color yellow	#d79921;
@define-color blue	#458588;
@define-color purple	#b16286;
@define-color aqua	#689d6a;
@define-color gray	#bdae93;
@define-color brgray	#7c6f64;
@define-color brred	#cc241d;
@define-color brgreen	#98971a;
@define-color bryellow	#d79921;
@define-color brblue	#458588;
@define-color brpurple	#b16286;
@define-color braqua	#689d6a;
@define-color white	#3c3836;
@define-color bg2	#ebdbb2;
@define-color brblack	#d5c4a1;
