# COLOUR (base24)
@define-color black	rgba(247,247,247,0.8);
@define-color red	#c80d41;
@define-color green	#208839;
@define-color yellow	#1085d9;
@define-color blue	#1d44dd;
@define-color purple	#6d1bed;
@define-color aqua	#1e4d7a;
@define-color gray	#a6a7ae;
@define-color brgray	#6f6f74;
@define-color brred	#fb496d;
@define-color brgreen	#34b253;
@define-color bryellow	#1085d9;
@define-color brblue	#1085d9;
@define-color brpurple	#c00cb2;
@define-color braqua	#5a7fac;
@define-color white	#38383a;
@define-color bg2	#cbccd4;
