# COLOUR (base16)
@define-color black	rgba(23,30,31,0.8);
@define-color red	#ff4658;
@define-color green	#499180;
@define-color yellow	#fdb11f;
@define-color blue	#498091;
@define-color purple	#9bc0c8;
@define-color aqua	#66d9ef;
@define-color gray	#555e5f;
@define-color brgray	#818f80;
@define-color brred	#ff4658;
@define-color brgreen	#499180;
@define-color bryellow	#fdb11f;
@define-color brblue	#498091;
@define-color brpurple	#9bc0c8;
@define-color braqua	#66d9ef;
@define-color white	#c7c7a5;
@define-color bg2	#252c2d;
