# COLOUR (base24)
@define-color black	rgba(42,43,50,0.8);
@define-color red	#e45649;
@define-color green	#4fa14f;
@define-color yellow	#c0aa00;
@define-color blue	#0084bc;
@define-color purple	#a625a4;
@define-color aqua	#0996b3;
@define-color gray	#797c84;
@define-color brgray	#a4a6ab;
@define-color brred	#df6c75;
@define-color brgreen	#98c379;
@define-color bryellow	#c0aa00;
@define-color brblue	#61afef;
@define-color brpurple	#c577dd;
@define-color braqua	#56b5c1;
@define-color white	#cfd0d2;
@define-color bg2	#373942;
