# COLOUR (base16)
@define-color black	rgba(31,31,40,0.8);
@define-color red	#c34043;
@define-color green	#76946a;
@define-color yellow	#c0a36e;
@define-color blue	#7e9cd8;
@define-color purple	#957fb8;
@define-color aqua	#6a9589;
@define-color gray	#54546d;
@define-color brgray	#727169;
@define-color brred	#c34043;
@define-color brgreen	#76946a;
@define-color bryellow	#c0a36e;
@define-color brblue	#7e9cd8;
@define-color brpurple	#957fb8;
@define-color braqua	#6a9589;
@define-color white	#dcd7ba;
@define-color bg2	#16161d;
