@define-color black	rgba(0,0,0,0.8);
@define-color red	#f5708a;
@define-color green	#54bc5c;
@define-color yellow	#b8a300;
@define-color blue	#00aff2;
@define-color purple	#9095ff;
@define-color aqua	#00bab3;
@define-color gray	#505050;
@define-color brgray	#b0b0b0;
@define-color brred	#f5708a;
@define-color brgreen	#54bc5c;
@define-color bryellow	#b8a300;
@define-color brblue	#00aff2;
@define-color brpurple	#9095ff;
@define-color braqua	#00bab3;
@define-color white	#d0d0d0;
@define-color bg2	#202020;
