@define-color black	rgba(249,245,215,0.8);
@define-color red	#9d0006;
@define-color green	#79740e;
@define-color yellow	#b57614;
@define-color blue	#076678;
@define-color purple	#8f3f71;
@define-color aqua	#427b58;
@define-color gray	#bdae93;
@define-color brgray	#665c54;
@define-color brred	#9d0006;
@define-color brgreen	#79740e;
@define-color bryellow	#b57614;
@define-color brblue	#076678;
@define-color brpurple	#8f3f71;
@define-color braqua	#427b58;
@define-color white	#504945;
@define-color bg2	#ebdbb2;
@define-color brblack	#d5c4a1;
