@define-color black	rgba(32,8,74,0.8);
@define-color red	#ff260d;
@define-color green	#9ae204;
@define-color yellow	#00a5ff;
@define-color blue	#00a1f9;
@define-color purple	#805bb5;
@define-color aqua	#00ddef;
@define-color gray	#7f7f7f;
@define-color brgray	#a9aaaa;
@define-color brred	#ff4250;
@define-color brgreen	#b8e36d;
@define-color bryellow	#00a5ff;
@define-color brblue	#00a5ff;
@define-color brpurple	#ab7aef;
@define-color braqua	#74fcf3;
@define-color white	#d3d4d4;
@define-color bg2	#000000;
@define-color brblack	#555555;
