@define-color black	rgba(0,0,0,0.8);
@define-color red	#ff004d;
@define-color green	#00e756;
@define-color yellow	#fff024;
@define-color blue	#83769c;
@define-color purple	#ff77a8;
@define-color aqua	#29adff;
@define-color gray	#008751;
@define-color brgray	#ab5236;
@define-color brred	#ff004d;
@define-color brgreen	#00e756;
@define-color bryellow	#fff024;
@define-color brblue	#83769c;
@define-color brpurple	#ff77a8;
@define-color braqua	#29adff;
@define-color white	#5f574f;
@define-color bg2	#1d2b53;
@define-color brblack	#7e2553;
