@define-color black	rgba(29,32,33,0.8);
@define-color red	#d72638;
@define-color green	#88b92d;
@define-color yellow	#f19d1a;
@define-color blue	#1e8bac;
@define-color purple	#be4264;
@define-color aqua	#1ba595;
@define-color gray	#6f7579;
@define-color brgray	#cdcdcd;
@define-color brred	#d72638;
@define-color brgreen	#88b92d;
@define-color bryellow	#f19d1a;
@define-color brblue	#1e8bac;
@define-color brpurple	#be4264;
@define-color braqua	#1ba595;
@define-color white	#d5d5d5;
@define-color bg2	#383c3e;
