# COLOUR (base16)
@define-color black	rgba(245,247,250,0.8);
@define-color red	#ef5253;
@define-color green	#7cc844;
@define-color yellow	#e4b51c;
@define-color blue	#33b5e1;
@define-color purple	#a363d5;
@define-color aqua	#52cbb0;
@define-color gray	#85939e;
@define-color brgray	#667581;
@define-color brred	#ef5253;
@define-color brgreen	#7cc844;
@define-color bryellow	#e4b51c;
@define-color brblue	#33b5e1;
@define-color brpurple	#a363d5;
@define-color braqua	#52cbb0;
@define-color white	#586875;
@define-color bg2	#e8e9ed;
