@define-color black	rgba(50,41,49,0.8);
@define-color red	#dd464c;
@define-color green	#8fc13e;
@define-color yellow	#989498;
@define-color blue	#1290bf;
@define-color purple	#c85e7c;
@define-color aqua	#149b93;
@define-color gray	#898388;
@define-color brgray	#999498;
@define-color brred	#fd8b19;
@define-color brgreen	#433b42;
@define-color bryellow	#989498;
@define-color brblue	#989498;
@define-color brpurple	#d5d3d5;
@define-color braqua	#b33508;
@define-color white	#a9a4a8;
@define-color bg2	#322931;
