@define-color black	rgba(28,30,38,0.8);
@define-color red	#e93c58;
@define-color green	#efaf8e;
@define-color yellow	#efb993;
@define-color blue	#df5273;
@define-color purple	#b072d1;
@define-color aqua	#24a8b4;
@define-color gray	#6f6f70;
@define-color brgray	#9da0a2;
@define-color brred	#e93c58;
@define-color brgreen	#efaf8e;
@define-color bryellow	#efb993;
@define-color brblue	#df5273;
@define-color brpurple	#b072d1;
@define-color braqua	#24a8b4;
@define-color white	#cbced0;
@define-color bg2	#232530;
@define-color brblack	#2e303e;
