@define-color black	rgba(48,52,70,0.8);
@define-color red	#e78284;
@define-color green	#a6d189;
@define-color yellow	#e5c890;
@define-color blue	#8caaee;
@define-color purple	#ca9ee6;
@define-color aqua	#81c8be;
@define-color gray	#51576d;
@define-color brgray	#626880;
@define-color brred	#ea999c;
@define-color brgreen	#a6d189;
@define-color bryellow	#e5c890;
@define-color brblue	#85c1dc;
@define-color brpurple	#f4b8e4;
@define-color braqua	#99d1db;
@define-color white	#c6d0f5;
@define-color bg2	#292c3c;
