# COLOUR (base16)
@define-color black	rgba(12,17,24,0.8);
@define-color red	#f04339;
@define-color green	#7f8b00;
@define-color yellow	#bb8801;
@define-color blue	#008dd1;
@define-color purple	#6a7fd2;
@define-color aqua	#00948b;
@define-color gray	#7b776e;
@define-color brgray	#949088;
@define-color brred	#f04339;
@define-color brgreen	#7f8b00;
@define-color bryellow	#bb8801;
@define-color brblue	#008dd1;
@define-color brpurple	#6a7fd2;
@define-color braqua	#00948b;
@define-color white	#afaba2;
@define-color bg2	#181c22;
