@define-color black	rgba(118,36,35,0.8);
@define-color red	#d52e4d;
@define-color green	#71be6b;
@define-color yellow	#65a9f0;
@define-color blue	#479bed;
@define-color purple	#e878d6;
@define-color aqua	#6bbeb8;
@define-color gray	#525252;
@define-color brgray	#7e7e7e;
@define-color brred	#e02453;
@define-color brgreen	#aff08b;
@define-color bryellow	#65a9f0;
@define-color brblue	#65a9f0;
@define-color brpurple	#ddb7df;
@define-color braqua	#b7dfdd;
@define-color white	#aaaaaa;
@define-color bg2	#000000;
