@define-color black	rgba(24,38,47,0.8);
@define-color red	#ef5253;
@define-color green	#7cc844;
@define-color yellow	#e4b51c;
@define-color blue	#33b5e1;
@define-color purple	#a363d5;
@define-color aqua	#52cbb0;
@define-color gray	#667581;
@define-color brgray	#85939e;
@define-color brred	#ef5253;
@define-color brgreen	#7cc844;
@define-color bryellow	#e4b51c;
@define-color brblue	#33b5e1;
@define-color brpurple	#a363d5;
@define-color braqua	#52cbb0;
@define-color white	#a6afb8;
@define-color bg2	#222e38;
