@define-color black	rgba(21,21,21,0.8);
@define-color red	#fb9fb1;
@define-color green	#acc267;
@define-color yellow	#ddb26f;
@define-color blue	#6fc2ef;
@define-color purple	#e1a3ee;
@define-color aqua	#12cfc0;
@define-color gray	#505050;
@define-color brgray	#b0b0b0;
@define-color brred	#fb9fb1;
@define-color brgreen	#acc267;
@define-color bryellow	#ddb26f;
@define-color brblue	#6fc2ef;
@define-color brpurple	#e1a3ee;
@define-color braqua	#12cfc0;
@define-color white	#d0d0d0;
@define-color bg2	#202020;
@define-color brblack	#303030;
