@define-color black	rgba(24,24,24,0.8);
@define-color red	#f43841;
@define-color green	#73c936;
@define-color yellow	#ffdd33;
@define-color blue	#96a6c8;
@define-color purple	#9e95c7;
@define-color aqua	#95a99f;
@define-color gray	#52494e;
@define-color brgray	#e4e4ef;
@define-color brred	#f43841;
@define-color brgreen	#73c936;
@define-color bryellow	#ffdd33;
@define-color brblue	#96a6c8;
@define-color brpurple	#9e95c7;
@define-color braqua	#95a99f;
@define-color white	#f4f4ff;
@define-color bg2	#453d41;
