@define-color black	rgba(15,15,15,0.8);
@define-color red	#ac8a8c;
@define-color green	#8aac8b;
@define-color yellow	#aca98a;
@define-color blue	#8f8aac;
@define-color purple	#ac8aac;
@define-color aqua	#8aabac;
@define-color gray	#393939;
@define-color brgray	#4c4c4c;
@define-color brred	#c49ea0;
@define-color brgreen	#9ec49f;
@define-color bryellow	#aca98a;
@define-color brblue	#a39ec4;
@define-color brpurple	#c49ec4;
@define-color braqua	#9ec3c4;
@define-color white	#cacaca;
@define-color bg2	#191919;
