@define-color black	rgba(36,39,40,0.8);
@define-color red	#ff0090;
@define-color green	#b5ff00;
@define-color yellow	#7febff;
@define-color blue	#47dffb;
@define-color purple	#d630ff;
@define-color aqua	#0effbb;
@define-color gray	#818484;
@define-color brgray	#a1a3a3;
@define-color brred	#fb57b4;
@define-color brgreen	#deff8b;
@define-color bryellow	#7febff;
@define-color brblue	#7febff;
@define-color brpurple	#e681ff;
@define-color braqua	#68fcd2;
@define-color white	#c1c2c2;
@define-color bg2	#232628;
@define-color brblack	#626566;
