@define-color black	rgba(0,0,0,0.8);
@define-color red	#a82ee6;
@define-color green	#4595e6;
@define-color yellow	#f29df2;
@define-color blue	#4136d9;
@define-color purple	#7e5ce6;
@define-color aqua	#40dfff;
@define-color gray	#593380;
@define-color brgray	#00ff00;
@define-color brred	#a82ee6;
@define-color brgreen	#4595e6;
@define-color bryellow	#f29df2;
@define-color brblue	#4136d9;
@define-color brpurple	#7e5ce6;
@define-color braqua	#40dfff;
@define-color white	#b08ae6;
@define-color bg2	#231a40;
