@define-color black	rgba(43,48,59,0.8);
@define-color red	#bf616a;
@define-color green	#a3be8c;
@define-color yellow	#ebcb8b;
@define-color blue	#8fa1b3;
@define-color purple	#b48ead;
@define-color aqua	#96b5b4;
@define-color gray	#65737e;
@define-color brgray	#a7adba;
@define-color brred	#bf616a;
@define-color brgreen	#a3be8c;
@define-color bryellow	#ebcb8b;
@define-color brblue	#8fa1b3;
@define-color brpurple	#b48ead;
@define-color braqua	#96b5b4;
@define-color white	#c0c5ce;
@define-color bg2	#343d46;
@define-color brblack	#4f5b66;
