# COLOUR (base16)
@define-color black	rgba(40,44,52,0.8);
@define-color red	#83a598;
@define-color green	#528b8b;
@define-color yellow	#a07e3b;
@define-color blue	#83a598;
@define-color purple	#d75f5f;
@define-color aqua	#83a598;
@define-color gray	#665c54;
@define-color brgray	#928374;
@define-color brred	#83a598;
@define-color brgreen	#528b8b;
@define-color bryellow	#a07e3b;
@define-color brblue	#83a598;
@define-color brpurple	#d75f5f;
@define-color braqua	#83a598;
@define-color white	#a89984;
@define-color bg2	#2c323b;
