# COLOUR (base24)
@define-color black	rgba(33,33,28,0.8);
@define-color red	#97280f;
@define-color green	#479942;
@define-color yellow	#78d8d8;
@define-color blue	#497f7d;
@define-color purple	#7e4e2e;
@define-color aqua	#387f58;
@define-color gray	#5f5d50;
@define-color brgray	#6a665c;
@define-color brred	#df502a;
@define-color brgreen	#60e06f;
@define-color bryellow	#78d8d8;
@define-color brblue	#78d8d8;
@define-color brpurple	#cd7c53;
@define-color braqua	#58d598;
@define-color white	#756f68;
@define-color bg2	#3c3b30;
