# COLOUR (base16)
@define-color black	rgba(40,43,53,0.8);
@define-color red	#b21889;
@define-color green	#df0002;
@define-color yellow	#438288;
@define-color blue	#790ead;
@define-color purple	#b21889;
@define-color aqua	#00a0be;
@define-color gray	#686a71;
@define-color brgray	#7e8086;
@define-color brred	#b21889;
@define-color brgreen	#df0002;
@define-color bryellow	#438288;
@define-color brblue	#790ead;
@define-color brpurple	#b21889;
@define-color braqua	#00a0be;
@define-color white	#939599;
@define-color bg2	#3d4048;
