@define-color black	rgba(1,4,9,0.8);
@define-color red	#ff7b72;
@define-color green	#3fb950;
@define-color yellow	#d29922;
@define-color blue	#58a6ff;
@define-color purple	#f778ba;
@define-color aqua	#a5d6ff;
@define-color gray	#484f58;
@define-color brgray	#8b949e;
@define-color brred	#ff7b72;
@define-color brgreen	#3fb950;
@define-color bryellow	#d29922;
@define-color brblue	#58a6ff;
@define-color brpurple	#f778ba;
@define-color braqua	#a5d6ff;
@define-color white	#b1bac4;
@define-color bg2	#21262d;
@define-color brblack	#30363d;
