@define-color black	rgba(27,29,30,0.8);
@define-color red	#e60712;
@define-color green	#e22828;
@define-color yellow	#1d4fff;
@define-color blue	#2b3fff;
@define-color purple	#2435db;
@define-color aqua	#3255ff;
@define-color gray	#7b7d7c;
@define-color brgray	#a7a8a5;
@define-color brred	#ff0325;
@define-color brgreen	#ff3238;
@define-color bryellow	#1d4fff;
@define-color brblue	#1d4fff;
@define-color brpurple	#737bff;
@define-color braqua	#6083ff;
@define-color white	#d3d3cd;
@define-color bg2	#1b1d1e;
