@define-color black	rgba(30,32,39,0.8);
@define-color red	#f71041;
@define-color green	#23974a;
@define-color yellow	#189ffd;
@define-color blue	#285afe;
@define-color purple	#8c62fd;
@define-color aqua	#366f99;
@define-color gray	#7b8494;
@define-color brgray	#969faf;
@define-color brred	#fb496d;
@define-color brgreen	#37bc58;
@define-color bryellow	#189ffd;
@define-color brblue	#189ffd;
@define-color brpurple	#fb57f6;
@define-color braqua	#4fabad;
@define-color white	#b1bac9;
@define-color bg2	#494f5c;
