@define-color black	rgba(0,30,38,0.8);
@define-color red	#d01b24;
@define-color green	#728905;
@define-color yellow	#708183;
@define-color blue	#2075c7;
@define-color purple	#c61b6e;
@define-color aqua	#259185;
@define-color gray	#6e7c7b;
@define-color brgray	#979e96;
@define-color brred	#bd3612;
@define-color brgreen	#465a61;
@define-color bryellow	#708183;
@define-color brblue	#708183;
@define-color brpurple	#5856b9;
@define-color braqua	#81908f;
@define-color white	#c0c0b0;
@define-color bg2	#002731;
@define-color brblack	#465a61;
