@define-color black	rgba(0,0,0,0.8);
@define-color red	#bb0000;
@define-color green	#5ede8f;
@define-color yellow	#5555ff;
@define-color blue	#266ad7;
@define-color purple	#bb00bb;
@define-color aqua	#00d9df;
@define-color gray	#6e6e6e;
@define-color brgray	#888888;
@define-color brred	#ff5555;
@define-color brgreen	#55ff55;
@define-color bryellow	#5555ff;
@define-color brblue	#5555ff;
@define-color brpurple	#ff55ff;
@define-color braqua	#55ffff;
@define-color white	#a1a1a1;
@define-color bg2	#4c4c4c;
@define-color brblack	#555555;
