@define-color black	rgba(248,248,248,0.8);
@define-color red	#ab4642;
@define-color green	#538947;
@define-color yellow	#f79a0e;
@define-color blue	#7cafc2;
@define-color purple	#96609e;
@define-color aqua	#4b8093;
@define-color gray	#b8b8b8;
@define-color brgray	#585858;
@define-color brred	#ab4642;
@define-color brgreen	#538947;
@define-color bryellow	#f79a0e;
@define-color brblue	#7cafc2;
@define-color brpurple	#96609e;
@define-color braqua	#4b8093;
@define-color white	#383838;
@define-color bg2	#e8e8e8;
@define-color brblack	#d8d8d8;
