@define-color black	rgba(35,44,49,0.8);
@define-color red	#2a5491;
@define-color green	#237986;
@define-color yellow	#a03b1e;
@define-color blue	#484d79;
@define-color purple	#c59820;
@define-color aqua	#b02f30;
@define-color gray	#3f4944;
@define-color brgray	#84898c;
@define-color brred	#2a5491;
@define-color brgreen	#237986;
@define-color bryellow	#a03b1e;
@define-color brblue	#484d79;
@define-color brpurple	#c59820;
@define-color braqua	#b02f30;
@define-color white	#9ea7a6;
@define-color bg2	#1c3657;
