# COLOUR (base16)
@define-color black	rgba(33,33,33,0.8);
@define-color red	#f92672;
@define-color green	#a6e22e;
@define-color yellow	#e6db74;
@define-color blue	#66d9ef;
@define-color purple	#9e6ffe;
@define-color aqua	#708387;
@define-color gray	#4a4a4a;
@define-color brgray	#707070;
@define-color brred	#f92672;
@define-color brgreen	#a6e22e;
@define-color bryellow	#e6db74;
@define-color brblue	#66d9ef;
@define-color brpurple	#9e6ffe;
@define-color braqua	#708387;
@define-color white	#cdcdcd;
@define-color bg2	#303030;
