@define-color black	rgba(40,42,54,0.8);
@define-color red	#ff5c57;
@define-color green	#5af78e;
@define-color yellow	#f3f99d;
@define-color blue	#57c7ff;
@define-color purple	#ff6ac1;
@define-color aqua	#9aedfe;
@define-color gray	#78787e;
@define-color brgray	#a5a5a9;
@define-color brred	#ff5c57;
@define-color brgreen	#5af78e;
@define-color bryellow	#f3f99d;
@define-color brblue	#57c7ff;
@define-color brpurple	#ff6ac1;
@define-color braqua	#9aedfe;
@define-color white	#e2e4e5;
@define-color bg2	#34353e;
