@define-color black	rgba(29,32,33,0.8);
@define-color red	#fb543f;
@define-color green	#95c085;
@define-color yellow	#fac03b;
@define-color blue	#0d6678;
@define-color purple	#8f4673;
@define-color aqua	#8ba59b;
@define-color gray	#665c54;
@define-color brgray	#928374;
@define-color brred	#fb543f;
@define-color brgreen	#95c085;
@define-color bryellow	#fac03b;
@define-color brblue	#0d6678;
@define-color brpurple	#8f4673;
@define-color braqua	#8ba59b;
@define-color white	#a89984;
@define-color bg2	#32302f;
@define-color brblack	#504945;
