@define-color black	rgba(0,28,31,0.8);
@define-color red	#d3464d;
@define-color green	#63b784;
@define-color yellow	#f3b863;
@define-color blue	#568ccf;
@define-color purple	#8b66d6;
@define-color aqua	#4fb7ae;
@define-color gray	#004852;
@define-color brgray	#0093a3;
@define-color brred	#d3464d;
@define-color brgreen	#63b784;
@define-color bryellow	#f3b863;
@define-color brblue	#568ccf;
@define-color brpurple	#8b66d6;
@define-color braqua	#4fb7ae;
@define-color white	#d4e1e8;
@define-color bg2	#002931;
