@define-color black	rgba(43,43,43,0.8);
@define-color red	#cdaf95;
@define-color green	#a7ff60;
@define-color yellow	#86bdc9;
@define-color blue	#75a5b0;
@define-color purple	#ff73fd;
@define-color aqua	#59647e;
@define-color gray	#7c7c7c;
@define-color brgray	#929292;
@define-color brred	#eecbad;
@define-color brgreen	#bcee68;
@define-color bryellow	#86bdc9;
@define-color brblue	#86bdc9;
@define-color brpurple	#e500e5;
@define-color braqua	#8c9bc3;
@define-color white	#a8a8a8;
@define-color bg2	#000000;
@define-color brblack	#666666;
