@define-color black	rgba(251,241,242,0.8);
@define-color red	#d57e85;
@define-color green	#a3b367;
@define-color yellow	#dcb16c;
@define-color blue	#7297b9;
@define-color purple	#bb99b4;
@define-color aqua	#69a9a7;
@define-color gray	#bfb9c6;
@define-color brgray	#a59daf;
@define-color brred	#d57e85;
@define-color brgreen	#a3b367;
@define-color bryellow	#dcb16c;
@define-color brblue	#7297b9;
@define-color brpurple	#bb99b4;
@define-color braqua	#69a9a7;
@define-color white	#8b8198;
@define-color bg2	#f2f1f4;
@define-color brblack	#d8d5dd;
