# COLOUR (base24)
@define-color black	rgba(10,30,36,0.8);
@define-color red	#e35a00;
@define-color green	#5cab96;
@define-color yellow	#67a0cd;
@define-color blue	#0e548b;
@define-color purple	#e35a00;
@define-color aqua	#06afc7;
@define-color gray	#897558;
@define-color brgray	#ab9e7f;
@define-color brred	#ff8a39;
@define-color brgreen	#adcab8;
@define-color bryellow	#67a0cd;
@define-color brblue	#67a0cd;
@define-color brpurple	#ff8a39;
@define-color braqua	#83a6b3;
@define-color white	#cdc7a6;
@define-color bg2	#6e5246;
