# COLOUR (base24)
@define-color black	rgba(5,0,20,0.8);
@define-color red	#7c1525;
@define-color green	#337e6f;
@define-color yellow	#8e86df;
@define-color blue	#4f4a7f;
@define-color purple	#593f7e;
@define-color aqua	#57767f;
@define-color gray	#463c53;
@define-color brgray	#554d61;
@define-color brred	#df5066;
@define-color brgreen	#52e0c4;
@define-color bryellow	#8e86df;
@define-color brblue	#8e86df;
@define-color brpurple	#a675df;
@define-color braqua	#9ad3df;
@define-color white	#645d6f;
@define-color bg2	#230045;
