# COLOUR (base16)
@define-color black	rgba(28,30,32,0.8);
@define-color red	#ff8782;
@define-color green	#95b658;
@define-color yellow	#d0a543;
@define-color blue	#68b0ee;
@define-color purple	#b799fe;
@define-color aqua	#42bda7;
@define-color gray	#858585;
@define-color brgray	#a8a8a7;
@define-color brred	#ff8782;
@define-color brgreen	#95b658;
@define-color bryellow	#d0a543;
@define-color brblue	#68b0ee;
@define-color brpurple	#b799fe;
@define-color braqua	#42bda7;
@define-color white	#b8b7b6;
@define-color bg2	#292b2d;
