@define-color black	rgba(52,61,70,0.8);
@define-color red	#cc6666;
@define-color green	#b5bd68;
@define-color yellow	#f0c674;
@define-color blue	#81a2be;
@define-color purple	#b294bb;
@define-color aqua	#8abeb7;
@define-color gray	#a7adba;
@define-color brgray	#c0c5ce;
@define-color brred	#cc6666;
@define-color brgreen	#b5bd68;
@define-color bryellow	#f0c674;
@define-color brblue	#81a2be;
@define-color brpurple	#b294bb;
@define-color braqua	#8abeb7;
@define-color white	#dfe1e8;
@define-color bg2	#4f5b66;
@define-color brblack	#65737e;
