@define-color black	rgba(31,32,34,0.8);
@define-color red	#f2241f;
@define-color green	#67b11d;
@define-color yellow	#b1951d;
@define-color blue	#4f97d7;
@define-color purple	#a31db1;
@define-color aqua	#2d9574;
@define-color gray	#585858;
@define-color brgray	#b8b8b8;
@define-color brred	#f2241f;
@define-color brgreen	#67b11d;
@define-color bryellow	#b1951d;
@define-color brblue	#4f97d7;
@define-color brpurple	#a31db1;
@define-color braqua	#2d9574;
@define-color white	#a3a3a3;
@define-color bg2	#282828;
