@define-color black	rgba(255,255,255,0.8);
@define-color red	#bf0000;
@define-color green	#008400;
@define-color yellow	#af8500;
@define-color blue	#0054cf;
@define-color purple	#6b40c3;
@define-color aqua	#009a8a;
@define-color gray	#878787;
@define-color brgray	#878787;
@define-color brred	#bf0000;
@define-color brgreen	#008400;
@define-color bryellow	#af8500;
@define-color brblue	#0054cf;
@define-color brpurple	#6b40c3;
@define-color braqua	#009a8a;
@define-color white	#474747;
@define-color bg2	#ebebeb;
@define-color brblack	#cdcdcd;
