# COLOUR (base24)
@define-color black	rgba(25,19,34,0.8);
@define-color red	#ff6a7e;
@define-color green	#00bc9b;
@define-color yellow	#91fff3;
@define-color blue	#22e8df;
@define-color purple	#dc3969;
@define-color aqua	#55b6c1;
@define-color gray	#727985;
@define-color brgray	#9ca1a9;
@define-color brred	#fd9ea1;
@define-color brgreen	#97c378;
@define-color bryellow	#91fff3;
@define-color brblue	#91fff3;
@define-color brpurple	#da70d5;
@define-color braqua	#bcf2fe;
@define-color white	#c6c9cd;
@define-color bg2	#16141e;
