@define-color black	rgba(10,9,32,0.8);
@define-color red	#f768a3;
@define-color green	#a2faa8;
@define-color yellow	#f7d668;
@define-color blue	#258fc4;
@define-color purple	#c368f7;
@define-color aqua	#a2faf0;
@define-color gray	#333773;
@define-color brgray	#4a5293;
@define-color brred	#f768a3;
@define-color brgreen	#a2faa8;
@define-color bryellow	#f7d668;
@define-color brblue	#258fc4;
@define-color brpurple	#c368f7;
@define-color braqua	#a2faf0;
@define-color white	#606bac;
@define-color bg2	#13133a;
@define-color brblack	#23255a;
