@define-color black	rgba(255,255,255,0.8);
@define-color red	#d3423e;
@define-color green	#2aa298;
@define-color yellow	#dac801;
@define-color blue	#4876d6;
@define-color purple	#403f53;
@define-color aqua	#08916a;
@define-color gray	#b1b4b4;
@define-color brgray	#717575;
@define-color brred	#f76e6e;
@define-color brgreen	#49d0c5;
@define-color bryellow	#dac801;
@define-color brblue	#5ca7e4;
@define-color brpurple	#697098;
@define-color braqua	#00c990;
@define-color white	#585b5b;
@define-color bg2	#e5e6e6;
