@define-color black	rgba(19,18,19,0.8);
@define-color red	#b00b69;
@define-color green	#9ddf69;
@define-color yellow	#ffcc00;
@define-color blue	#008080;
@define-color purple	#a24030;
@define-color aqua	#714ca6;
@define-color gray	#ffbee3;
@define-color brgray	#9b2a46;
@define-color brred	#b00b69;
@define-color brgreen	#9ddf69;
@define-color bryellow	#ffcc00;
@define-color brblue	#008080;
@define-color brpurple	#a24030;
@define-color braqua	#714ca6;
@define-color white	#f15c99;
@define-color bg2	#2f1823;
@define-color brblack	#472234;
