@define-color black	rgba(29,29,29,0.8);
@define-color red	#ce3e60;
@define-color green	#7bb75b;
@define-color yellow	#135879;
@define-color blue	#4c99d3;
@define-color purple	#a57fc4;
@define-color aqua	#389aac;
@define-color gray	#80827f;
@define-color brgray	#a8aaa7;
@define-color brred	#d18ea6;
@define-color brgreen	#767e2b;
@define-color bryellow	#135879;
@define-color brblue	#135879;
@define-color brpurple	#5f4190;
@define-color braqua	#76bbca;
@define-color white	#d0d2ce;
@define-color bg2	#343835;
@define-color brblack	#585a58;
