# COLOUR (base16)
@define-color black	rgba(12,12,12,0.8);
@define-color red	#e74856;
@define-color green	#16c60c;
@define-color yellow	#f9f1a5;
@define-color blue	#3b78ff;
@define-color purple	#b4009e;
@define-color aqua	#61d6d6;
@define-color gray	#767676;
@define-color brgray	#b9b9b9;
@define-color brred	#e74856;
@define-color brgreen	#16c60c;
@define-color bryellow	#f9f1a5;
@define-color brblue	#3b78ff;
@define-color brpurple	#b4009e;
@define-color braqua	#61d6d6;
@define-color white	#cccccc;
@define-color bg2	#2f2f2f;
