@define-color black	rgba(24,24,24,0.8);
@define-color red	#ed4a46;
@define-color green	#70b433;
@define-color yellow	#dbb32d;
@define-color blue	#368aeb;
@define-color purple	#a580e2;
@define-color aqua	#3fc5b7;
@define-color gray	#777777;
@define-color brgray	#777777;
@define-color brred	#ed4a46;
@define-color brgreen	#70b433;
@define-color bryellow	#dbb32d;
@define-color brblue	#368aeb;
@define-color brpurple	#a580e2;
@define-color braqua	#3fc5b7;
@define-color white	#b9b9b9;
@define-color bg2	#252525;
@define-color brblack	#3b3b3b;
