@define-color black	rgba(51,60,67,0.8);
@define-color red	#e67e80;
@define-color green	#a7c080;
@define-color yellow	#dbbc7f;
@define-color blue	#7fbbb3;
@define-color purple	#d699b6;
@define-color aqua	#83c092;
@define-color gray	#859289;
@define-color brgray	#9da9a0;
@define-color brred	#e67e80;
@define-color brgreen	#a7c080;
@define-color bryellow	#dbbc7f;
@define-color brblue	#7fbbb3;
@define-color brpurple	#d699b6;
@define-color braqua	#83c092;
@define-color white	#d3c6aa;
@define-color bg2	#3a464c;
@define-color brblack	#4d5960;
