# COLOUR (base16)
@define-color black	rgba(254,237,243,0.8);
@define-color red	#df2d52;
@define-color green	#2e916d;
@define-color yellow	#c29461;
@define-color blue	#006e93;
@define-color purple	#5e2180;
@define-color aqua	#1d8991;
@define-color gray	#755f64;
@define-color brgray	#665055;
@define-color brred	#df2d52;
@define-color brgreen	#2e916d;
@define-color bryellow	#c29461;
@define-color brblue	#006e93;
@define-color brpurple	#5e2180;
@define-color braqua	#1d8991;
@define-color white	#564448;
@define-color bg2	#f8e2e7;
