@define-color black	rgba(43,43,43,0.8);
@define-color red	#4eade5;
@define-color green	#6a8759;
@define-color yellow	#bbb529;
@define-color blue	#9876aa;
@define-color purple	#cc7832;
@define-color aqua	#629755;
@define-color gray	#606366;
@define-color brgray	#a4a3a3;
@define-color brred	#4eade5;
@define-color brgreen	#6a8759;
@define-color bryellow	#bbb529;
@define-color brblue	#9876aa;
@define-color brpurple	#cc7832;
@define-color braqua	#629755;
@define-color white	#a9b7c6;
@define-color bg2	#323232;
@define-color brblack	#323232;
