@define-color black	rgba(255,255,255,0.8);
@define-color red	#c41a15;
@define-color green	#007400;
@define-color yellow	#826b28;
@define-color blue	#0000ff;
@define-color purple	#a90d91;
@define-color aqua	#318495;
@define-color gray	#808080;
@define-color brgray	#808080;
@define-color brred	#c41a15;
@define-color brgreen	#007400;
@define-color bryellow	#826b28;
@define-color brblue	#0000ff;
@define-color brpurple	#a90d91;
@define-color braqua	#318495;
@define-color white	#404040;
@define-color bg2	#c0c0c0;
@define-color brblack	#c0c0c0;
