@define-color black	rgba(30,42,36,0.8);
@define-color red	#c60c30;
@define-color green	#009b3a;
@define-color yellow	#f9e300;
@define-color blue	#522398;
@define-color purple	#e27ea6;
@define-color aqua	#00a1de;
@define-color gray	#5f7368;
@define-color brgray	#8a9a91;
@define-color brred	#c60c30;
@define-color brgreen	#009b3a;
@define-color bryellow	#f9e300;
@define-color brblue	#522398;
@define-color brpurple	#e27ea6;
@define-color braqua	#00a1de;
@define-color white	#a7b8af;
@define-color bg2	#2a3b32;
@define-color brblack	#364c40;
