# COLOUR (base24)
@define-color black	rgba(34,36,54,0.8);
@define-color red	#c099ff;
@define-color green	#c3e88d;
@define-color yellow	#ffc777;
@define-color blue	#82aaff;
@define-color purple	#fca7ea;
@define-color aqua	#86e1fc;
@define-color gray	#444a73;
@define-color brgray	#828bb8;
@define-color brred	#ff757f;
@define-color brgreen	#c3e88d;
@define-color bryellow	#ffc777;
@define-color brblue	#82aaff;
@define-color brpurple	#fca7ea;
@define-color braqua	#86e1fc;
@define-color white	#c8d3f5;
@define-color bg2	#1e2030;
