# COLOUR (base24)
@define-color black	rgba(31,36,48,0.8);
@define-color red	#f28779;
@define-color green	#d5ff80;
@define-color yellow	#ffd173;
@define-color blue	#73d0ff;
@define-color purple	#d4bfff;
@define-color aqua	#95e6cb;
@define-color gray	#4a5059;
@define-color brgray	#707a8c;
@define-color brred	#ff6666;
@define-color brgreen	#87d963;
@define-color bryellow	#ffd173;
@define-color brblue	#80b0ff;
@define-color brpurple	#b692ff;
@define-color braqua	#5ccfe6;
@define-color white	#cccac2;
@define-color bg2	#242936;
