# COLOUR (base24)
@define-color black	rgba(0,0,0,0.8);
@define-color red	#ff6b60;
@define-color green	#a7ff60;
@define-color yellow	#b5dcfe;
@define-color blue	#96cafd;
@define-color purple	#ff73fd;
@define-color aqua	#c6c4fd;
@define-color gray	#989898;
@define-color brgray	#b5b5b5;
@define-color brred	#ffb6b0;
@define-color brgreen	#ceffab;
@define-color bryellow	#b5dcfe;
@define-color brblue	#b5dcfe;
@define-color brpurple	#ff9cfe;
@define-color braqua	#dfdffe;
@define-color white	#d1d1d1;
@define-color bg2	#4e4e4e;
