@define-color black	rgba(33,34,36,0.8);
@define-color red	#cf0d17;
@define-color green	#128033;
@define-color yellow	#4fc2fd;
@define-color blue	#006ab3;
@define-color purple	#6a2674;
@define-color aqua	#384563;
@define-color gray	#807672;
@define-color brgray	#a49e9b;
@define-color brred	#ef7d17;
@define-color brgreen	#b1d130;
@define-color bryellow	#4fc2fd;
@define-color brblue	#4fc2fd;
@define-color brpurple	#de0070;
@define-color braqua	#5c4f49;
@define-color white	#c8c5c4;
@define-color bg2	#000000;
@define-color brblack	#5c4f49;
