@define-color black	rgba(12,13,14,0.8);
@define-color red	#e31a1c;
@define-color green	#31a354;
@define-color yellow	#dca060;
@define-color blue	#3182bd;
@define-color purple	#756bb1;
@define-color aqua	#80b1d3;
@define-color gray	#737475;
@define-color brgray	#959697;
@define-color brred	#e31a1c;
@define-color brgreen	#31a354;
@define-color bryellow	#dca060;
@define-color brblue	#3182bd;
@define-color brpurple	#756bb1;
@define-color braqua	#80b1d3;
@define-color white	#b7b8b9;
@define-color bg2	#2e2f30;
