# COLOUR (base24)
@define-color black	rgba(14,16,10,0.8);
@define-color red	#c70031;
@define-color green	#29cf13;
@define-color yellow	#97a4f7;
@define-color blue	#3449d1;
@define-color purple	#8400ff;
@define-color aqua	#0798ab;
@define-color gray	#7c777c;
@define-color brgray	#9e959e;
@define-color brred	#f01578;
@define-color brgreen	#6ce05c;
@define-color bryellow	#97a4f7;
@define-color brblue	#97a4f7;
@define-color brpurple	#c495f0;
@define-color braqua	#68f2e0;
@define-color white	#c0b3c0;
@define-color bg2	#4d4d4d;
