@define-color black	rgba(40,42,54,0.8);
@define-color red	#ff5555;
@define-color green	#50fa7b;
@define-color yellow	#f1fa8c;
@define-color blue	#80bfff;
@define-color purple	#ff79c6;
@define-color aqua	#8be9fd;
@define-color gray	#6272a4;
@define-color brgray	#9ea8c7;
@define-color brred	#f28c8c;
@define-color brgreen	#a3f5b8;
@define-color bryellow	#f1fa8c;
@define-color brblue	#a3ccf5;
@define-color brpurple	#f5a3d2;
@define-color braqua	#baedf7;
@define-color white	#f8f8f2;
@define-color bg2	#363447;
@define-color brblack	#44475a;
