@define-color black	rgba(30,28,49,0.8);
@define-color red	#ff5458;
@define-color green	#62d196;
@define-color yellow	#91ddff;
@define-color blue	#65b2ff;
@define-color purple	#906cff;
@define-color aqua	#63f2f1;
@define-color gray	#6a6c8a;
@define-color brgray	#7e84a0;
@define-color brred	#ff8080;
@define-color brgreen	#95ffa4;
@define-color bryellow	#91ddff;
@define-color brblue	#91ddff;
@define-color brpurple	#c991e1;
@define-color braqua	#aaffe4;
@define-color white	#929bb6;
@define-color bg2	#141127;
@define-color brblack	#565575;
