@define-color black	rgba(40,47,50,0.8);
@define-color red	#ca1d2c;
@define-color green	#edb7ab;
@define-color yellow	#7c84c4;
@define-color blue	#2e78c1;
@define-color purple	#c0226e;
@define-color aqua	#309185;
@define-color gray	#415050;
@define-color brgray	#79817a;
@define-color brred	#d35f5a;
@define-color brgreen	#d35f5a;
@define-color bryellow	#7c84c4;
@define-color brblue	#7c84c4;
@define-color brpurple	#5b5db2;
@define-color braqua	#81908f;
@define-color white	#b1b1a3;
@define-color bg2	#282f32;
