@define-color black	rgba(254,255,255,0.8);
@define-color red	#f80059;
@define-color green	#5bb66a;
@define-color yellow	#bd9701;
@define-color blue	#5ba2b6;
@define-color purple	#8f6c97;
@define-color aqua	#47f9f5;
@define-color gray	#9c92a8;
@define-color brgray	#7b6d8b;
@define-color brred	#f80059;
@define-color brgreen	#5bb66a;
@define-color bryellow	#bd9701;
@define-color brblue	#5ba2b6;
@define-color brpurple	#8f6c97;
@define-color braqua	#47f9f5;
@define-color white	#5a496e;
@define-color bg2	#dedae2;
@define-color brblack	#bdb6c5;
