@define-color black	rgba(0,0,0,0.8);
@define-color red	#fc5454;
@define-color green	#54fc54;
@define-color yellow	#fcfc54;
@define-color blue	#5454fc;
@define-color purple	#fc54fc;
@define-color aqua	#54fcfc;
@define-color gray	#545454;
@define-color brgray	#7e7e7e;
@define-color brred	#fc5454;
@define-color brgreen	#54fc54;
@define-color bryellow	#fcfc54;
@define-color brblue	#5454fc;
@define-color brpurple	#fc54fc;
@define-color braqua	#54fcfc;
@define-color white	#a8a8a8;
@define-color bg2	#1c1c1c;
