@define-color black	rgba(20,20,20,0.8);
@define-color red	#c06c43;
@define-color green	#afb979;
@define-color yellow	#5a5d61;
@define-color blue	#444649;
@define-color purple	#b4be7b;
@define-color aqua	#778284;
@define-color gray	#5c5c51;
@define-color brgray	#92927c;
@define-color brred	#dd7c4c;
@define-color brgreen	#cbd88c;
@define-color bryellow	#5a5d61;
@define-color brblue	#5a5d61;
@define-color brpurple	#d0db8e;
@define-color braqua	#8a989a;
@define-color white	#c8c8a7;
@define-color bg2	#141414;
