# COLOUR (base24)
@define-color black	rgba(17,11,13,0.8);
@define-color red	#9b281b;
@define-color green	#626132;
@define-color yellow	#9eb2b3;
@define-color blue	#515b5c;
@define-color purple	#9b1d29;
@define-color aqua	#588056;
@define-color gray	#a26734;
@define-color brgray	#be8c41;
@define-color brred	#ff4230;
@define-color brgreen	#b3b163;
@define-color bryellow	#9eb2b3;
@define-color brblue	#9eb2b3;
@define-color brpurple	#ff5b6a;
@define-color braqua	#89cc8e;
@define-color white	#dab14e;
@define-color bg2	#341a0d;
