@define-color black	rgba(28,32,35,0.8);
@define-color red	#c7ae95;
@define-color green	#95c7ae;
@define-color yellow	#aec795;
@define-color blue	#ae95c7;
@define-color purple	#c795ae;
@define-color aqua	#95aec7;
@define-color gray	#747c84;
@define-color brgray	#adb3ba;
@define-color brred	#c7ae95;
@define-color brgreen	#95c7ae;
@define-color bryellow	#aec795;
@define-color brblue	#ae95c7;
@define-color brpurple	#c795ae;
@define-color braqua	#95aec7;
@define-color white	#c7ccd1;
@define-color bg2	#393f45;
@define-color brblack	#565e65;
