@define-color black	rgba(3,26,22,0.8);
@define-color red	#3e9688;
@define-color green	#883e96;
@define-color yellow	#3e4c96;
@define-color blue	#96883e;
@define-color purple	#4c963e;
@define-color aqua	#963e4c;
@define-color gray	#2b685e;
@define-color brgray	#5f9c92;
@define-color brred	#3e9688;
@define-color brgreen	#883e96;
@define-color bryellow	#3e4c96;
@define-color brblue	#96883e;
@define-color brpurple	#4c963e;
@define-color braqua	#963e4c;
@define-color white	#81b5ac;
@define-color bg2	#0b342d;
