@define-color black	rgba(235,248,255,0.8);
@define-color red	#d22d72;
@define-color green	#568c3b;
@define-color yellow	#8a8a0f;
@define-color blue	#257fad;
@define-color purple	#6b6bb8;
@define-color aqua	#2d8f6f;
@define-color gray	#7195a8;
@define-color brgray	#5a7b8c;
@define-color brred	#d22d72;
@define-color brgreen	#568c3b;
@define-color bryellow	#8a8a0f;
@define-color brblue	#257fad;
@define-color brpurple	#6b6bb8;
@define-color braqua	#2d8f6f;
@define-color white	#516d7b;
@define-color bg2	#c1e4f6;
@define-color brblack	#7ea2b4;
