# COLOUR (base24)
@define-color black	rgba(36,18,0,0.8);
@define-color red	#d5252b;
@define-color green	#909b00;
@define-color yellow	#7cc9ce;
@define-color blue	#4698a2;
@define-color purple	#8c4231;
@define-color aqua	#d98112;
@define-color gray	#957f58;
@define-color brgray	#ad955c;
@define-color brred	#e4591b;
@define-color brgreen	#bfc659;
@define-color bryellow	#7cc9ce;
@define-color brblue	#7cc9ce;
@define-color brpurple	#d16349;
@define-color braqua	#e6a96b;
@define-color white	#c5ab60;
@define-color bg2	#000000;
