@define-color black	rgba(255,252,240,0.8);
@define-color red	#af3029;
@define-color green	#66800b;
@define-color yellow	#ad8301;
@define-color blue	#205ea6;
@define-color purple	#5e409d;
@define-color aqua	#24837b;
@define-color gray	#cecdc3;
@define-color brgray	#9f9d96;
@define-color brred	#af3029;
@define-color brgreen	#66800b;
@define-color bryellow	#ad8301;
@define-color brblue	#205ea6;
@define-color brpurple	#5e409d;
@define-color braqua	#24837b;
@define-color white	#403e3c;
@define-color bg2	#f2f0e5;
