@define-color black	rgba(255,255,255,0.8);
@define-color red	#800000;
@define-color green	#008000;
@define-color yellow	#808000;
@define-color blue	#000080;
@define-color purple	#800080;
@define-color aqua	#008080;
@define-color gray	#c0c0c0;
@define-color brgray	#a0a0a0;
@define-color brred	#800000;
@define-color brgreen	#008000;
@define-color bryellow	#808000;
@define-color brblue	#000080;
@define-color brpurple	#800080;
@define-color braqua	#008080;
@define-color white	#808080;
@define-color bg2	#eaeaea;
