@define-color black	rgba(4,21,35,0.8);
@define-color red	#818591;
@define-color green	#977d7c;
@define-color yellow	#adb4b9;
@define-color blue	#977d7c;
@define-color purple	#9198a3;
@define-color aqua	#977d7c;
@define-color gray	#7a5759;
@define-color brgray	#6b6977;
@define-color brred	#818591;
@define-color brgreen	#977d7c;
@define-color bryellow	#adb4b9;
@define-color brblue	#977d7c;
@define-color brpurple	#9198a3;
@define-color braqua	#977d7c;
@define-color white	#5b778c;
@define-color bg2	#122339;
@define-color brblack	#003552;
