@define-color black	rgba(36,29,26,0.8);
@define-color red	#f6998f;
@define-color green	#b6c68a;
@define-color yellow	#ffc37a;
@define-color blue	#b0a4c3;
@define-color purple	#d8a2b0;
@define-color aqua	#c0bcdb;
@define-color gray	#594740;
@define-color brgray	#a78e84;
@define-color brred	#f6998f;
@define-color brgreen	#b6c68a;
@define-color bryellow	#ffc37a;
@define-color brblue	#b0a4c3;
@define-color brpurple	#d8a2b0;
@define-color braqua	#c0bcdb;
@define-color white	#b8a59d;
@define-color bg2	#362b27;
