# COLOUR (base16)
@define-color black	rgba(38,50,56,0.8);
@define-color red	#ec5f67;
@define-color green	#8bd649;
@define-color yellow	#ffcc00;
@define-color blue	#89ddff;
@define-color purple	#82aaff;
@define-color aqua	#80cbc4;
@define-color gray	#707880;
@define-color brgray	#c9ccd3;
@define-color brred	#ec5f67;
@define-color brgreen	#8bd649;
@define-color bryellow	#ffcc00;
@define-color brblue	#89ddff;
@define-color brpurple	#82aaff;
@define-color braqua	#80cbc4;
@define-color white	#cdd3de;
@define-color bg2	#2c393f;
