# COLOUR (base16)
@define-color black	rgba(42,59,77,0.8);
@define-color red	#c4676c;
@define-color green	#66ff66;
@define-color yellow	#ffff66;
@define-color blue	#15f4ee;
@define-color purple	#9c6cd3;
@define-color aqua	#4b8f77;
@define-color gray	#55799c;
@define-color brgray	#7e90a3;
@define-color brred	#c4676c;
@define-color brgreen	#66ff66;
@define-color bryellow	#ffff66;
@define-color brblue	#15f4ee;
@define-color brpurple	#9c6cd3;
@define-color braqua	#4b8f77;
@define-color white	#9fa2a6;
@define-color bg2	#3d566f;
