@define-color black	rgba(14,12,21,0.8);
@define-color red	#64002c;
@define-color green	#5d731a;
@define-color yellow	#40a4cf;
@define-color blue	#1d6da1;
@define-color purple	#b7077e;
@define-color aqua	#42a38c;
@define-color gray	#634e67;
@define-color brgray	#937f82;
@define-color brred	#d02063;
@define-color brgreen	#b4ce59;
@define-color bryellow	#40a4cf;
@define-color brblue	#40a4cf;
@define-color brpurple	#f12aae;
@define-color braqua	#62caa8;
@define-color white	#c3af9d;
@define-color bg2	#08002e;
@define-color brblack	#331e4d;
