@define-color black	rgba(38,38,38,0.8);
@define-color red	#d25151;
@define-color green	#a5c261;
@define-color yellow	#8ab7d9;
@define-color blue	#6c99bb;
@define-color purple	#d197d9;
@define-color aqua	#bed6ff;
@define-color gray	#797979;
@define-color brgray	#a0a09f;
@define-color brred	#f00c0c;
@define-color brgreen	#c2e075;
@define-color bryellow	#8ab7d9;
@define-color brblue	#8ab7d9;
@define-color brpurple	#efb5f7;
@define-color braqua	#dcf3ff;
@define-color white	#c7c7c5;
@define-color bg2	#343434;
