@define-color black	rgba(239,234,232,0.8);
@define-color red	#a75045;
@define-color green	#7a894a;
@define-color yellow	#ce943e;
@define-color blue	#625574;
@define-color purple	#8d5968;
@define-color aqua	#847f9e;
@define-color gray	#c0aca4;
@define-color brgray	#59453d;
@define-color brred	#a75045;
@define-color brgreen	#7a894a;
@define-color bryellow	#ce943e;
@define-color brblue	#625574;
@define-color brpurple	#8d5968;
@define-color braqua	#847f9e;
@define-color white	#473731;
@define-color bg2	#dfd6d1;
