@define-color black	rgba(0,33,31,0.8);
@define-color red	#ce7e8e;
@define-color green	#56c16f;
@define-color yellow	#bfac4e;
@define-color blue	#88b0da;
@define-color purple	#b39be0;
@define-color aqua	#62c0be;
@define-color gray	#ababab;
@define-color brgray	#c3c3c3;
@define-color brred	#ce7e8e;
@define-color brgreen	#56c16f;
@define-color bryellow	#bfac4e;
@define-color brblue	#88b0da;
@define-color brpurple	#b39be0;
@define-color braqua	#62c0be;
@define-color white	#dcdcdc;
@define-color bg2	#003a38;
@define-color brblack	#005453;
