# COLOUR (base16)
@define-color black	rgba(229,233,240,0.8);
@define-color red	#99324b;
@define-color green	#4f894c;
@define-color yellow	#9a7500;
@define-color blue	#3b6ea8;
@define-color purple	#97365b;
@define-color aqua	#398eac;
@define-color gray	#aebacf;
@define-color brgray	#60728c;
@define-color brred	#99324b;
@define-color brgreen	#4f894c;
@define-color bryellow	#9a7500;
@define-color brblue	#3b6ea8;
@define-color brpurple	#97365b;
@define-color braqua	#398eac;
@define-color white	#2e3440;
@define-color bg2	#c2d0e7;
