@define-color black	rgba(33,32,36,0.8);
@define-color red	#ab2e30;
@define-color green	#31ab60;
@define-color yellow	#4487ff;
@define-color blue	#2c56ab;
@define-color purple	#af8427;
@define-color aqua	#1fa5ab;
@define-color gray	#664b46;
@define-color brgray	#726168;
@define-color brred	#ff3d48;
@define-color brgreen	#3bff99;
@define-color bryellow	#4487ff;
@define-color brblue	#4487ff;
@define-color brpurple	#ffc21c;
@define-color braqua	#1efaff;
@define-color white	#7e7789;
@define-color bg2	#000000;
@define-color brblack	#5a3625;
