@define-color black	rgba(35,54,74,0.8);
@define-color red	#be2d26;
@define-color green	#199171;
@define-color yellow	#33a5d9;
@define-color blue	#325d96;
@define-color purple	#8a5ddb;
@define-color aqua	#35a08f;
@define-color gray	#2f8288;
@define-color brgray	#2b9c86;
@define-color brred	#dd5943;
@define-color brgreen	#30cf7b;
@define-color bryellow	#33a5d9;
@define-color brblue	#33a5d9;
@define-color brpurple	#ad6bdc;
@define-color braqua	#41c3ad;
@define-color white	#27b684;
@define-color bg2	#2c3f57;
