@define-color black	rgba(38,38,38,0.8);
@define-color red	#d75f5f;
@define-color green	#afaf00;
@define-color yellow	#ffaf00;
@define-color blue	#83adad;
@define-color purple	#d485ad;
@define-color aqua	#85ad85;
@define-color gray	#8a8a8a;
@define-color brgray	#949494;
@define-color brred	#d75f5f;
@define-color brgreen	#afaf00;
@define-color bryellow	#ffaf00;
@define-color brblue	#83adad;
@define-color brpurple	#d485ad;
@define-color braqua	#85ad85;
@define-color white	#dab997;
@define-color bg2	#3a3a3a;
