# COLOUR (base16)
@define-color black	rgba(250,250,250,0.8);
@define-color red	#ca1243;
@define-color green	#50a14f;
@define-color yellow	#c18401;
@define-color blue	#4078f2;
@define-color purple	#a626a4;
@define-color aqua	#0184bc;
@define-color gray	#a0a1a7;
@define-color brgray	#696c77;
@define-color brred	#ca1243;
@define-color brgreen	#50a14f;
@define-color bryellow	#c18401;
@define-color brblue	#4078f2;
@define-color brpurple	#a626a4;
@define-color braqua	#0184bc;
@define-color white	#383a42;
@define-color bg2	#f0f0f1;
