@define-color black	rgba(242,244,248,0.8);
@define-color red	#ff7eb6;
@define-color green	#42be65;
@define-color yellow	#ff6f00;
@define-color blue	#0f62fe;
@define-color purple	#be95ff;
@define-color aqua	#673ab7;
@define-color gray	#a1acba;
@define-color brgray	#68788d;
@define-color brred	#ff7eb6;
@define-color brgreen	#42be65;
@define-color bryellow	#ff6f00;
@define-color brblue	#0f62fe;
@define-color brpurple	#be95ff;
@define-color braqua	#673ab7;
@define-color white	#525f70;
@define-color bg2	#dde1e6;
