@define-color black	rgba(34,34,34,0.8);
@define-color red	#c88c8c;
@define-color green	#99c899;
@define-color yellow	#d8b56d;
@define-color blue	#537c9c;
@define-color purple	#86cacd;
@define-color aqua	#78b4b4;
@define-color gray	#644646;
@define-color brgray	#5a5a5a;
@define-color brred	#c88c8c;
@define-color brgreen	#99c899;
@define-color bryellow	#d8b56d;
@define-color brblue	#537c9c;
@define-color brpurple	#86cacd;
@define-color braqua	#78b4b4;
@define-color white	#dedee7;
@define-color bg2	#313131;
@define-color brblack	#555d55;
