@define-color black	rgba(34,34,33,0.8);
@define-color red	#b7141e;
@define-color green	#457b23;
@define-color yellow	#53a4f3;
@define-color blue	#134eb2;
@define-color purple	#550087;
@define-color aqua	#0e707c;
@define-color gray	#6d6d6d;
@define-color brgray	#989898;
@define-color brred	#e83a3f;
@define-color brgreen	#7aba39;
@define-color bryellow	#53a4f3;
@define-color brblue	#53a4f3;
@define-color brpurple	#a94dbb;
@define-color braqua	#26bad1;
@define-color white	#c3c3c3;
@define-color bg2	#212121;
@define-color brblack	#424242;
