@define-color black	rgba(38,38,38,0.8);
@define-color red	#c03900;
@define-color green	#a3a900;
@define-color yellow	#ffbd54;
@define-color blue	#bd6c00;
@define-color purple	#fb5d00;
@define-color aqua	#f79400;
@define-color gray	#8f6c41;
@define-color brgray	#b48b59;
@define-color brred	#ff8b67;
@define-color brgreen	#f6ff3f;
@define-color bryellow	#ffbd54;
@define-color brblue	#ffbd54;
@define-color brpurple	#fc874f;
@define-color braqua	#c59752;
@define-color white	#d9a971;
@define-color bg2	#000000;
