# COLOUR (base16)
@define-color black	rgba(22,19,15,0.8);
@define-color red	#826d57;
@define-color green	#57826d;
@define-color yellow	#6d8257;
@define-color blue	#6d5782;
@define-color purple	#82576d;
@define-color aqua	#576d82;
@define-color gray	#5a5047;
@define-color brgray	#8a8075;
@define-color brred	#826d57;
@define-color brgreen	#57826d;
@define-color bryellow	#6d8257;
@define-color brblue	#6d5782;
@define-color brpurple	#82576d;
@define-color braqua	#576d82;
@define-color white	#a39a90;
@define-color bg2	#2c2620;
