# COLOUR (base16)
@define-color black	rgba(251,251,253,0.8);
@define-color red	#8c4351;
@define-color green	#485e30;
@define-color yellow	#4c505e;
@define-color blue	#34548a;
@define-color purple	#5a4a78;
@define-color aqua	#4c505e;
@define-color gray	#9699a3;
@define-color brgray	#4c505e;
@define-color brred	#8c4351;
@define-color brgreen	#485e30;
@define-color bryellow	#4c505e;
@define-color brblue	#34548a;
@define-color brpurple	#5a4a78;
@define-color braqua	#4c505e;
@define-color white	#343b59;
@define-color bg2	#f6f6f8;
