@define-color black	rgba(241,241,241,0.8);
@define-color red	#c30771;
@define-color green	#10a778;
@define-color yellow	#20bbfc;
@define-color blue	#008ec4;
@define-color purple	#523c79;
@define-color aqua	#20a5ba;
@define-color gray	#676767;
@define-color brgray	#8d8d8d;
@define-color brred	#fb007a;
@define-color brgreen	#5fd7af;
@define-color bryellow	#20bbfc;
@define-color brblue	#20bbfc;
@define-color brpurple	#6855de;
@define-color braqua	#4fb8cc;
@define-color white	#b3b3b3;
@define-color bg2	#212121;
