# COLOUR (base16)
@define-color black	rgba(0,0,0,0.8);
@define-color red	#5f8787;
@define-color green	#f8f7f2;
@define-color yellow	#79241f;
@define-color blue	#888888;
@define-color purple	#999999;
@define-color aqua	#aaaaaa;
@define-color gray	#333333;
@define-color brgray	#999999;
@define-color brred	#5f8787;
@define-color brgreen	#f8f7f2;
@define-color bryellow	#79241f;
@define-color brblue	#888888;
@define-color brpurple	#999999;
@define-color braqua	#aaaaaa;
@define-color white	#c1c1c1;
@define-color bg2	#121212;
