@define-color black	rgba(0,0,0,0.8);
@define-color red	#c85a46;
@define-color green	#64c83c;
@define-color yellow	#a67a50;
@define-color blue	#5482af;
@define-color purple	#9472b4;
@define-color aqua	#468c78;
@define-color gray	#7c8d7c;
@define-color brgray	#919893;
@define-color brred	#c85a46;
@define-color brgreen	#64c83c;
@define-color bryellow	#a67a50;
@define-color brblue	#5482af;
@define-color brpurple	#9472b4;
@define-color braqua	#468c78;
@define-color white	#00ff00;
@define-color bg2	#4a806c;
@define-color brblack	#4a8d7e;
