@define-color black	rgba(24,22,22,0.8);
@define-color red	#c4746e;
@define-color green	#8a9a7b;
@define-color yellow	#c4b28a;
@define-color blue	#8ba4b0;
@define-color purple	#a292a3;
@define-color aqua	#8ea4a2;
@define-color gray	#625e5a;
@define-color brgray	#737c73;
@define-color brred	#e46876;
@define-color brgreen	#87a987;
@define-color bryellow	#c4b28a;
@define-color brblue	#7fb4ca;
@define-color brpurple	#938aa9;
@define-color braqua	#7aa89f;
@define-color white	#c5c9c5;
@define-color bg2	#282727;
@define-color brblack	#393836;
