# COLOUR (base24)
@define-color black	rgba(253,246,227,0.8);
@define-color red	#dc322f;
@define-color green	#859900;
@define-color yellow	#839496;
@define-color blue	#268bd2;
@define-color purple	#d33682;
@define-color aqua	#2aa198;
@define-color gray	#3b5a5d;
@define-color brgray	#778985;
@define-color brred	#cb4b16;
@define-color brgreen	#586e75;
@define-color bryellow	#839496;
@define-color brblue	#839496;
@define-color brpurple	#6c71c4;
@define-color braqua	#93a1a1;
@define-color white	#b2b8ad;
@define-color bg2	#073642;
