@define-color black	rgba(32,33,36,0.8);
@define-color red	#f44336;
@define-color green	#00e676;
@define-color yellow	#ffeb3b;
@define-color blue	#2196f3;
@define-color purple	#673ab7;
@define-color aqua	#00bcd4;
@define-color gray	#44464d;
@define-color brgray	#676c71;
@define-color brred	#f44336;
@define-color brgreen	#00e676;
@define-color bryellow	#ffeb3b;
@define-color brblue	#2196f3;
@define-color brpurple	#673ab7;
@define-color braqua	#00bcd4;
@define-color white	#80868b;
@define-color bg2	#27292c;
