@define-color black	rgba(240,240,240,0.8);
@define-color red	#d80000;
@define-color green	#30a860;
@define-color yellow	#fff018;
@define-color blue	#365eff;
@define-color purple	#9036ff;
@define-color aqua	#36d3ff;
@define-color gray	#a3a3a3;
@define-color brgray	#605758;
@define-color brred	#d80000;
@define-color brgreen	#30a860;
@define-color bryellow	#fff018;
@define-color brblue	#365eff;
@define-color brpurple	#9036ff;
@define-color braqua	#36d3ff;
@define-color white	#4c383b;
@define-color bg2	#d6d6d6;
@define-color brblack	#bdbdbd;
