@define-color black	rgba(36,39,58,0.8);
@define-color red	#ed8796;
@define-color green	#a6da95;
@define-color yellow	#eed49f;
@define-color blue	#8aadf4;
@define-color purple	#c6a0f6;
@define-color aqua	#8bd5ca;
@define-color gray	#6e738d;
@define-color brgray	#a5adcb;
@define-color brred	#ed8796;
@define-color brgreen	#a6da95;
@define-color bryellow	#eed49f;
@define-color brblue	#8aadf4;
@define-color brpurple	#c6a0f6;
@define-color braqua	#8bd5ca;
@define-color white	#cad3f5;
@define-color bg2	#363a4f;
@define-color brblack	#494d64;
