@define-color black	rgba(32,32,29,0.8);
@define-color red	#d73737;
@define-color green	#60ac39;
@define-color yellow	#ae9513;
@define-color blue	#6684e1;
@define-color purple	#b854d4;
@define-color aqua	#1fad83;
@define-color gray	#7d7a68;
@define-color brgray	#999580;
@define-color brred	#d73737;
@define-color brgreen	#60ac39;
@define-color bryellow	#ae9513;
@define-color brblue	#6684e1;
@define-color brpurple	#b854d4;
@define-color braqua	#1fad83;
@define-color white	#a6a28c;
@define-color bg2	#292824;
