# COLOUR (base16)
@define-color black	rgba({{base00-rgb-r}},{{base00-rgb-g}},{{base00-rgb-b}},0.8);
@define-color red	#{{base08-hex}};
@define-color green	#{{base0B-hex}};
@define-color yellow	#{{base0A-hex}};
@define-color blue	#{{base0D-hex}};
@define-color purple	#{{base0E-hex}};
@define-color aqua	#{{base0C-hex}};
@define-color gray	#{{base03-hex}};
@define-color brgray	#{{base04-hex}};
@define-color brred	#{{base08-hex}};
@define-color brgreen	#{{base0B-hex}};
@define-color bryellow	#{{base0A-hex}};
@define-color brblue	#{{base0D-hex}};
@define-color brpurple	#{{base0E-hex}};
@define-color braqua	#{{base0C-hex}};
@define-color white	#{{base05-hex}};
@define-color bg2	#{{base01-hex}};
